Repository tensorflow/addons, pull requests merged in 2019-02, with the labels that each got.

#31 Update repository description
  README.md
Labels: documentation

#28 Implement triplet_semihard_loss
  tensorflow_addons/losses/BUILD
  tensorflow_addons/losses/python/metric_learning.py
  tensorflow_addons/losses/python/triplet.py
  tensorflow_addons/losses/python/triplet_test.py
Labels: losses

#29 TF2 WeightNormalization
  tensorflow_addons/layers/BUILD
  tensorflow_addons/layers/python/wrappers.py
  tensorflow_addons/layers/python/wrappers_test.py
  tensorflow_addons/text/BUILD
Labels: layers

#35 migrate transform op
  tensorflow_addons/image/BUILD
  tensorflow_addons/image/cc/kernels/image_projective_transform_op.cc
  tensorflow_addons/image/cc/kernels/image_projective_transform_op.h
  tensorflow_addons/image/cc/kernels/image_projective_transform_op_gpu.cu.cc
  tensorflow_addons/image/cc/ops/image_ops.cc
  tensorflow_addons/image/python/transform.py
  tensorflow_addons/image/python/transform_test.py
  tensorflow_addons/text/python/skip_gram_ops.py
Labels: image

#30 Implement lifted_struct_loss
  tensorflow_addons/losses/BUILD
  tensorflow_addons/losses/python/lifted.py
  tensorflow_addons/losses/python/lifted_test.py
  tensorflow_addons/losses/python/triplet.py
Labels: losses

#51 ENH: Add documentation guidelines
  README.md
  tensorflow_addons/custom_ops/README.md
  tensorflow_addons/layers/README.md
  tensorflow_addons/losses/README.md
  tensorflow_addons/optimizers/README.md
Labels: cla: yes

#57 DOC: Add updates to BUILD in contrib guidelines
  tensorflow_addons/custom_ops/README.md
  tensorflow_addons/layers/README.md
  tensorflow_addons/losses/README.md
  tensorflow_addons/optimizers/README.md
  tensorflow_addons/utils/README.md
Labels: cla: yes

#59 DOC: Add calendar invite info
  README.md
Labels: cla: yes, documentation

#60 DOC: minor fix for readme
  CONTRIBUTING.md
  README.md
  tensorflow_addons/custom_ops/README.md
  tensorflow_addons/layers/README.md
  tensorflow_addons/losses/README.md
  tensorflow_addons/optimizers/README.md
Labels: cla: yes, documentation

#55 FIX: Use correct TF imports
  tensorflow_addons/custom_ops/image/python/transform.py
  tensorflow_addons/custom_ops/image/python/transform_test.py
  tensorflow_addons/custom_ops/text/python/skip_gram_ops.py
  tensorflow_addons/custom_ops/text/python/skip_gram_ops_test.py
  tensorflow_addons/layers/python/maxout.py
  tensorflow_addons/layers/python/maxout_test.py
  tensorflow_addons/layers/python/poincare.py
  tensorflow_addons/layers/python/poincare_test.py
  tensorflow_addons/layers/python/wrappers.py
  tensorflow_addons/layers/python/wrappers_test.py
  tensorflow_addons/losses/python/lifted.py
  tensorflow_addons/losses/python/lifted_test.py
  tensorflow_addons/losses/python/metric_learning.py
  tensorflow_addons/losses/python/triplet.py
  tensorflow_addons/losses/python/triplet_test.py
  tensorflow_addons/optimizers/python/lazy_adam_optimizer.py
  tensorflow_addons/optimizers/python/lazy_adam_optimizer_test.py
Labels: cla: yes
