Repository tensorflow/addons, pull requests merged in 2019-03, with the labels that each got.

#47 Issue templates
  .github/ISSUE_TEMPLATE/bug-performance-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: cla: no

#62 BUILD: Setup for release
  BUILD
  CODE_OF_CONDUCT.md
  README.md
  configure.sh
  requirements.txt
  setup.py
  tensorflow_addons/BUILD
  tensorflow_addons/__init__.py
  tensorflow_addons/losses/__init__.py
  tensorflow_addons/optimizers/__init__.py
  tensorflow_addons/version.py
Labels: build, cla: yes

#71 get changed files from common ancestor
  tools/ci_build/builds/builds_common.sh
Labels: cla: yes

#64 use code_format.sh to format all files
  configure.sh
  setup.py
  tensorflow_addons/BUILD
  tensorflow_addons/__init__.py
  tensorflow_addons/custom_ops/BUILD
  tensorflow_addons/custom_ops/image/BUILD
  tensorflow_addons/custom_ops/image/__init__.py
  tensorflow_addons/custom_ops/image/cc/kernels/image_projective_transform_op.cc
  tensorflow_addons/custom_ops/image/cc/kernels/image_projective_transform_op.h
  tensorflow_addons/custom_ops/image/cc/kernels/image_projective_transform_op_gpu.cu.cc
  tensorflow_addons/custom_ops/image/python/transform.py
  tensorflow_addons/custom_ops/image/python/transform_test.py
  tensorflow_addons/custom_ops/text/BUILD
  tensorflow_addons/custom_ops/text/__init__.py
  tensorflow_addons/custom_ops/text/cc/kernels/skip_gram_kernels.cc
  tensorflow_addons/custom_ops/text/python/skip_gram_ops.py
  tensorflow_addons/custom_ops/text/python/skip_gram_ops_test.py
  tensorflow_addons/examples/demo.py
  tensorflow_addons/layers/__init__.py
  tensorflow_addons/layers/python/maxout.py
  tensorflow_addons/layers/python/poincare.py
  tensorflow_addons/layers/python/wrappers.py
  tensorflow_addons/layers/python/wrappers_test.py
  tensorflow_addons/losses/BUILD
  tensorflow_addons/losses/__init__.py
  tensorflow_addons/losses/python/lifted_test.py
  tensorflow_addons/losses/python/metric_learning.py
  tensorflow_addons/losses/python/triplet.py
  tensorflow_addons/losses/python/triplet_test.py
  tensorflow_addons/optimizers/BUILD
  tensorflow_addons/optimizers/__init__.py
  tensorflow_addons/optimizers/python/lazy_adam_optimizer.py
  tensorflow_addons/optimizers/python/lazy_adam_optimizer_test.py
  tensorflow_addons/utils/BUILD
  tensorflow_addons/version.py
  tf_dependency/tf_configure.bzl
  tools/ci_build/builds/builds_common.sh
  tools/ci_build/ci_sanity.sh
  tools/ci_build/code_format.sh
  tools/ci_build/install/ci_requirements.txt
  tools/ci_build/yapfrc
  tools/test/check_futures_test.py
Labels: cla: yes, style

#70 move ci_testing into tools dir
  makefile
  tools/ci_testing/addons_cpu.sh
  tools/ci_testing/run_tests.sh
  tools/ci_testing/run_tests_failing.sh
Labels: build, cla: yes

#66 DOC: LazyAdamOptimizer example
  tensorflow_addons/examples/demo.py
  tensorflow_addons/examples/tfa_optimizer.py
Labels: cla: yes, documentation

#69 introduction about coding style
  CONTRIBUTING.md
  README.md
  STYLE_GUIDE.md
Labels: cla: no, documentation, style

#74 DOC: Add pip install
  README.md
Labels: cla: yes, documentation

#79 DOC: Add pypi and gitter badges
  README.md
Labels: cla: yes, documentation

#73 Adding a GPU test script.
  tools/ci_testing/addons_gpu.sh
Labels: cla: yes

#81 CLN: remove tf_test_util and keras.test_util
  tensorflow_addons/activations/BUILD
  tensorflow_addons/activations/README.md
  tensorflow_addons/custom_ops/README.md
  tensorflow_addons/custom_ops/image/BUILD
  tensorflow_addons/custom_ops/image/python/transform.py
  tensorflow_addons/custom_ops/image/python/transform_test.py
  tensorflow_addons/custom_ops/text/BUILD
  tensorflow_addons/custom_ops/text/python/skip_gram_ops_test.py
  tensorflow_addons/layers/README.md
  tensorflow_addons/layers/python/maxout_test.py
  tensorflow_addons/layers/python/poincare_test.py
  tensorflow_addons/layers/python/wrappers_test.py
  tensorflow_addons/losses/README.md
  tensorflow_addons/losses/python/lifted_test.py
  tensorflow_addons/losses/python/triplet_test.py
  tensorflow_addons/optimizers/README.md
  tensorflow_addons/optimizers/python/lazy_adam_optimizer_test.py
  tensorflow_addons/utils/python/test_utils.py
Labels: cla: yes

#14 Implementation of Normalizations
  README.md
  tensorflow_addons/layers/BUILD
  tensorflow_addons/layers/README.md
  tensorflow_addons/layers/__init__.py
  tensorflow_addons/layers/python/normalizations.py
  tensorflow_addons/layers/python/normalizations_test.py
Labels: cla: no, layers

#82 Fix style link
  CONTRIBUTING.md
Labels: cla: yes

#84 Added import instructions for addons.
  README.md
Labels: cla: yes

#67 Migrate distort image ops
  README.md
  tensorflow_addons/custom_ops/image/BUILD
  tensorflow_addons/custom_ops/image/__init__.py
  tensorflow_addons/custom_ops/image/cc/kernels/adjust_hsv_in_yiq_op.cc
  tensorflow_addons/custom_ops/image/cc/kernels/adjust_hsv_in_yiq_op.h
  tensorflow_addons/custom_ops/image/cc/kernels/adjust_hsv_in_yiq_op_gpu.cu.cc
  tensorflow_addons/custom_ops/image/cc/ops/distort_image_ops.cc
  tensorflow_addons/custom_ops/image/python/distort_image_ops.py
  tensorflow_addons/custom_ops/image/python/distort_image_ops_test.py
Labels: cla: yes, image

#87 Fix README typo in PoincareNormalize
  README.md
  tensorflow_addons/layers/README.md
Labels: cla: yes

#88 Adding Continuous build badges.
  README.md
Labels: cla: no

#90 rename ImageProjectiveTransform to ImageProjectiveTransformV2
  tensorflow_addons/custom_ops/image/cc/kernels/image_projective_transform_op.cc
  tensorflow_addons/custom_ops/image/cc/ops/image_ops.cc
  tensorflow_addons/custom_ops/image/python/transform.py
Labels: cla: yes, image

#92 FIX: testutil decorator
  tensorflow_addons/layers/python/sparsemax_test.py
Labels: cla: yes

#93 DOC: use logo for SIG/addons
  README.md
  static/SIGAddons.png
Labels: cla: no

#97 fix - In register_keras_custom_object decorator use public keras API
  tensorflow_addons/utils/keras_utils.py
Labels: cla: yes

#96 DOC update subpackages
  README.md
  tensorflow_addons/activations/README.md
  tensorflow_addons/image/README.md
  tensorflow_addons/layers/README.md
  tensorflow_addons/losses/README.md
  tensorflow_addons/optimizers/README.md
  tensorflow_addons/text/README.md
Labels: cla: yes, documentation

#72 Migrate tf.contrib.seq2seq to addons.
  tensorflow_addons/custom_ops/seq2seq/BUILD
  tensorflow_addons/custom_ops/seq2seq/cc/kernels/beam_search_ops.cc
  tensorflow_addons/custom_ops/seq2seq/cc/kernels/beam_search_ops.h
  tensorflow_addons/custom_ops/seq2seq/cc/kernels/beam_search_ops_gpu.cu.cc
  tensorflow_addons/custom_ops/seq2seq/cc/ops/beam_search_ops.cc
  tensorflow_addons/seq2seq/BUILD
  tensorflow_addons/seq2seq/README.md
  tensorflow_addons/seq2seq/__init__.py
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/attention_wrapper_test.py
  tensorflow_addons/seq2seq/basic_decoder.py
  tensorflow_addons/seq2seq/basic_decoder_test.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/seq2seq/beam_search_decoder_test.py
  tensorflow_addons/seq2seq/beam_search_ops_test.py
  tensorflow_addons/seq2seq/decoder.py
  tensorflow_addons/seq2seq/decoder_test.py
  tensorflow_addons/seq2seq/loss.py
  tensorflow_addons/seq2seq/loss_test.py
  tensorflow_addons/seq2seq/sampler.py
Labels: cla: yes

#99 Doc add seq2seq
  README.md
  tensorflow_addons/seq2seq/README.md
Labels: cla: yes

#100 CLN: Move links
  README.md
Labels: cla: yes

#32 focal loss implementation for tf keras
  tensorflow_addons/losses/BUILD
  tensorflow_addons/losses/README.md
  tensorflow_addons/losses/__init__.py
  tensorflow_addons/losses/focal_loss.py
  tensorflow_addons/losses/focal_loss_test.py
Labels: cla: no, losses

#101 FIX: Package seq2seq
  BUILD
  tensorflow_addons/__init__.py
Labels: build, cla: yes, seq2seq

#98 Adding badge for Sanity check
  README.md
Labels: cla: yes

#105 CLN: reformat all codes
  tensorflow_addons/activations/BUILD
  tensorflow_addons/custom_ops/image/BUILD
  tensorflow_addons/custom_ops/image/cc/kernels/image_projective_transform_op.cc
  tensorflow_addons/custom_ops/seq2seq/BUILD
  tensorflow_addons/custom_ops/text/BUILD
  tensorflow_addons/image/BUILD
  tensorflow_addons/layers/BUILD
  tensorflow_addons/losses/BUILD
  tensorflow_addons/optimizers/BUILD
  tensorflow_addons/seq2seq/BUILD
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/text/BUILD
  tools/ci_build/builds/builds_common.sh
Labels: cla: yes

#109 Rename LazyAdamOptimizer to LazyAdam
  tensorflow_addons/examples/tfa_optimizer.py
  tensorflow_addons/optimizers/BUILD
  tensorflow_addons/optimizers/README.md
  tensorflow_addons/optimizers/__init__.py
  tensorflow_addons/optimizers/lazy_adam.py
  tensorflow_addons/optimizers/lazy_adam_test.py
Labels: cla: yes, optimizers

#102 Add rotate and its tests
  tensorflow_addons/image/README.md
  tensorflow_addons/image/__init__.py
  tensorflow_addons/image/transform_ops.py
  tensorflow_addons/image/transform_test.py
Labels: cla: yes, image

#115 Rename transform_test.py to transform_ops_test.py
  tensorflow_addons/image/BUILD
  tensorflow_addons/image/transform_ops_test.py
Labels: cla: yes, image
