Repository tensorflow/addons, pull requests merged in 2019-08, with the labels that each got.

#314 Add conditional random fields
  tensorflow_addons/text/BUILD
  tensorflow_addons/text/README.md
  tensorflow_addons/text/__init__.py
  tensorflow_addons/text/crf.py
  tensorflow_addons/text/crf_test.py
Labels: cla: yes, text

#388 Install python3.6 only when testing with python3
  tools/run_docker.sh
Labels: cla: yes

#391 Adding @guillaumekln to the seq2seq maintainers list
  README.md
  tensorflow_addons/seq2seq/README.md
Labels: cla: yes

#393 Sync custom-op
  build_deps/gpu/cuda/BUILD.tpl
  build_deps/gpu/cuda/build_defs.bzl.tpl
  build_deps/requirements.txt
  build_deps/requirements_gpu.txt
Labels: build, cla: yes

#399 BLD: upgrade pylint for python 3
  tensorflow_addons/custom_ops/image/cc/kernels/euclidean_distance_transform_op.h
  tensorflow_addons/image/utils.py
  tensorflow_addons/optimizers/weight_decay_optimizers.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tools/ci_build/install/ci_requirements.txt
  tools/ci_build/install/install_ci_dependency.sh
  tools/ci_build/pylintrc
Labels: build, cla: yes

#395 [image/distort_image_ops] fix graph mode tests
  tensorflow_addons/custom_ops/image/cc/ops/distort_image_ops.cc
  tensorflow_addons/image/distort_image_ops_test.py
Labels: cla: yes, image

#394 [image/distort_image_ops] build GPU kernel
  tensorflow_addons/custom_ops/image/BUILD
  tensorflow_addons/custom_ops/image/cc/kernels/adjust_hsv_in_yiq_op_gpu.cu.cc
Labels: cla: yes, image

#400 BLD: Remove py34 support as it no longer published for tf-core
  tools/ci_build/builds/release_linux.sh
  tools/ci_build/builds/release_macos.sh
Labels: cla: yes

#350 [seq2seq] fix gpu test
  tensorflow_addons/custom_ops/seq2seq/BUILD
  tensorflow_addons/custom_ops/seq2seq/cc/kernels/beam_search_ops.h
  tensorflow_addons/custom_ops/seq2seq/cc/kernels/beam_search_ops_gpu.cu.cc
  tensorflow_addons/seq2seq/beam_search_ops_test.py
Labels: cla: yes, seq2seq

#392 Remove unnecessary tensor_shape module import
  tensorflow_addons/seq2seq/beam_search_decoder.py
Labels: cla: yes, seq2seq

#406 [image/sparse_image_warp] make tests compatible with graph and eager modes
  tensorflow_addons/image/interpolate_spline_test.py
  tensorflow_addons/image/sparse_image_warp_test.py
Labels: cla: yes, image

#403 [image/distance_transform] build gpu kernel
  tensorflow_addons/custom_ops/image/BUILD
  tensorflow_addons/custom_ops/image/cc/kernels/euclidean_distance_transform_op.cc
  tensorflow_addons/custom_ops/image/cc/kernels/euclidean_distance_transform_op.h
  tensorflow_addons/custom_ops/image/cc/kernels/euclidean_distance_transform_op_gpu.cu.cc
Labels: cla: yes, image

#398 Testing some addons image operations
  examples/image_ops.ipynb
Labels: cla: yes, examples, image

#389 BLD: Update environment to ubuntu16.04
  .travis.yml
  CONTRIBUTING.md
  build_deps/gpu/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc.tpl
  build_deps/gpu/cuda_configure.bzl
  build_deps/requirements.txt
  build_deps/requirements_gpu.txt
  build_deps/tf_dependency/tf_configure.bzl
  build_deps/toolchains/preconfig/ubuntu16.04/gcc7_manylinux2010-nvcc-cuda10.0/BUILD
  build_deps/toolchains/preconfig/ubuntu16.04/gcc7_manylinux2010-nvcc-cuda10.0/cc_toolchain_config.bzl
  build_deps/toolchains/preconfig/ubuntu16.04/gcc7_manylinux2010-nvcc-cuda10.0/clang/bin/crosstool_wrapper_driver_is_not_gcc
  build_deps/toolchains/preconfig/ubuntu16.04/gcc7_manylinux2010-nvcc-cuda10.0/windows/msvc_wrapper_for_nvcc.py
  build_pip_pkg.sh
  configure.sh
  makefile
  setup.py
  tensorflow_addons/image/BUILD
  tensorflow_addons/layers/sparsemax_test.py
  tensorflow_addons/rnn/cell_test.py
  tensorflow_addons/seq2seq/attention_wrapper_test.py
  tools/ci_build/builds/release_linux.sh
  tools/ci_build/builds/release_macos.sh
  tools/ci_build/builds/wheel_verify.sh
  tools/ci_build/install/install_ci_dependency.sh
  tools/ci_testing/install_py36.sh
  tools/run_docker.sh
Labels: awaiting testing (then merge), build, cla: yes

#410 Use docker script in travis
  .travis.yml
  CONTRIBUTING.md
Labels: build, cla: yes

#412 Update the python versions published to pypi
  setup.py
Labels: build, cla: yes

#416 FIX: Unhashable variables
  tensorflow_addons/optimizers/lazy_adam_test.py
  tensorflow_addons/optimizers/moving_average_test.py
Labels: cla: yes

#404 FIX: docstring example in cohen_kappa.py
  tensorflow_addons/metrics/cohens_kappa.py
Labels: cla: yes, documentation, metrics

#419 [seq2seq] fix float64 tests
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/attention_wrapper_test.py
Labels: cla: yes

#429 Hotfix: Compile Keras WN models without tf_function
  tensorflow_addons/layers/wrappers.py
  tensorflow_addons/layers/wrappers_test.py
Labels: cla: yes, layers

#431 CLN: docker build since update
  CONTRIBUTING.md
  tools/ci_build/builds/wheel_verify.sh
  tools/ci_build/install/install_ci_dependency.sh
Labels: build, cla: yes

#436 Hotfix: temporarily remove test
  tensorflow_addons/layers/wrappers_test.py
Labels: cla: yes, layers

#433 Replace tf.get_variable with tf.Variable
  tensorflow_addons/text/crf.py
  tensorflow_addons/text/crf_test.py
Labels: cla: yes, text

#439 TST: reopen moving_average_test
  tensorflow_addons/optimizers/moving_average_test.py
Labels: cla: yes

#427 [activations] fused gelu kernel
  tensorflow_addons/activations/BUILD
  tensorflow_addons/activations/README.md
  tensorflow_addons/activations/__init__.py
  tensorflow_addons/activations/gelu.py
  tensorflow_addons/activations/gelu_test.py
  tensorflow_addons/custom_ops/activations/BUILD
  tensorflow_addons/custom_ops/activations/cc/kernels/gelu_op.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/gelu_op.h
  tensorflow_addons/custom_ops/activations/cc/kernels/gelu_op_gpu.cu.cc
  tensorflow_addons/custom_ops/activations/cc/ops/gelu_op.cc
Labels: activations, cla: yes

#441 Make sparsemax deserializable
  tensorflow_addons/activations/sparsemax.py
  tensorflow_addons/activations/sparsemax_test.py
  tensorflow_addons/losses/sparsemax_loss.py
  tensorflow_addons/losses/sparsemax_loss_test.py
Labels: activations, cla: yes, losses

#452 FIX MacOS Build
  CONTRIBUTING.md
  build_deps/toolchains/gcc7_manylinux2010-nvcc-cuda10.0/BUILD
  build_deps/toolchains/gcc7_manylinux2010-nvcc-cuda10.0/cc_toolchain_config.bzl
  build_deps/toolchains/gcc7_manylinux2010-nvcc-cuda10.0/clang/bin/crosstool_wrapper_driver_is_not_gcc
  build_deps/toolchains/preconfig/ubuntu16.04/gcc7_manylinux2010-nvcc-cuda10.0/windows/msvc_wrapper_for_nvcc.py
  configure.sh
  tools/ci_build/builds/release_linux.sh
  tools/ci_build/builds/release_macos.sh
  tools/ci_testing/addons_gpu.sh
Labels: cla: yes

#409 Connected components PR
  tensorflow_addons/custom_ops/image/BUILD
  tensorflow_addons/custom_ops/image/cc/kernels/connected_components.cc
  tensorflow_addons/custom_ops/image/cc/kernels/connected_components.h
  tensorflow_addons/custom_ops/image/cc/ops/image_ops.cc
  tensorflow_addons/image/BUILD
  tensorflow_addons/image/README.md
  tensorflow_addons/image/__init__.py
  tensorflow_addons/image/connected_components.py
  tensorflow_addons/image/connected_components_test.py
Labels: cla: yes, image

#456 BLD: Package GPU Ops
  .travis.yml
  README.md
Labels: build, cla: yes

#453 WIP: Fix: WeightNormalization data init fails
  tensorflow_addons/layers/wrappers.py
  tensorflow_addons/layers/wrappers_test.py
Labels: cla: yes

#459 Build correlation cost GPU kernel
  tensorflow_addons/custom_ops/layers/BUILD
Labels: awaiting testing (then merge), build, cla: yes, layers

#458 bugfix: force WeightNormalization to execute in order
  tensorflow_addons/layers/wrappers.py
  tensorflow_addons/layers/wrappers_test.py
Labels: cla: yes

#460 Fix flag
  tensorflow_addons/custom_ops/activations/cc/kernels/gelu_op.cc
  tensorflow_addons/custom_ops/layers/cc/kernels/correlation_cost_op.cc
Labels: awaiting testing (then merge), cla: yes

#463 BLD: increase minor version after 0.5.0 release
  tensorflow_addons/version.py
Labels: cla: yes

#401 Adding sample weight param to f1 score
  tensorflow_addons/metrics/f1_test.py
  tensorflow_addons/metrics/f_scores.py
  tensorflow_addons/metrics/fbeta_test.py
Labels: cla: yes, metrics

#465 TST: fix correlation_test, use public api tf.keras
  tensorflow_addons/layers/optical_flow_test.py
Labels: awaiting testing (then merge), cla: yes
