Repository tensorflow/addons, pull requests merged in 2019-06, with the labels that each got.

#266 Refactor loss to inherit from tf.keras.losses.Loss
  tensorflow_addons/losses/README.md
  tensorflow_addons/losses/contrastive.py
  tensorflow_addons/losses/focal_loss.py
  tensorflow_addons/losses/lifted.py
  tensorflow_addons/losses/sparsemax_loss.py
  tensorflow_addons/losses/triplet.py
  tensorflow_addons/utils/keras_utils.py
Labels: cla: yes, losses

#270 Update sparsemax to use where v2
  tensorflow_addons/activations/sparsemax.py
Labels: cla: yes

#268 Increase to 0.4 version
  tensorflow_addons/version.py
Labels: cla: yes

#271 ENH: Automate build
  .gitignore
  .travis.yml
  README.md
  build_pip_pkg.sh
  configure.sh
  setup.py
  tools/ci_build/builds/release_linux.sh
  tools/ci_build/builds/release_macos.sh
  tools/ci_build/builds/wheel_verify.sh
Labels: build, cla: yes

#272 Pass kwargs to wrapped cell in AttentionWrapper
  tensorflow_addons/seq2seq/attention_wrapper.py
Labels: cla: yes

#276 Add @squadrick as maintainer of optimizers and metrics
  README.md
Labels: cla: yes

#273 FIX: Use all keras optimizers
  tensorflow_addons/image/dense_image_warp_test.py
  tensorflow_addons/layers/wrappers_test.py
  tensorflow_addons/optimizers/weight_decay_optimizers_test.py
Labels: awaiting testing (then merge), cla: yes

#278 FIX: Use keras loss
  tensorflow_addons/seq2seq/loss.py
Labels: cla: yes, seq2seq

#280 DOC: Clear SIG-Addons as a maintainer
  tensorflow_addons/layers/README.md
  tensorflow_addons/losses/README.md
  tensorflow_addons/optimizers/README.md
Labels: cla: yes, documentation

#267 Add kappa
  tensorflow_addons/metrics/BUILD
  tensorflow_addons/metrics/README.md
  tensorflow_addons/metrics/__init__.py
  tensorflow_addons/metrics/cohens_kappa.py
  tensorflow_addons/metrics/cohens_kappa_test.py
Labels: cla: yes, metrics

#285 Add notifications for failing tests/builds
  .travis.yml
Labels: build, cla: yes, discussion needed

#290 Fix shape checking
  tensorflow_addons/image/dense_image_warp.py
  tensorflow_addons/image/dense_image_warp_test.py
Labels: cla: yes, image

#288 Support batch input for median_filter2d
  tensorflow_addons/image/filters.py
  tensorflow_addons/image/filters_test.py
Labels: cla: yes, image

#291 Make tests compatible with graph mode
  tensorflow_addons/image/distort_image_ops.py
  tensorflow_addons/image/distort_image_ops_test.py
Labels: cla: yes, image

#292 DOC: Update README to use tf2-beta
  README.md
  tensorflow_addons/version.py
Labels: cla: yes, documentation

#293 Add @squadrick to CODEOWNERS
  .github/CODEOWNERS
Labels: cla: yes

#283 rsquare metric
  tensorflow_addons/metrics/BUILD
  tensorflow_addons/metrics/README.md
  tensorflow_addons/metrics/__init__.py
  tensorflow_addons/metrics/r_square.py
  tensorflow_addons/metrics/r_square_test.py
Labels: cla: yes, metrics

#298 FIX: compile triplet loss within keras model
  tensorflow_addons/losses/triplet.py
  tensorflow_addons/losses/triplet_test.py
Labels: cla: yes, losses

#300 DOC: Metrics README
  tensorflow_addons/metrics/README.md
Labels: cla: yes, documentation, metrics

#302 DOC: Update doc generator requirements and instructions
  tools/docs/README.md
  tools/docs/doc_requirements.txt
Labels: cla: yes

#284 f1 metric - micro/macro/weighted
  tensorflow_addons/metrics/BUILD
  tensorflow_addons/metrics/README.md
  tensorflow_addons/metrics/__init__.py
  tensorflow_addons/metrics/f1_scores.py
  tensorflow_addons/metrics/f1_test.py
Labels: cla: yes, metrics

#304 Speed up median_filter2d
  tensorflow_addons/image/filters.py
Labels: cla: yes, image

#297 adding .DS_store to gitignore
  .gitignore
Labels: cla: yes

#311 Minor: fix typo in distance_transform TypeError message
  tensorflow_addons/image/distance_transform.py
Labels: cla: yes

#312 Add @mels630 as tfa.image submodule maintainer
  tensorflow_addons/image/README.md
Labels: cla: yes

#309 Migrate npairs_loss
  tensorflow_addons/losses/BUILD
  tensorflow_addons/losses/README.md
  tensorflow_addons/losses/__init__.py
  tensorflow_addons/losses/npairs.py
  tensorflow_addons/losses/npairs_test.py
Labels: cla: yes, losses

#310 Emphasize PEP8 (non-TF spacing) compliance in README.md
  STYLE_GUIDE.md
Labels: cla: yes

#313 Initial folder setup for callbacks
  .github/CODEOWNERS
  README.md
  tensorflow_addons/BUILD
  tensorflow_addons/__init__.py
  tensorflow_addons/callbacks/BUILD
  tensorflow_addons/callbacks/README.md
  tensorflow_addons/callbacks/__init__.py
Labels: callbacks, cla: yes

#299 Make gradient tests compatible with eager mode
  tensorflow_addons/image/dense_image_warp_test.py
  tensorflow_addons/image/transform_ops_test.py
Labels: awaiting testing (then merge), cla: yes, image

#318 FIX: Use element_shape in beam_search_decoder
  tensorflow_addons/seq2seq/beam_search_decoder.py
Labels: cla: yes, seq2seq

#316 Add MeanMetricWrapper to metrics_utils
  tensorflow_addons/metrics/BUILD
  tensorflow_addons/metrics/utils.py
Labels: cla: yes, metrics

#319 BLD: Remove notification email
  .travis.yml
Labels: build, cla: yes

#322 BUG: pin tf2-nightly version until fix
  requirements.txt
Labels: cla: yes
