Repository tensorflow/addons, pull requests merged in 2019-09, with the labels that each got.

#466 [losses] migrate npairs multilabel loss
  tensorflow_addons/losses/README.md
  tensorflow_addons/losses/__init__.py
  tensorflow_addons/losses/npairs.py
  tensorflow_addons/losses/npairs_test.py
Labels: cla: yes, losses

#472 Use TensorFlow public APIs in attention_wrapper_test
  tensorflow_addons/seq2seq/attention_wrapper_test.py
Labels: cla: yes, seq2seq

#474 BLD: add tf 2.0 dependency for addons
  README.md
  setup.py
  tensorflow_addons/__init__.py
Labels: awaiting testing (then merge), build, cla: yes

#476 DOC: update examples
  examples/image_ops.ipynb
  examples/layers_normalizations.ipynb
  examples/layers_weightnormalization.ipynb
  examples/losses_triplet.ipynb
  examples/optimizers_lazyadam.ipynb
  examples/template.ipynb
Labels: cla: yes, examples

#475 DOC: Fix development commands
  CONTRIBUTING.md
Labels: cla: yes, documentation

#478 Improve issue templates
  .github/ISSUE_TEMPLATE/bug-performance-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: cla: yes, documentation

#480 BLD: add tf 2.0 dependency for addons (#474)
  README.md
  setup.py
  tensorflow_addons/__init__.py
Labels: cla: yes

#482 FIX: Use keras initializer
  tensorflow_addons/text/crf.py
Labels: cla: yes

#481 BLD: prepare for 0.5.1 release
  tensorflow_addons/version.py
Labels: cla: yes

#479 CLN: reorganize ci_testing
  tools/ci_build/ci_sanity.sh
  tools/ci_build/verify/check_file_name.py
  tools/ci_build/verify/check_futures.py
  tools/ci_testing/run_tests.sh
Labels: awaiting testing (then merge), cla: yes

#484 Add info for GeLU layer in readme
  tensorflow_addons/layers/README.md
Labels: cla: yes

#488 Maintainer
  tensorflow_addons/layers/README.md
Labels: cla: yes

#489 fix for typo in docstring example f1score metric
  tensorflow_addons/metrics/f_scores.py
Labels: cla: yes

#487 Lazily compute the attention layer size
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/attention_wrapper_test.py
Labels: cla: yes, seq2seq

#497 Port bug fix in TF contrib to addons.
  tensorflow_addons/seq2seq/decoder.py
Labels: cla: yes, seq2seq

#507 Replace some compat.v1 APIs by their v2 equivalent
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/basic_decoder_test.py
  tensorflow_addons/seq2seq/decoder.py
  tensorflow_addons/seq2seq/decoder_test.py
  tensorflow_addons/seq2seq/sampler.py
Labels: cla: yes, seq2seq

#515 add documentation for lazy adam
  tensorflow_addons/optimizers/lazy_adam.py
Labels: cla: yes, optimizers

#510 FIX: MovingAverage from_config, get_config
  tensorflow_addons/optimizers/moving_average.py
  tensorflow_addons/optimizers/moving_average_test.py
Labels: cla: yes, optimizers

#513 Port assert_like_rnncell in addons utils
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/basic_decoder.py
  tensorflow_addons/seq2seq/basic_decoder_test.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/utils/keras_utils.py
  tensorflow_addons/utils/keras_utils_test.py
Labels: cla: yes, rnn, seq2seq

#506 Add RAdam and LookAhead optimizers
  tensorflow_addons/optimizers/BUILD
  tensorflow_addons/optimizers/README.md
  tensorflow_addons/optimizers/__init__.py
  tensorflow_addons/optimizers/lookahead.py
  tensorflow_addons/optimizers/lookahead_test.py
  tensorflow_addons/optimizers/rectified_adam.py
  tensorflow_addons/optimizers/rectified_adam_test.py
Labels: awaiting testing (then merge), cla: yes, optimizers

#486 Initial setup for tensorflow subsite
  .gitignore
  CONTRIBUTING.md
  MANIFEST.in
  README.md
  docs/_book.yaml
  docs/_index.yaml
  docs/_project.yaml
  docs/tutorials/README.md
  docs/tutorials/image_ops.ipynb
  docs/tutorials/layers_normalizations.ipynb
  docs/tutorials/layers_weightnormalization.ipynb
  docs/tutorials/losses_triplet.ipynb
  docs/tutorials/optimizers_lazyadam.ipynb
  docs/tutorials/template.ipynb
Labels: cla: yes, documentation

#520 Implement alternatives to some TensorFlow private APIs
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/decoder.py
Labels: cla: yes, seq2seq

#523 typo fix
  tensorflow_addons/seq2seq/beam_search_decoder.py
Labels: cla: yes

#521 Fix group operator for RectifiedAdam
  tensorflow_addons/optimizers/rectified_adam.py
Labels: awaiting testing (then merge), cla: yes, optimizers

#518 Add standard flags to build_docs.py
  tools/docs/build_docs.py
Labels: cla: yes

#516 Add Addons namespace to Custom Ops
  tensorflow_addons/activations/gelu.py
  tensorflow_addons/activations/hardshrink.py
  tensorflow_addons/custom_ops/activations/cc/kernels/gelu_op.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/gelu_op.h
  tensorflow_addons/custom_ops/activations/cc/kernels/gelu_op_gpu.cu.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/hardshrink_op.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/hardshrink_op.h
  tensorflow_addons/custom_ops/activations/cc/kernels/hardshrink_op_gpu.cu.cc
  tensorflow_addons/custom_ops/activations/cc/ops/gelu_op.cc
  tensorflow_addons/custom_ops/activations/cc/ops/hardshrink_op.cc
  tensorflow_addons/custom_ops/image/cc/kernels/adjust_hsv_in_yiq_op.cc
  tensorflow_addons/custom_ops/image/cc/kernels/adjust_hsv_in_yiq_op.h
  tensorflow_addons/custom_ops/image/cc/kernels/adjust_hsv_in_yiq_op_gpu.cu.cc
  tensorflow_addons/custom_ops/image/cc/kernels/connected_components.cc
  tensorflow_addons/custom_ops/image/cc/kernels/connected_components.h
  tensorflow_addons/custom_ops/image/cc/kernels/euclidean_distance_transform_op.cc
  tensorflow_addons/custom_ops/image/cc/kernels/euclidean_distance_transform_op.h
  tensorflow_addons/custom_ops/image/cc/kernels/euclidean_distance_transform_op_gpu.cu.cc
  tensorflow_addons/custom_ops/image/cc/kernels/image_projective_transform_op.cc
  tensorflow_addons/custom_ops/image/cc/kernels/image_projective_transform_op.h
  tensorflow_addons/custom_ops/image/cc/kernels/image_projective_transform_op_gpu.cu.cc
  tensorflow_addons/custom_ops/image/cc/ops/distort_image_ops.cc
  tensorflow_addons/custom_ops/image/cc/ops/image_ops.cc
  tensorflow_addons/custom_ops/layers/cc/kernels/correlation_cost_op.cc
  tensorflow_addons/custom_ops/layers/cc/kernels/correlation_cost_op.h
  tensorflow_addons/custom_ops/layers/cc/kernels/correlation_cost_op_gpu.cu.cc
  tensorflow_addons/custom_ops/layers/cc/ops/correlation_cost_op.cc
  tensorflow_addons/custom_ops/seq2seq/cc/kernels/beam_search_ops.cc
  tensorflow_addons/custom_ops/seq2seq/cc/kernels/beam_search_ops.h
  tensorflow_addons/custom_ops/seq2seq/cc/kernels/beam_search_ops_gpu.cu.cc
  tensorflow_addons/custom_ops/seq2seq/cc/ops/beam_search_ops.cc
  tensorflow_addons/custom_ops/text/cc/kernels/skip_gram_kernels.cc
  tensorflow_addons/custom_ops/text/cc/ops/skip_gram_ops.cc
  tensorflow_addons/image/connected_components.py
  tensorflow_addons/image/distance_transform.py
  tensorflow_addons/image/distort_image_ops.py
  tensorflow_addons/image/transform_ops.py
  tensorflow_addons/layers/optical_flow.py
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/seq2seq/beam_search_decoder_test.py
  tensorflow_addons/seq2seq/beam_search_ops_test.py
  tensorflow_addons/text/skip_gram_ops.py
Labels: awaiting testing (then merge)

#525 Efficient operation
  tensorflow_addons/image/filters.py
Labels: cla: yes

#527 Fix optical_flow test case
  tensorflow_addons/layers/optical_flow_test.py
Labels: cla: yes

#493 Add tanhshrink
  tensorflow_addons/activations/BUILD
  tensorflow_addons/activations/README.md
  tensorflow_addons/activations/__init__.py
  tensorflow_addons/activations/tanhshrink.py
  tensorflow_addons/activations/tanhshrink_test.py
  tensorflow_addons/custom_ops/activations/BUILD
  tensorflow_addons/custom_ops/activations/cc/kernels/tanhshrink_op.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/tanhshrink_op.h
  tensorflow_addons/custom_ops/activations/cc/kernels/tanhshrink_op_gpu.cu.cc
  tensorflow_addons/custom_ops/activations/cc/ops/tanhshrink_op.cc
Labels: activations, cla: yes

#514 Add docstring correlation cost
  tensorflow_addons/layers/optical_flow.py
Labels: cla: no

#528 fix permission
  tensorflow_addons/activations/BUILD
  tensorflow_addons/activations/tanhshrink.py
  tensorflow_addons/activations/tanhshrink_test.py
  tensorflow_addons/custom_ops/activations/BUILD
  tensorflow_addons/custom_ops/activations/cc/kernels/tanhshrink_op_gpu.cu.cc
  tensorflow_addons/custom_ops/activations/cc/ops/tanhshrink_op.cc
  tensorflow_addons/layers/optical_flow_test.py
Labels: cla: yes

#531 Release 0.5.1
  build_deps/requirements.txt
  build_deps/requirements_gpu.txt
  docs/api_docs/python/_toc.yaml
  docs/api_docs/python/index.md
  docs/api_docs/python/tfa/_api_cache.json
  docs/api_docs/python/tfa/layers.md
  docs/api_docs/python/tfa/layers/CorrelationCost.md
  docs/api_docs/python/tfa/layers/optical_flow.md
  docs/api_docs/python/tfa/layers/optical_flow/correlation_cost.md
  setup.py
  tensorflow_addons/layers/optical_flow.py
  tensorflow_addons/layers/optical_flow_test.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
Labels: cla: no

#469 Implementation of Conditional Gradient Optimizer
  tensorflow_addons/optimizers/BUILD
  tensorflow_addons/optimizers/README.md
  tensorflow_addons/optimizers/__init__.py
  tensorflow_addons/optimizers/conditional_gradient.py
  tensorflow_addons/optimizers/conditional_gradient_test.py
Labels: awaiting testing (then merge), cla: yes, optimizers

#538 Fix minor typo in contributing guide
  CONTRIBUTING.md
Labels: cla: yes

#530 Implement Addons>ParseTime operator.
  tensorflow_addons/custom_ops/text/BUILD
  tensorflow_addons/custom_ops/text/cc/kernels/parse_time_kernel.cc
  tensorflow_addons/custom_ops/text/cc/ops/parse_time_op.cc
  tensorflow_addons/text/BUILD
  tensorflow_addons/text/__init__.py
  tensorflow_addons/text/parse_time_op.py
  tensorflow_addons/text/parse_time_op_test.py
Labels: cla: yes

#539 Link to cudart_static and remove cuda_libs
  tensorflow_addons/custom_ops/activations/BUILD
  tensorflow_addons/custom_ops/image/BUILD
  tensorflow_addons/custom_ops/layers/BUILD
  tensorflow_addons/custom_ops/seq2seq/BUILD
Labels: cla: yes

#548 Cherry-pick to r0.5: Link to cudart_static and remove cuda_libs
  tensorflow_addons/custom_ops/activations/BUILD
  tensorflow_addons/custom_ops/image/BUILD
  tensorflow_addons/custom_ops/layers/BUILD
  tensorflow_addons/custom_ops/seq2seq/BUILD
Labels: cla: yes

#547 Allow manual memory reset in AttentionMechanism
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/attention_wrapper_test.py
Labels: cla: yes, seq2seq

#549 RELEASE: 0.5.2
  build_deps/requirements.txt
  build_deps/requirements_gpu.txt
  setup.py
  tensorflow_addons/version.py
  tools/ci_build/pylintrc
Labels: cla: yes
