Repository tensorflow/addons, pull requests merged in 2019-04, with the labels that each got.

#122 set AndreasMadsen as sparsemax maintainer
  tensorflow_addons/activations/README.md
  tensorflow_addons/layers/README.md
  tensorflow_addons/losses/README.md
Labels: cla: yes

#121 DOC: update custom ops README
  tensorflow_addons/custom_ops/README.md
Labels: cla: yes

#130 FIX: correctly link new so
  tf_dependency/BUILD.tpl
  tf_dependency/tf_configure.bzl
Labels: cla: yes

#53 Migrate dense image warp
  tensorflow_addons/image/BUILD
  tensorflow_addons/image/README.md
  tensorflow_addons/image/__init__.py
  tensorflow_addons/image/dense_image_warp.py
  tensorflow_addons/image/dense_image_warp_test.py
Labels: cla: yes, image

#132 CLN: Remove unnecessary failure script
  tools/ci_testing/run_tests_failing.sh
Labels: cla: yes

#135 FIX: Correctly link the new soname for tf2
  tf_dependency/BUILD.tpl
  tf_dependency/tf_configure.bzl
Labels: cla: yes

#136 Define the seq2seq module API
  tensorflow_addons/seq2seq/__init__.py
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/basic_decoder.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/seq2seq/decoder.py
  tensorflow_addons/seq2seq/loss.py
  tensorflow_addons/seq2seq/sampler.py
Labels: cla: yes

#137 Silence not-callable lint warnings in seq2seq tests
  tensorflow_addons/seq2seq/attention_wrapper_test.py
  tensorflow_addons/seq2seq/beam_search_decoder_test.py
Labels: cla: yes

#131 Improve AttentionWrapper compatibility with TF 2.0
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/attention_wrapper_test.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/seq2seq/beam_search_decoder_test.py
Labels: cla: yes

#129 Add project description to package and pypi #114
  setup.py
Labels: cla: yes

#123 Add Mac OS X supporting for install from source
  README.md
  build_pip_pkg.sh
Labels: cla: yes

#108 Add Euclidean Distance Transform op
  tensorflow_addons/custom_ops/image/BUILD
  tensorflow_addons/custom_ops/image/cc/kernels/euclidean_distance_transform_op.cc
  tensorflow_addons/custom_ops/image/cc/kernels/euclidean_distance_transform_op.h
  tensorflow_addons/custom_ops/image/cc/ops/image_ops.cc
  tensorflow_addons/image/BUILD
  tensorflow_addons/image/README.md
  tensorflow_addons/image/__init__.py
  tensorflow_addons/image/distance_transform.py
  tensorflow_addons/image/distance_transform_test.py
Labels: cla: yes, image

#103 Migrate contrastive loss
  tensorflow_addons/losses/BUILD
  tensorflow_addons/losses/README.md
  tensorflow_addons/losses/__init__.py
  tensorflow_addons/losses/contrastive.py
  tensorflow_addons/losses/contrastive_test.py
Labels: cla: yes, losses

#133 Fix AttentionMechanism masking
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/attention_wrapper_test.py
Labels: cla: yes, seq2seq

#139 [bugfix] unit test on mac
  tools/ci_testing/addons_cpu.sh
Labels: cla: yes

#146 Added Submodule Maintainer
  tensorflow_addons/layers/README.md
Labels: cla: yes

#149 Fix flaky test
  tensorflow_addons/image/dense_image_warp_test.py
Labels: cla: yes

#111 Added Median_filter_2D
  tensorflow_addons/image/BUILD
  tensorflow_addons/image/__init__.py
  tensorflow_addons/image/median_filter_2d.py
  tensorflow_addons/image/median_filter_2d_test.py
  tensorflow_addons/image/transform_ops.py
Labels: cla: yes, image

#152 Update Readme.md for median_filter_2D
  tensorflow_addons/image/README.md
Labels: cla: yes

#148 DOC: Add CODEOWNERS
  .github/CODEOWNERS
Labels: cla: yes, documentation

#155 Add maintainer
  .github/CODEOWNERS
  tensorflow_addons/image/README.md
  tensorflow_addons/losses/README.md
Labels: cla: yes

#154 BLD: disable pylint not-callable checker temporarily
  tensorflow_addons/losses/contrastive_test.py
  tensorflow_addons/losses/lifted_test.py
  tensorflow_addons/losses/sparsemax_loss_test.py
  tensorflow_addons/losses/triplet_test.py
  tensorflow_addons/seq2seq/attention_wrapper_test.py
  tensorflow_addons/seq2seq/beam_search_decoder_test.py
  tools/ci_build/pylintrc
Labels: cla: yes

#162 Fix code examples, as they invalid paths, and fix some typos in the text
  tensorflow_addons/seq2seq/README.md
Labels: cla: yes, seq2seq

#161 Fix type: self._sequence_length => self.sequence_length
  tensorflow_addons/seq2seq/sampler.py
Labels: cla: yes, seq2seq

#170 Pin nightly version until fix is in place
  requirements.txt
Labels: cla: yes

#169 Remove `__init__.py` in custom_ops directory #163
  tensorflow_addons/custom_ops/__init__.py
Labels: cla: yes

#160 Fix minor error in contrastive_loss
  tensorflow_addons/losses/contrastive.py
Labels: cla: yes, losses

#145 conversion to use tf2 public API - installment 1
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/attention_wrapper_test.py
  tensorflow_addons/seq2seq/basic_decoder.py
  tensorflow_addons/seq2seq/basic_decoder_test.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/seq2seq/beam_search_decoder_test.py
  tensorflow_addons/seq2seq/beam_search_ops_test.py
  tensorflow_addons/seq2seq/decoder.py
  tensorflow_addons/seq2seq/decoder_test.py
  tensorflow_addons/seq2seq/loss.py
  tensorflow_addons/seq2seq/loss_test.py
  tensorflow_addons/seq2seq/sampler.py
Labels: cla: yes, seq2seq

#158 unify style for image operations
  tensorflow_addons/image/dense_image_warp.py
  tensorflow_addons/image/distort_image_ops.py
Labels: cla: yes, image, style

#159 cleaned up text package files to conform to TF2 style
  tensorflow_addons/text/skip_gram_ops.py
  tensorflow_addons/text/skip_gram_ops_test.py
Labels: cla: yes, text

#157 updated style guide
  STYLE_GUIDE.md
Labels: cla: yes, style

#175 Utilize current TF2 nightly
  requirements.txt
Labels: cla: yes

#180 removed layernorm
  tensorflow_addons/layers/README.md
  tensorflow_addons/layers/__init__.py
  tensorflow_addons/layers/normalizations.py
  tensorflow_addons/layers/normalizations_test.py
Labels: cla: yes

#184 Restructure filters
  .github/CODEOWNERS
  tensorflow_addons/image/BUILD
  tensorflow_addons/image/README.md
  tensorflow_addons/image/__init__.py
  tensorflow_addons/image/filters.py
  tensorflow_addons/image/filters_test.py
Labels: cla: yes

#186 Update .gitignore to include intellij project file (*.iml).
  .gitignore
Labels: cla: yes

#120 Added prompt before install
  configure.sh
Labels: build

#167 LazyAdam example
  tensorflow_addons/examples/optimizers_lazyadam.ipynb
  tensorflow_addons/examples/tfa_optimizer.py
Labels: cla: yes, examples, optimizers

#166 WeightNormalization example
  tensorflow_addons/examples/layers_weightnormalization.ipynb
Labels: cla: yes, examples, layers

#187 FIX: Dense Image Warp Bug
  tensorflow_addons/image/dense_image_warp.py
  tensorflow_addons/image/dense_image_warp_test.py
Labels: cla: yes, image

#188 Fix colab link
  tensorflow_addons/examples/optimizers_lazyadam.ipynb
Labels: cla: yes, examples

#183 FIX: Use public API for name_scope and convert_to_tensor
  tensorflow_addons/image/transform_ops.py
Labels: cla: yes

#181 CLN: Simplify Build Script
  README.md
  build_pip_pkg.sh
  tensorflow_addons/version.py
Labels: cla: yes

#190 Pin to old nightly version
  requirements.txt
Labels: cla: yes

#189 Add subpackage for RNN related code.
  .github/CODEOWNERS
  BUILD
  README.md
  tensorflow_addons/__init__.py
  tensorflow_addons/rnn/BUILD
  tensorflow_addons/rnn/README.md
  tensorflow_addons/rnn/__init__.py
  tensorflow_addons/rnn/cell.py
  tensorflow_addons/rnn/cell_test.py
Labels: cla: yes, rnn

#191 Unpin nightly
  requirements.txt
Labels: cla: yes

#182 FIX: Explicitly cast minDistance to float
  tensorflow_addons/custom_ops/image/cc/kernels/euclidean_distance_transform_op.h
Labels: cla: yes

#192 Utilize new tf.image function names
  tensorflow_addons/image/filters.py
Labels: cla: yes, image

#198 CLN: Use public APIs
  tensorflow_addons/image/distance_transform.py
  tensorflow_addons/losses/lifted.py
  tensorflow_addons/losses/triplet.py
  tensorflow_addons/optimizers/lazy_adam_test.py
  tensorflow_addons/text/skip_gram_ops_test.py
  tensorflow_addons/utils/keras_utils.py
Labels: cla: yes

#197 FIX: build using tf sysconfig
  README.md
  configure.sh
  tf_dependency/BUILD.tpl
  tf_dependency/tf_configure.bzl
Labels: cla: no

#196 added API docs generator in build_docs.py
  tools/docs/build_docs.py
Labels: cla: yes

#200 CLN: API fix
  tensorflow_addons/image/transform_ops_test.py
Labels: cla: yes

#202 Fix test cases
  tensorflow_addons/image/filters_test.py
Labels: cla: yes

#208 Update and fix WeightNorm Wrapper.
  tensorflow_addons/layers/wrappers.py
  tensorflow_addons/layers/wrappers_test.py
Labels: cla: yes

#213 Update maintainers
  .github/CODEOWNERS
  README.md
Labels: cla: yes

#214 FIX: Update API
  tensorflow_addons/seq2seq/beam_search_decoder.py
Labels: cla: yes

#215 Implement MovingAverage optimizer
  tensorflow_addons/optimizers/BUILD
  tensorflow_addons/optimizers/README.md
  tensorflow_addons/optimizers/__init__.py
  tensorflow_addons/optimizers/moving_average.py
  tensorflow_addons/optimizers/moving_average_test.py
Labels: cla: yes, optimizers

#210 Add LayerNormLSTMCell to RNN cell
  tensorflow_addons/rnn/cell.py
  tensorflow_addons/rnn/cell_test.py
Labels: cla: yes, rnn

#217 Update README.md and __init__.py for LayerNormLSTMCell.
  tensorflow_addons/rnn/README.md
  tensorflow_addons/rnn/__init__.py
Labels: cla: yes

#220 FIX: x_test scaling in weightnormalization example
  tensorflow_addons/examples/layers_weightnormalization.ipynb
Labels: cla: yes

#164 Decoupled weight decay
  tensorflow_addons/optimizers/BUILD
  tensorflow_addons/optimizers/README.md
  tensorflow_addons/optimizers/__init__.py
  tensorflow_addons/optimizers/weight_decay_optimizers.py
  tensorflow_addons/optimizers/weight_decay_optimizers_test.py
Labels: awaiting testing (then merge), cla: yes, optimizers

#219 FIX: weightnorm variables
  tensorflow_addons/layers/wrappers.py
  tensorflow_addons/layers/wrappers_test.py
Labels: cla: yes, layers

#206 add bazel command to generate API docs
  .gitignore
  BUILD
  tensorflow_addons/BUILD
  tools/docs/BUILD
  tools/docs/README.md
  tools/docs/build_docs.py
  tools/docs/doc_requirements.txt
Labels: cla: yes, documentation
