Repository tensorflow/addons, pull requests merged in 2019-07, with the labels that each got.

#323 Fix LayerNormLSTMCell
  requirements.txt
  tensorflow_addons/rnn/cell.py
Labels: cla: yes, rnn

#144 Colab Notebook for Normalizations
  examples/layers_normalizations.ipynb
Labels: cla: no, examples

#327 Bump tf version in examples
  examples/layers_weightnormalization.ipynb
  examples/optimizers_lazyadam.ipynb
Labels: awaiting testing (then merge), cla: yes, examples

#331 Fix lint and typo in setup.py
  setup.py
Labels: cla: yes

#320 Translate ops added and its test script
  tensorflow_addons/image/BUILD
  tensorflow_addons/image/README.md
  tensorflow_addons/image/__init__.py
  tensorflow_addons/image/translate_ops.py
  tensorflow_addons/image/translate_ops_test.py
Labels: cla: yes, image

#330 Convert unknown rank image to 4D image
  tensorflow_addons/image/BUILD
  tensorflow_addons/image/transform_ops.py
  tensorflow_addons/image/transform_ops_test.py
  tensorflow_addons/image/utils.py
  tensorflow_addons/image/utils_test.py
Labels: cla: yes, image

#333 TEST: Add test cases for pairwise distance
  tensorflow_addons/losses/BUILD
  tensorflow_addons/losses/metric_learning.py
  tensorflow_addons/losses/metric_test.py
Labels: cla: yes, losses

#328 add run_docker.sh script
  makefile
  tools/ci_testing/addons_cpu.sh
  tools/ci_testing/addons_gpu.sh
  tools/run_docker.sh
Labels: cla: yes

#341 Maintain focal loss and lazy adam
  tensorflow_addons/losses/README.md
  tensorflow_addons/optimizers/README.md
Labels: cla: yes

#339 CLN: Statically copy normalize_tuple
  tensorflow_addons/image/filters.py
  tensorflow_addons/utils/BUILD
  tensorflow_addons/utils/keras_utils.py
  tensorflow_addons/utils/keras_utils_test.py
Labels: cla: yes

#338 Add unknown shape support to distance_transform_ops
  tensorflow_addons/image/distance_transform.py
  tensorflow_addons/image/distance_transform_test.py
Labels: cla: yes, image

#343 [image/filters] convert unknown rank to 4d
  tensorflow_addons/image/filters.py
  tensorflow_addons/image/filters_test.py
Labels: cla: yes, image

#344 Limit GPU testing jobs
  tools/ci_testing/addons_gpu.sh
Labels: cla: yes

#345 Small typo: minimal change
  examples/optimizers_lazyadam.ipynb
Labels: cla: yes, documentation

#294 set up GPU environment
  WORKSPACE
  build_deps/gpu/BUILD
  build_deps/gpu/crosstool/BUILD
  build_deps/gpu/crosstool/BUILD.tpl
  build_deps/gpu/crosstool/CROSSTOOL.tpl
  build_deps/gpu/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc.tpl
  build_deps/gpu/crosstool/windows/msvc_wrapper_for_nvcc.py.tpl
  build_deps/gpu/cuda/BUILD
  build_deps/gpu/cuda/BUILD.tpl
  build_deps/gpu/cuda/BUILD.windows.tpl
  build_deps/gpu/cuda/build_defs.bzl.tpl
  build_deps/gpu/cuda/cuda_config.h.tpl
  build_deps/gpu/cuda_configure.bzl
  build_deps/requirements.txt
  build_deps/requirements_gpu.txt
  configure.sh
  tensorflow_addons/custom_ops/image/BUILD
  tensorflow_addons/custom_ops/image/cc/kernels/euclidean_distance_transform_op.cc
  tensorflow_addons/image/transform_ops_test.py
  tensorflow_addons/optimizers/weight_decay_optimizers_test.py
  tensorflow_addons/seq2seq/beam_search_ops_test.py
  tensorflow_addons/utils/test_utils.py
Labels: cla: yes

#340 Fix #329 by adding ValueError for mixed aggregation modes
  tensorflow_addons/seq2seq/loss.py
  tensorflow_addons/seq2seq/loss_test.py
Labels: cla: no, seq2seq

#351 CLN: moving_average_test
  tensorflow_addons/optimizers/__init__.py
  tensorflow_addons/optimizers/moving_average_test.py
Labels: cla: yes, optimizers

#306 Fix #289
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/seq2seq/beam_search_decoder_test.py
Labels: cla: yes, seq2seq

#356 BLD: Restructure directories
  WORKSPACE
  build_deps/tf_dependency/BUILD
  build_deps/tf_dependency/BUILD.tpl
  build_deps/tf_dependency/build_defs.bzl.tpl
  build_deps/tf_dependency/tf_configure.bzl
Labels: cla: yes

#346 CLN: distort_image_ops_test
  tensorflow_addons/image/distort_image_ops_test.py
Labels: cla: yes, image

#357 FIX: macos build
  configure.sh
Labels: cla: yes

#363 Make cuda_configure.bzl compatible with bazel
  build_deps/gpu/cuda_configure.bzl
Labels: cla: yes

#360 TripletLoss example
  examples/losses_triplet.ipynb
Labels: cla: yes, examples

#362 BLD: Pin bazel version for macos
  tools/ci_build/builds/release_macos.sh
Labels: cla: yes

#324 Multilabel Confusion Matrix
  tensorflow_addons/metrics/BUILD
  tensorflow_addons/metrics/README.md
  tensorflow_addons/metrics/__init__.py
  tensorflow_addons/metrics/multilabel_confusion_matrix.py
  tensorflow_addons/metrics/multilabel_confusion_matrix_test.py
Labels: cla: yes, metrics

#365 Add unknown shape tests for adjust_hue_in_yip and random_hsv_in_yiq
  tensorflow_addons/image/distort_image_ops_test.py
Labels: cla: yes

#252 Implement sparse image warp
  tensorflow_addons/image/BUILD
  tensorflow_addons/image/__init__.py
  tensorflow_addons/image/interpolate_spline.py
  tensorflow_addons/image/interpolate_spline_test.py
  tensorflow_addons/image/sparse_image_warp.py
  tensorflow_addons/image/sparse_image_warp_test.py
  tensorflow_addons/image/test_data/Yellow_Smiley_Face.png
  tensorflow_addons/image/test_data/Yellow_Smiley_Face_Warp-interp-1-clamp-0.png
  tensorflow_addons/image/test_data/Yellow_Smiley_Face_Warp-interp-1-clamp-1.png
  tensorflow_addons/image/test_data/Yellow_Smiley_Face_Warp-interp-1-clamp-4.png
  tensorflow_addons/image/test_data/Yellow_Smiley_Face_Warp-interp-2-clamp-0.png
  tensorflow_addons/image/test_data/Yellow_Smiley_Face_Warp-interp-2-clamp-1.png
  tensorflow_addons/image/test_data/Yellow_Smiley_Face_Warp-interp-2-clamp-4.png
  tensorflow_addons/image/test_data/Yellow_Smiley_Face_Warp-interp-3-clamp-0.png
  tensorflow_addons/image/test_data/Yellow_Smiley_Face_Warp-interp-3-clamp-1.png
  tensorflow_addons/image/test_data/Yellow_Smiley_Face_Warp-interp-3-clamp-4.png
  tensorflow_addons/seq2seq/attention_wrapper.py
Labels: cla: yes, image

#352 Cleanup score_mask_value definition
  tensorflow_addons/seq2seq/attention_wrapper.py
Labels: cla: yes, seq2seq

#370 BLD: Change test sizes of seq2seq
  tensorflow_addons/seq2seq/BUILD
Labels: cla: yes, seq2seq

#371 CLN: Make loaded op private
  tensorflow_addons/text/skip_gram_ops.py
Labels: cla: yes, text

#378 Temporary fix for distort_ops testing
  tensorflow_addons/image/distort_image_ops_test.py
Labels: cla: yes

#369 Add `training` parameter in seq2seq decoders
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/attention_wrapper_test.py
  tensorflow_addons/seq2seq/basic_decoder.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/seq2seq/beam_search_decoder_test.py
  tensorflow_addons/seq2seq/decoder.py
Labels: cla: yes, seq2seq

#354 Improve API for resetting AttentionMechanism memory
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/attention_wrapper_test.py
Labels: cla: yes, seq2seq

#207 Add correlation cost layer
  WORKSPACE
  build_deps/gpu/cub.BUILD
  tensorflow_addons/custom_ops/README.md
  tensorflow_addons/custom_ops/layers/BUILD
  tensorflow_addons/custom_ops/layers/cc/kernels/correlation_cost_op.cc
  tensorflow_addons/custom_ops/layers/cc/kernels/correlation_cost_op.h
  tensorflow_addons/custom_ops/layers/cc/kernels/correlation_cost_op_gpu.cu.cc
  tensorflow_addons/custom_ops/layers/cc/ops/correlation_cost_op.cc
  tensorflow_addons/layers/BUILD
  tensorflow_addons/layers/README.md
  tensorflow_addons/layers/__init__.py
  tensorflow_addons/layers/optical_flow.py
  tensorflow_addons/layers/optical_flow_test.py
Labels: cla: no, layers

#372 DOC: gpu contribution instructions
  CONTRIBUTING.md
Labels: cla: yes, documentation

#380 Add fallback flag to seq2seq tests
  tensorflow_addons/seq2seq/attention_wrapper_test.py
Labels: cla: yes, seq2seq

#382 TEST: Upgrade python3 env to py36
  tools/ci_testing/addons_cpu.sh
  tools/ci_testing/addons_gpu.sh
  tools/ci_testing/install_py36.sh
Labels: cla: yes

#384 FIX: Better implementation of py36 testing
  tools/ci_testing/addons_cpu.sh
  tools/ci_testing/addons_gpu.sh
  tools/ci_testing/install_py36.sh
  tools/run_docker.sh
Labels: cla: yes

#385 Add missing ops to index - compose_transforms
  tensorflow_addons/image/README.md
Labels: cla: yes
