Repository tensorflow/addons, pull requests merged in 2019-10, with the labels that each got.

#552 Update README and codeowner for parse time op
  .github/CODEOWNERS
  tensorflow_addons/text/README.md
Labels: awaiting testing (then merge), cla: yes

#524 BLD: Fix default GPU toolchain
  README.md
  WORKSPACE
  build_deps/toolchains/gpu/BUILD
  build_deps/toolchains/gpu/crosstool/BUILD
  build_deps/toolchains/gpu/crosstool/BUILD.tpl
  build_deps/toolchains/gpu/crosstool/CROSSTOOL.tpl
  build_deps/toolchains/gpu/crosstool/cc_toolchain_config.bzl.tpl
  build_deps/toolchains/gpu/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc.tpl
  build_deps/toolchains/gpu/crosstool/windows/msvc_wrapper_for_nvcc.py.tpl
  build_deps/toolchains/gpu/cub.BUILD
  build_deps/toolchains/gpu/cuda/BUILD
  build_deps/toolchains/gpu/cuda/BUILD.tpl
  build_deps/toolchains/gpu/cuda/BUILD.windows.tpl
  build_deps/toolchains/gpu/cuda/build_defs.bzl.tpl
  build_deps/toolchains/gpu/cuda/cuda_config.h.tpl
  build_deps/toolchains/gpu/cuda_configure.bzl
  configure.sh
Labels: build, cla: yes

#558 Modify ConditionalGradient optimizer with handling case of gradient be 0
  tensorflow_addons/optimizers/conditional_gradient.py
Labels: cla: yes

#559 Remove shuffling for the test dataset
  docs/tutorials/losses_triplet.ipynb
Labels: cla: yes

#551 unify activations and tests
  tensorflow_addons/activations/BUILD
  tensorflow_addons/activations/README.md
  tensorflow_addons/activations/activations_test.py
  tensorflow_addons/activations/gelu_test.py
  tensorflow_addons/activations/hardshrink_test.py
  tensorflow_addons/activations/lisht_test.py
  tensorflow_addons/activations/sparsemax.py
  tensorflow_addons/activations/sparsemax_test.py
  tensorflow_addons/activations/tanhshrink_test.py
  tensorflow_addons/custom_ops/activations/cc/kernels/gelu_op.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/gelu_op.h
  tensorflow_addons/custom_ops/activations/cc/kernels/gelu_op_gpu.cu.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/hardshrink_op.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/hardshrink_op.h
  tensorflow_addons/custom_ops/activations/cc/kernels/hardshrink_op_gpu.cu.cc
  tensorflow_addons/custom_ops/activations/cc/ops/gelu_op.cc
  tensorflow_addons/custom_ops/activations/cc/ops/hardshrink_op.cc
Labels: cla: yes

#566 Hide the notebook template from the tensorflow.org site tools.
  docs/tutorials/_template.ipynb
Labels: cla: yes

#568 Increase minor version
  tensorflow_addons/version.py
Labels: cla: yes

#571 Tutorials increase version
  docs/tutorials/_template.ipynb
  docs/tutorials/image_ops.ipynb
  docs/tutorials/layers_normalizations.ipynb
  docs/tutorials/layers_weightnormalization.ipynb
  docs/tutorials/losses_triplet.ipynb
  docs/tutorials/optimizers_lazyadam.ipynb
Labels: cla: yes, tutorials

#572 correct link
  tensorflow_addons/activations/README.md
  tensorflow_addons/callbacks/README.md
  tensorflow_addons/layers/README.md
  tensorflow_addons/losses/README.md
  tensorflow_addons/metrics/README.md
  tensorflow_addons/rnn/README.md
  tensorflow_addons/seq2seq/README.md
Labels: cla: yes

#557 avoid substraction ops to maintain precision
  tensorflow_addons/metrics/multilabel_confusion_matrix.py
Labels: cla: yes

#561 DOC: Add migration documentation
  MIGRATED_TO_CORE.md
Labels: cla: yes, core-migration, documentation

#576 Simplify gather_tree_from_array implementation
  tensorflow_addons/seq2seq/beam_search_decoder.py
Labels: cla: yes, seq2seq

#546 Add support for masked input in TrainingSampler
  tensorflow_addons/seq2seq/basic_decoder_test.py
  tensorflow_addons/seq2seq/sampler.py
Labels: cla: yes, seq2seq

#570 add softshrink kernel
  tensorflow_addons/activations/BUILD
  tensorflow_addons/activations/README.md
  tensorflow_addons/activations/__init__.py
  tensorflow_addons/activations/activations_test.py
  tensorflow_addons/activations/softshrink.py
  tensorflow_addons/activations/softshrink_test.py
  tensorflow_addons/custom_ops/activations/BUILD
  tensorflow_addons/custom_ops/activations/cc/kernels/softshrink_op.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/softshrink_op.h
  tensorflow_addons/custom_ops/activations/cc/kernels/softshrink_op_gpu.cu.cc
  tensorflow_addons/custom_ops/activations/cc/ops/softshrink_op.cc
Labels: activations, cla: yes

#545 correction, typeError
  tensorflow_addons/image/filters_test.py
  tensorflow_addons/utils/keras_utils.py
  tensorflow_addons/utils/keras_utils_test.py
  tensorflow_addons/utils/test_utils.py
Labels: cla: yes

#578 Docs update for tensorflow.org
  docs/_book.yaml
  docs/_index.yaml
  docs/_project.yaml
  docs/tutorials/README.md
  docs/tutorials/_template.ipynb
  docs/tutorials/_toc.yaml
  docs/tutorials/image_ops.ipynb
  docs/tutorials/layers_normalizations.ipynb
  docs/tutorials/layers_weightnormalization.ipynb
  docs/tutorials/losses_triplet.ipynb
  docs/tutorials/optimizers_lazyadam.ipynb
Labels: cla: yes, tutorials

#567 BLD: switch to tf-nightly
  README.md
  build_deps/requirements.txt
  build_deps/requirements_gpu.txt
  configure.sh
  setup.py
Labels: cla: yes

#584 Add API documentation badge
  README.md
Labels: cla: yes, documentation

#585 fix typo
  tensorflow_addons/custom_ops/layers/cc/kernels/correlation_cost_op.cc
  tensorflow_addons/custom_ops/layers/cc/kernels/correlation_cost_op.h
  tensorflow_addons/custom_ops/layers/cc/kernels/correlation_cost_op_gpu.cu.cc
  tensorflow_addons/custom_ops/layers/cc/ops/correlation_cost_op.cc
Labels: cla: yes

#583 Add overview page, regenerate image_ops output.
  docs/overview.md
  docs/tutorials/README.md
  docs/tutorials/_toc.yaml
  docs/tutorials/image_ops.ipynb
  docs/tutorials/layers_weightnormalization.ipynb
  tensorflow_addons/layers/sparsemax.py
  tensorflow_addons/metrics/f_scores.py
  tensorflow_addons/seq2seq/decoder.py
Labels: cla: yes

#587 BLD: always install the latest tf in configure.sh
  configure.sh
Labels: cla: yes

#593 fix missing string
  docs/tutorials/README.md
Labels: cla: yes

#595 Update text for triplet loss tutorial
  docs/tutorials/losses_triplet.ipynb
Labels: cla: yes

#581 Define custom_op_library Bazel macro
  tensorflow_addons/custom_ops/activations/BUILD
  tensorflow_addons/custom_ops/image/BUILD
  tensorflow_addons/custom_ops/layers/BUILD
  tensorflow_addons/custom_ops/seq2seq/BUILD
  tensorflow_addons/custom_ops/text/BUILD
  tensorflow_addons/tensorflow_addons.bzl
Labels: build, cla: yes

#599 Temporarily pin protobuf to return CI
  build_deps/requirements.txt
Labels: cla: yes

#601 Standardize lambda with other frameworks
  tensorflow_addons/activations/hardshrink.py
  tensorflow_addons/activations/hardshrink_test.py
  tensorflow_addons/activations/softshrink.py
  tensorflow_addons/activations/softshrink_test.py
  tensorflow_addons/custom_ops/activations/cc/ops/hardshrink_op.cc
  tensorflow_addons/custom_ops/activations/cc/ops/softshrink_op.cc
Labels: activations, cla: yes

#600 DOC: Standardize doc information
  tensorflow_addons/activations/__init__.py
  tensorflow_addons/callbacks/__init__.py
  tensorflow_addons/image/__init__.py
  tensorflow_addons/metrics/__init__.py
  tensorflow_addons/rnn/__init__.py
  tensorflow_addons/seq2seq/__init__.py
  tensorflow_addons/text/__init__.py
Labels: cla: yes, documentation

#618 Pin to greater than tensorflow core
  setup.py
Labels: build, cla: yes

#491 Implements LAMBOptimizer
  tensorflow_addons/optimizers/BUILD
  tensorflow_addons/optimizers/README.md
  tensorflow_addons/optimizers/lamb.py
  tensorflow_addons/optimizers/lamb_test.py
Labels: cla: yes, optimizers

#616 Revert requirements patch
  build_deps/requirements.txt
Labels: build, cla: yes

#604 Minor correction
  tensorflow_addons/image/transform_ops.py
Labels: cla: yes

#617 Add lr setters/getters to optimizer wrappers
  tensorflow_addons/optimizers/lookahead.py
  tensorflow_addons/optimizers/lookahead_test.py
  tensorflow_addons/optimizers/moving_average.py
  tensorflow_addons/optimizers/moving_average_test.py
Labels: cla: yes, optimizers

#622 FIX: pass numpy arrays to keras model
  tensorflow_addons/layers/optical_flow.py
  tensorflow_addons/layers/optical_flow_test.py
Labels: bug, cla: yes, layers

#573 add rrelu kernel
  tensorflow_addons/activations/BUILD
  tensorflow_addons/activations/README.md
  tensorflow_addons/activations/__init__.py
  tensorflow_addons/activations/activations_test.py
  tensorflow_addons/activations/rrelu.py
  tensorflow_addons/activations/rrelu_test.py
  tensorflow_addons/custom_ops/activations/BUILD
  tensorflow_addons/custom_ops/activations/cc/kernels/rrelu_op.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/rrelu_op.h
  tensorflow_addons/custom_ops/activations/cc/kernels/rrelu_op_gpu.cu.cc
  tensorflow_addons/custom_ops/activations/cc/ops/rrelu_op.cc
Labels: activations, cla: yes

#590 Add in tutorial for ConditionalGradient Optimizer
  docs/tutorials/_toc.yaml
  docs/tutorials/optimizers_conditionalgradient.ipynb
Labels: cla: yes, optimizers, tutorials

#636 Refactoring learning rate (lr)
  tensorflow_addons/optimizers/lookahead.py
  tensorflow_addons/optimizers/moving_average.py
Labels: cla: yes, optimizers

#635 Bugfix: correct input shape handling for CorrelationCost Keras layer
  tensorflow_addons/layers/optical_flow.py
  tensorflow_addons/layers/optical_flow_test.py
Labels: cla: yes

#569 add mish kernel
  tensorflow_addons/activations/BUILD
  tensorflow_addons/activations/README.md
  tensorflow_addons/activations/__init__.py
  tensorflow_addons/activations/activations_test.py
  tensorflow_addons/activations/mish.py
  tensorflow_addons/activations/mish_test.py
  tensorflow_addons/custom_ops/activations/BUILD
  tensorflow_addons/custom_ops/activations/cc/kernels/mish_op.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/mish_op.h
  tensorflow_addons/custom_ops/activations/cc/kernels/mish_op_gpu.cu.cc
  tensorflow_addons/custom_ops/activations/cc/ops/mish_op.cc
Labels: activations, cla: yes

#645 update deprecated API
  tensorflow_addons/layers/wrappers.py
  tensorflow_addons/rnn/cell.py
Labels: cla: yes

#642 Make interpolate_bilinear compatible with TF Dataset (#332)
  tensorflow_addons/image/dense_image_warp.py
  tensorflow_addons/image/dense_image_warp_test.py
Labels: cla: yes

#610 Adds TQDMProgressBar in callbacks
  docs/tutorials/tqdm_progress_bar.ipynb
  tensorflow_addons/callbacks/BUILD
  tensorflow_addons/callbacks/README.md
  tensorflow_addons/callbacks/__init__.py
  tensorflow_addons/callbacks/tqdm_progress_bar.py
Labels: callbacks, cla: yes

#653 [Small typo] fixed typo in tqdm_progress_bar colab tutorial
  docs/tutorials/tqdm_progress_bar.ipynb
Labels: cla: yes

#654 Add unit test verifying tf.Dataset support for dense_image_warp (#332)
  tensorflow_addons/image/dense_image_warp_test.py
Labels: cla: yes
