Repository tensorflow/addons, pull requests merged in 2019-05, with the labels that each got.

#225 Move examples directory out of source directory #221
  CONTRIBUTING.md
  README.md
  examples/layers_weightnormalization.ipynb
  examples/optimizers_lazyadam.ipynb
Labels: cla: no, documentation

#227 FIX: x_test scaling
  examples/layers_weightnormalization.ipynb
Labels: cla: yes

#228 use logo on tensorflow/community
  README.md
  static/SIGAddons.png
Labels: cla: yes

#185 Adding Mean_filter_2D after restructuring
  tensorflow_addons/image/README.md
  tensorflow_addons/image/__init__.py
  tensorflow_addons/image/filters.py
  tensorflow_addons/image/filters_test.py
Labels: cla: no, image

#211 Add bzl file to control CXX11_ABI
  configure.sh
  tensorflow_addons/addons_bazel_macros.bzl
  tensorflow_addons/custom_ops/image/BUILD
  tensorflow_addons/custom_ops/seq2seq/BUILD
  tensorflow_addons/custom_ops/text/BUILD
Labels: build, cla: yes

#238 CLN: Remove outdated python RegisterShape
  tensorflow_addons/image/distance_transform.py
  tensorflow_addons/image/transform_ops.py
Labels: cla: yes

#239 CLN: seqs2seq use public apis
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/attention_wrapper_test.py
  tensorflow_addons/seq2seq/basic_decoder.py
  tensorflow_addons/seq2seq/basic_decoder_test.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/seq2seq/beam_search_decoder_test.py
  tensorflow_addons/seq2seq/beam_search_ops_test.py
  tensorflow_addons/seq2seq/decoder.py
  tensorflow_addons/seq2seq/decoder_test.py
  tensorflow_addons/utils/test_utils.py
Labels: cla: yes

#240 CLN: Rework bazel build setup
  configure.sh
  tensorflow_addons/addons_bazel_macros.bzl
  tensorflow_addons/custom_ops/image/BUILD
  tensorflow_addons/custom_ops/seq2seq/BUILD
  tensorflow_addons/custom_ops/text/BUILD
  tf_dependency/build_defs.bzl.tpl
  tf_dependency/tf_configure.bzl
Labels: cla: yes

#248 FIX: Remove epsilon as variable.
  tensorflow_addons/optimizers/lazy_adam.py
  tensorflow_addons/optimizers/weight_decay_optimizers_test.py
Labels: cla: yes, optimizers

#251 Use compat.v1 for broadcasted tf.where
  tensorflow_addons/activations/sparsemax.py
  tensorflow_addons/seq2seq/decoder.py
  tensorflow_addons/seq2seq/sampler.py
Labels: cla: yes

#247 Add metrics module
  tensorflow_addons/BUILD
  tensorflow_addons/__init__.py
  tensorflow_addons/metrics/BUILD
  tensorflow_addons/metrics/README.md
  tensorflow_addons/metrics/__init__.py
Labels: cla: yes, metrics

#257 Fix distort_image_ops_test
  tensorflow_addons/image/distort_image_ops.py
  tensorflow_addons/image/distort_image_ops_test.py
Labels: cla: yes

#261 FIX: LazyAdam init
  tensorflow_addons/optimizers/lazy_adam.py
  tensorflow_addons/optimizers/lazy_adam_test.py
Labels: cla: yes, optimizers

#255 DOC: Update READMEs
  CONTRIBUTING.md
  README.md
  examples/README.md
  examples/template.ipynb
Labels: cla: yes, documentation

#264 Update the tf.compat.v1.where to tf.where in v2.
  tensorflow_addons/seq2seq/decoder.py
  tensorflow_addons/seq2seq/sampler.py
Labels: cla: yes

#235 Speed up mean_filter2d with depthwise_conv2d
  tensorflow_addons/image/filters.py
  tensorflow_addons/image/filters_test.py
  tensorflow_addons/utils/keras_utils.py
Labels: awaiting testing (then merge), cla: yes, image
