Repository tensorflow/addons, pull requests merged in 2019-11, with the labels that each got.

#657 update _toc.yaml with path to TQDM Progress Bar colab
  docs/tutorials/_toc.yaml
Labels: cla: yes

#667 Update Readme, add `self` as poincare maintainer
  tensorflow_addons/layers/README.md
Labels: cla: yes

#666 [doc]: Add self to skip_gram_ops maintainer list
  tensorflow_addons/text/README.md
Labels: cla: yes

#665 Update README.md - add self to maintainer
  tensorflow_addons/losses/README.md
Labels: cla: yes

#502 CLN: Refactor f_scores and f_test
  tensorflow_addons/metrics/BUILD
  tensorflow_addons/metrics/README.md
  tensorflow_addons/metrics/f1_test.py
  tensorflow_addons/metrics/f_scores.py
  tensorflow_addons/metrics/f_test.py
  tensorflow_addons/metrics/fbeta_test.py
  tensorflow_addons/metrics/utils.py
Labels: cla: yes, metrics, wip

#659 FIX: Internally cast to required DType
  tensorflow_addons/text/crf.py
  tensorflow_addons/text/crf_test.py
Labels: cla: yes

#675 Fix overflow of CohenKappa
  tensorflow_addons/metrics/cohens_kappa.py
  tensorflow_addons/metrics/cohens_kappa_test.py
Labels: cla: yes

#681 add get_config() method to TQDM_Progress_Bar
  tensorflow_addons/callbacks/tqdm_progress_bar.py
Labels: cla: yes

#678 Fixing missing files
  docs/overview.md
  tensorflow_addons/optimizers/__init__.py
Labels: cla: yes

#685 Set random seed for TensorFlow to make test reproducible
  tensorflow_addons/optimizers/lookahead_test.py
Labels: cla: yes, optimizers

#687 FIX: Invariant input_spec for WeightNormalization
  tensorflow_addons/layers/wrappers.py
  tensorflow_addons/layers/wrappers_test.py
Labels: cla: yes, layers

#644 Add cyclical learning rate schedulers
  tensorflow_addons/optimizers/BUILD
  tensorflow_addons/optimizers/README.md
  tensorflow_addons/optimizers/__init__.py
  tensorflow_addons/optimizers/cyclical_learning_rate.py
  tensorflow_addons/optimizers/cyclical_learning_rate_test.py
Labels: cla: yes, optimizers

#691 Build data_init layer under name_scope
  tensorflow_addons/layers/wrappers.py
  tensorflow_addons/layers/wrappers_test.py
Labels: cla: yes, layers

#696 Fix WeightNormalization wrapped layer has use_biase=False
  tensorflow_addons/layers/wrappers.py
  tensorflow_addons/layers/wrappers_test.py
Labels: cla: yes

#689 Speed up correlation cost
  tensorflow_addons/custom_ops/layers/cc/kernels/correlation_cost_op.cc
  tensorflow_addons/layers/optical_flow_test.py
Labels: cla: yes, layers

#620 Add Stochastic Weight Averaging Optimizer.
  tensorflow_addons/optimizers/BUILD
  tensorflow_addons/optimizers/README.md
  tensorflow_addons/optimizers/stochastic_weight_averaging.py
  tensorflow_addons/optimizers/stochastic_weight_averaging_test.py
Labels: cla: yes

#483 MatthewsCorrelationCoefficient
  tensorflow_addons/metrics/BUILD
  tensorflow_addons/metrics/README.md
  tensorflow_addons/metrics/__init__.py
  tensorflow_addons/metrics/matthews_correlation_coefficient.py
  tensorflow_addons/metrics/matthews_correlation_coefficient_test.py
Labels: awaiting testing (then merge), cla: yes, metrics

#700 Fix keras model compile for lifted_struct_loss
  tensorflow_addons/losses/lifted.py
  tensorflow_addons/losses/lifted_test.py
Labels: cla: yes, losses

#702 Remove copyright notice
  LICENSE
Labels: cla: yes

#658 Revert pinned nightly
  build_deps/requirements.txt
Labels: build, cla: yes

#705 Migrate from std::string to tensorflow::tstring.
  tensorflow_addons/custom_ops/text/cc/kernels/skip_gram_kernels.cc
Labels: cla: yes

#710 Don't build parse_time till TF r2.1
  tensorflow_addons/custom_ops/text/BUILD
  tensorflow_addons/text/BUILD
  tensorflow_addons/text/__init__.py
Labels: build, cla: yes

#477 Add GIOU loss
  tensorflow_addons/losses/BUILD
  tensorflow_addons/losses/README.md
  tensorflow_addons/losses/__init__.py
  tensorflow_addons/losses/giou_loss.py
  tensorflow_addons/losses/giou_loss_test.py
Labels: awaiting testing (then merge), cla: yes, losses

#714 Update documentation of optimizers
  tensorflow_addons/optimizers/conditional_gradient.py
  tensorflow_addons/optimizers/lamb.py
  tensorflow_addons/optimizers/lazy_adam.py
  tensorflow_addons/optimizers/rectified_adam.py
Labels: cla: yes, documentation, optimizers

#662 add resampler kernel
  tensorflow_addons/custom_ops/image/BUILD
  tensorflow_addons/custom_ops/image/cc/kernels/resampler_ops.cc
  tensorflow_addons/custom_ops/image/cc/kernels/resampler_ops.h
  tensorflow_addons/custom_ops/image/cc/kernels/resampler_ops_gpu.cu.cc
  tensorflow_addons/custom_ops/image/cc/ops/resampler_ops.cc
  tensorflow_addons/image/BUILD
  tensorflow_addons/image/README.md
  tensorflow_addons/image/__init__.py
  tensorflow_addons/image/resampler_ops.py
  tensorflow_addons/image/resampler_ops_test.py
  tensorflow_addons/image/sparse_image_warp.py
Labels: cla: yes

#716 Hotfix: fix brew setup
  tools/ci_build/builds/release_macos.sh
Labels: build, cla: yes

#695 Test in eager model
  tensorflow_addons/image/transform_ops_test.py
  tensorflow_addons/layers/BUILD
  tensorflow_addons/layers/normalizations_test.py
  tensorflow_addons/metrics/r_square_test.py
  tensorflow_addons/optimizers/conditional_gradient_test.py
  tensorflow_addons/optimizers/cyclical_learning_rate_test.py
  tensorflow_addons/optimizers/weight_decay_optimizers_test.py
Labels: cla: yes
