Repository tensorflow/addons, pull requests merged in 2019-12, with the labels that each got.

#342 Hamming loss and distance scripts
  tensorflow_addons/metrics/BUILD
  tensorflow_addons/metrics/README.md
  tensorflow_addons/metrics/__init__.py
  tensorflow_addons/metrics/hamming.py
  tensorflow_addons/metrics/hamming_test.py
Labels: cla: yes, metrics

#721 fix distributed training error and nan result bugs
  tensorflow_addons/metrics/cohens_kappa.py
  tensorflow_addons/metrics/cohens_kappa_test.py
Labels: cla: yes, metrics

#728 Revert "Don't build parse_time till TF r2.1 (#710)"
  tensorflow_addons/custom_ops/text/BUILD
  tensorflow_addons/text/BUILD
  tensorflow_addons/text/__init__.py
Labels: awaiting testing (then merge), cla: yes, text

#729 CLN: typo and sorting metric README
  tensorflow_addons/metrics/README.md
Labels: cla: yes, metrics

#611 Fix GroupNormalization
  tensorflow_addons/layers/normalizations.py
  tensorflow_addons/layers/normalizations_test.py
Labels: awaiting testing (then merge), cla: no, layers

#734 Minor correction docstring
  tensorflow_addons/losses/focal_loss.py
  tensorflow_addons/losses/giou_loss.py
  tensorflow_addons/metrics/__init__.py
Labels: cla: yes

#739 Prevent warning of signed-unsigned comparison
  tensorflow_addons/custom_ops/text/cc/kernels/skip_gram_kernels.cc
Labels: cla: yes, text

#730 Build using CUDA 10.1
  .travis.yml
  CONTRIBUTING.md
  README.md
  WORKSPACE
  build_deps/toolchains/gcc7_manylinux2010-nvcc-cuda10.1/BUILD
  build_deps/toolchains/gcc7_manylinux2010-nvcc-cuda10.1/cc_toolchain_config.bzl
  build_deps/toolchains/gcc7_manylinux2010-nvcc-cuda10.1/clang/bin/crosstool_wrapper_driver_is_not_gcc
  build_deps/toolchains/gpu/cuda_configure.bzl
  build_deps/toolchains/gpu/find_cuda_config.py
  configure.sh
  tensorflow_addons/activations/BUILD
  tensorflow_addons/callbacks/BUILD
  tensorflow_addons/image/BUILD
  tensorflow_addons/layers/BUILD
  tensorflow_addons/losses/BUILD
  tensorflow_addons/metrics/BUILD
  tensorflow_addons/optimizers/BUILD
  tensorflow_addons/rnn/BUILD
  tensorflow_addons/seq2seq/BUILD
  tensorflow_addons/text/BUILD
  tensorflow_addons/utils/BUILD
  tools/ci_build/builds/release_linux.sh
  tools/ci_build/builds/release_macos.sh
  tools/ci_build/install/install_ci_dependency.sh
  tools/ci_testing/addons_cpu.sh
  tools/ci_testing/addons_gpu.sh
  tools/docs/BUILD
  tools/run_docker.sh
Labels: build, cla: yes

#742 BLD: fix release
  .travis.yml
  tools/ci_build/builds/release_macos.sh
Labels: awaiting testing (then merge), build, cla: yes

#748 BLD: fix release nightly
  .travis.yml
  build_pip_pkg.sh
  tools/ci_build/builds/wheel_verify.sh
Labels: build, cla: yes

#745 Implements YogiOptimizer
  tensorflow_addons/optimizers/BUILD
  tensorflow_addons/optimizers/README.md
  tensorflow_addons/optimizers/yogi.py
  tensorflow_addons/optimizers/yogi_test.py
Labels: cla: yes

#735 Consolidate pip packages now that TF2.1 supports GPU and CPU
  setup.py
Labels: awaiting testing (then merge), cla: yes

#761 Temporarily remove stale ppa until image can be updated
  tools/ci_build/builds/release_linux.sh
  tools/ci_build/install/install_ci_dependency.sh
Labels: build, cla: yes

#758 Removing int check in moving average
  tensorflow_addons/optimizers/moving_average.py
Labels: cla: yes

#759 Small update on how to run individual tests
  CONTRIBUTING.md
Labels: cla: yes

#769 Add WeightNorm support for RNNs
  tensorflow_addons/layers/wrappers.py
  tensorflow_addons/layers/wrappers_test.py
Labels: cla: yes, layers

#757 Adding TimeStopping to tfa.callback
  docs/tutorials/time_stopping.ipynb
  tensorflow_addons/callbacks/BUILD
  tensorflow_addons/callbacks/README.md
  tensorflow_addons/callbacks/__init__.py
  tensorflow_addons/callbacks/time_stopping.py
Labels: callbacks, cla: yes

#773 DOC: Add build matrix
  README.md
Labels: cla: yes, documentation

#771 Build Addons for Windows (CPU)
  .travis.yml
  MANIFEST.in
  README.md
  WORKSPACE
  build_deps/requirements.txt
  build_deps/tf_dependency/tf_configure.bzl
  build_deps/toolchains/gpu/cuda_configure.bzl
  build_pip_pkg.sh
  configure.sh
  except.txt
  setup.py
  tensorflow_addons/BUILD
  tensorflow_addons/custom_ops/activations/cc/kernels/gelu_op.h
  tensorflow_addons/custom_ops/activations/cc/kernels/rrelu_op.h
  tensorflow_addons/tensorflow_addons.bzl
  tensorflow_addons/text/BUILD
  tensorflow_addons/text/__init__.py
  tensorflow_addons/text/parse_time_dummy_test.py
  tensorflow_addons/utils/resource_loader.py
  tools/ci_build/builds/release_macos.sh
  tools/ci_build/builds/release_windows.sh
Labels: awaiting testing (then merge), build, cla: yes

#752 run gpu tests in parallel
  tools/ci_testing/addons_gpu.sh
  tools/ci_testing/parallel_gpu_execute.sh
Labels: cla: no, testing

#786 Skip failing tests
  tensorflow_addons/seq2seq/attention_wrapper_test.py
Labels: cla: yes

#785 Fix DeprecationWarnings from unescaped backslashes
  tensorflow_addons/losses/contrastive.py
  tensorflow_addons/losses/npairs.py
Labels: cla: yes

#779 fix crf for sequences of length 1
  tensorflow_addons/text/crf.py
Labels: cla: yes

#783 Add TODO issues for ParseTime on Windows
  except.txt
  tensorflow_addons/text/BUILD
  tensorflow_addons/text/__init__.py
  tensorflow_addons/text/parse_time_dummy_test.py
Labels: build, cla: yes, documentation

#776 as_numpy_dtype is a property, not a method
  tensorflow_addons/image/transform_ops_test.py
Labels: cla: yes, image

#736 Disable seq2seq test that uses deprecated fallback
  tensorflow_addons/seq2seq/attention_wrapper_test.py
Labels: cla: yes, seq2seq

#791 Remove experimental_run_tf_function in AttentionWrapper test
  tensorflow_addons/seq2seq/attention_wrapper_test.py
Labels: cla: yes, seq2seq

#774 DOC: Add core migration guide
  MIGRATED_TO_CORE.md
  MIGRATION_TO_CORE.md
Labels: cla: yes, core-migration, documentation

#793 Add github action to check WIP in PR title.
  .github/workflows/wip.yml
Labels: cla: yes

#795 [WIP] Add github workflow labeler
  .github/labeler.yml
  .github/workflows/label.yml
Labels: cla: yes

#798 Add labeler workflow
  .github/labeler.yml
Labels: cla: yes

#796 Mark filters_test as flaky
  tensorflow_addons/image/BUILD
Labels: cla: yes

#800 FIX: Add unknown seq-len support for CRF functions
  tensorflow_addons/text/crf.py
  tensorflow_addons/text/crf_test.py
Labels: cla: yes, crf

#764 FIX: Protect WeightNorm init with a mutex
  tensorflow_addons/layers/wrappers.py
Labels: cla: yes, layers

#803 Temporarily set rrelu_test as flaky
  tensorflow_addons/activations/BUILD
Labels: activations, cla: yes, test cases

#811 FIX: Add kwargs to loss to prevent serialize error
  tensorflow_addons/losses/lifted.py
  tensorflow_addons/losses/lifted_test.py
  tensorflow_addons/losses/triplet.py
  tensorflow_addons/losses/triplet_test.py
Labels: cla: yes, losses

#810 Focal loss-Fix minor bugs in reduction as well as #693
  tensorflow_addons/losses/focal_loss.py
  tensorflow_addons/losses/focal_loss_test.py
Labels: cla: yes, losses

#814 add name to the focal loss maintainers list
  tensorflow_addons/losses/README.md
Labels: cla: yes

#815 Add SWA in optimizers.__init__
  tensorflow_addons/optimizers/__init__.py
Labels: cla: yes

#808 BLD: Refactor configure
  .travis.yml
  CONTRIBUTING.md
  README.md
  build_deps/check_deps.py
  build_deps/requirements.txt
  build_deps/toolchains/gpu/find_cuda_config.py
  configure.sh
  setup.py
  tools/ci_build/builds/release_linux.sh
  tools/ci_build/builds/release_macos.sh
  tools/ci_build/builds/release_windows.sh
  tools/ci_build/ci_sanity.sh
  tools/ci_testing/addons_cpu.sh
  tools/ci_testing/addons_gpu.sh
Labels: build, cla: yes

#760 Create new AveragedOptimizerWrapper optimizer
  tensorflow_addons/optimizers/BUILD
  tensorflow_addons/optimizers/__init__.py
  tensorflow_addons/optimizers/average_wrapper.py
  tensorflow_addons/optimizers/moving_average.py
  tensorflow_addons/optimizers/moving_average_test.py
  tensorflow_addons/optimizers/stochastic_weight_averaging.py
  tensorflow_addons/optimizers/stochastic_weight_averaging_test.py
  tensorflow_addons/optimizers/utils.py
Labels: cla: yes, optimizers

#806 Sequence-to-Sequence NMT
  docs/tutorials/networks_seq2seq_nmt.ipynb
Labels: cla: yes, seq2seq, tutorials

#772 Temporarily add broken tutorial for testing
  Broken_Template.ipynb
Labels: cla: yes, test cases
