Repository tensorflow/addons, pull requests merged in 2020-12, with the labels that each got.

#2259 Bump target py versions for black
  pyproject.toml
  tensorflow_addons/callbacks/average_model_checkpoint.py
  tensorflow_addons/layers/adaptive_pooling.py
  tensorflow_addons/layers/crf.py
  tensorflow_addons/layers/esn.py
  tensorflow_addons/layers/multihead_attention.py
  tensorflow_addons/layers/noisy_dense.py
  tensorflow_addons/layers/normalizations.py
  tensorflow_addons/layers/optical_flow.py
  tensorflow_addons/layers/polynomial.py
  tensorflow_addons/layers/spatial_pyramid_pooling.py
  tensorflow_addons/layers/tlu.py
  tensorflow_addons/losses/triplet.py
  tensorflow_addons/metrics/f_scores.py
  tensorflow_addons/metrics/hamming.py
  tensorflow_addons/metrics/matthews_correlation_coefficient.py
  tensorflow_addons/metrics/multilabel_confusion_matrix.py
  tensorflow_addons/metrics/r_square.py
  tensorflow_addons/metrics/utils.py
  tensorflow_addons/optimizers/conditional_gradient.py
  tensorflow_addons/optimizers/discriminative_layer_training.py
  tensorflow_addons/optimizers/lamb.py
  tensorflow_addons/optimizers/lazy_adam.py
  tensorflow_addons/optimizers/lookahead.py
  tensorflow_addons/optimizers/moving_average.py
  tensorflow_addons/optimizers/novograd.py
  tensorflow_addons/optimizers/proximal_adagrad.py
  tensorflow_addons/optimizers/rectified_adam.py
  tensorflow_addons/optimizers/stochastic_weight_averaging.py
  tensorflow_addons/optimizers/tests/weight_decay_optimizers_test.py
  tensorflow_addons/optimizers/weight_decay_optimizers.py
  tensorflow_addons/optimizers/yogi.py
  tensorflow_addons/rnn/esn_cell.py
  tensorflow_addons/rnn/layer_norm_lstm_cell.py
  tensorflow_addons/rnn/layer_norm_simple_rnn_cell.py
  tensorflow_addons/rnn/nas_cell.py
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/basic_decoder.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/seq2seq/decoder.py
Labels: callbacks, cla: yes, layers, losses, metrics, optimizers

#2267 [*.py] Rename "Arguments:" to "Args:"
  tensorflow_addons/callbacks/tqdm_progress_bar.py
  tensorflow_addons/layers/adaptive_pooling.py
  tensorflow_addons/layers/crf.py
  tensorflow_addons/layers/esn.py
  tensorflow_addons/layers/maxout.py
  tensorflow_addons/layers/multihead_attention.py
  tensorflow_addons/layers/netvlad.py
  tensorflow_addons/layers/noisy_dense.py
  tensorflow_addons/layers/normalizations.py
  tensorflow_addons/layers/poincare.py
  tensorflow_addons/layers/polynomial.py
  tensorflow_addons/layers/snake.py
  tensorflow_addons/layers/sparsemax.py
  tensorflow_addons/layers/spatial_pyramid_pooling.py
  tensorflow_addons/layers/spectral_normalization.py
  tensorflow_addons/layers/stochastic_depth.py
  tensorflow_addons/layers/tlu.py
  tensorflow_addons/layers/wrappers.py
  tensorflow_addons/rnn/esn_cell.py
  tensorflow_addons/rnn/layer_norm_simple_rnn_cell.py
  tensorflow_addons/utils/keras_utils.py
Labels: callbacks, cla: yes, layers

#2261 Warn users when it's unable to assign average slot
  tensorflow_addons/optimizers/average_wrapper.py
  tensorflow_addons/optimizers/tests/moving_average_test.py
Labels: cla: yes, optimizers

#2270 Change CRF layer dtype
  tensorflow_addons/text/crf.py
Labels: cla: yes, text

#2238 support loss scale optimizer
  tensorflow_addons/callbacks/average_model_checkpoint.py
  tensorflow_addons/callbacks/tests/avg_model_checkpoint_test.py
  tensorflow_addons/optimizers/tests/moving_average_test.py
Labels: callbacks, cla: yes, optimizers, test-cases

#2274 fix LazyAdam resource variable ops performance issue
  tensorflow_addons/optimizers/lazy_adam.py
Labels: cla: yes, optimizers

#2264 Remove tf.function decorator in tfa.image.equalize
  tensorflow_addons/image/color_ops.py
Labels: cla: yes, image

#2272 Add MaxUnpooling2D layer
  .github/CODEOWNERS
  tensorflow_addons/layers/BUILD
  tensorflow_addons/layers/__init__.py
  tensorflow_addons/layers/max_unpooling_2d.py
  tensorflow_addons/layers/tests/max_unpooling_2d_test.py
  tools/testing/source_code_test.py
Labels: cla: yes, ecosystem-review, github, layers, test-cases

#2285 Rodert fix image random cutout 2276
  tensorflow_addons/image/cutout_ops.py
  tensorflow_addons/image/tests/cutout_ops_test.py
Labels: cla: yes, image

#2291 add LossScaleOptimizerV1
  tensorflow_addons/callbacks/average_model_checkpoint.py
Labels: callbacks, cla: yes

#2284 Bug fix for conflict variable name in layernorm cells.
  tensorflow_addons/rnn/layer_norm_lstm_cell.py
  tensorflow_addons/rnn/tests/layer_norm_lstm_cell_test.py
Labels: cla: yes

#2253 make MultiHeadAttention agnostic to dtype (float32 vs. float16)
  tensorflow_addons/layers/multihead_attention.py
  tensorflow_addons/layers/tests/multihead_attention_test.py
Labels: cla: yes, layers

#2250 Build against TF2.4
  .github/workflows/release.yml
  CONTRIBUTING.md
  build_deps/toolchains/gcc7_manylinux2010-nvcc-cuda11/BUILD
  build_deps/toolchains/gcc7_manylinux2010-nvcc-cuda11/cc_toolchain_config.bzl
  build_deps/toolchains/gcc7_manylinux2010-nvcc-cuda11/clang/bin/crosstool_wrapper_driver_is_not_gcc
  configure.py
  tensorflow_addons/activations/mish.py
  tensorflow_addons/layers/tests/crf_test.py
  tensorflow_addons/optimizers/tests/conditional_gradient_test.py
  tensorflow_addons/text/crf.py
  tensorflow_addons/text/tests/crf_test.py
  tensorflow_addons/utils/types.py
  tensorflow_addons/version.py
  tools/build_dev_container.sh
  tools/docker/build_wheel.Dockerfile
  tools/docker/cpu_tests.Dockerfile
  tools/install_deps/tensorflow-cpu.txt
  tools/install_deps/tensorflow.txt
  tools/install_so_files.sh
  tools/releases/tf_auditwheel_patch.sh
  tools/run_gpu_tests.sh
  tools/testing/source_code_test.py
Labels: activations, build, cla: yes, github, layers, optimizers, test-cases, text

#2292 Update nightly compatibility matrix
  README.md
Labels: cla: yes

#2265 Add tf.nn.gelu alias for TF >= 2.4
  tensorflow_addons/activations/gelu.py
Labels: activations, cla: yes

#2294 Remove support of TF<2.2
  tensorflow_addons/losses/tests/quantiles_test.py
  tensorflow_addons/optimizers/tests/lookahead_test.py
  tensorflow_addons/utils/test_utils.py
Labels: cla: yes, losses, optimizers

#2287 Refactor sharpness
  tensorflow_addons/image/color_ops.py
  tensorflow_addons/image/tests/color_ops_test.py
Labels: cla: yes, image

#2296 Remove unsupported data_format
  tensorflow_addons/image/cutout_ops.py
Labels: cla: yes, image

#2299 Add AVX2 support
  .github/workflows/make_wheel_Windows.sh
  .github/workflows/make_wheel_macOS.sh
  .github/workflows/release.yml
  configure.py
  tools/docker/build_wheel.Dockerfile
  tools/testing/build_and_run_tests.sh
Labels: cla: yes, github, test-cases

#2298 Update default CUDA in doc
  README.md
Labels: cla: yes

#2297 MaxUnpooling2D typing
  tensorflow_addons/layers/max_unpooling_2d.py
Labels: cla: yes, layers

#2293 Use ImageProjectiveTransformV3 for TF >= 2.4.0
  tensorflow_addons/image/tests/transform_ops_test.py
  tensorflow_addons/image/transform_ops.py
  tensorflow_addons/image/translate_ops.py
Labels: cla: yes, image

#2301 Move enable_runfiles flag to configure.py
  .github/workflows/make_wheel_Windows.sh
  README.md
  configure.py
Labels: cla: yes, github

#2303 Fix filters type hint
  tensorflow_addons/image/filters.py
Labels: cla: yes, image

#2302 Make cutout compatible with keras layer
  tensorflow_addons/image/cutout_ops.py
  tensorflow_addons/image/tests/cutout_ops_test.py
Labels: cla: yes, image

#2300 Support unknown rank image
  tensorflow_addons/image/sparse_image_warp.py
  tensorflow_addons/image/tests/sparse_image_warp_test.py
Labels: cla: yes, image

#2306 Update ABI compatibility
  tensorflow_addons/utils/resource_loader.py
Labels: backport r0.12, cla: yes

#2304 Update version.py 0.12
  tensorflow_addons/version.py
Labels: cla: yes

#2309 Update ABI compatibility on r0.12
  tensorflow_addons/utils/resource_loader.py
Labels: cla: yes

#2308 Fix sparse_image_warp partially unknown shape
  tensorflow_addons/image/sparse_image_warp.py
  tensorflow_addons/image/tests/sparse_image_warp_test.py
Labels: backport r0.12, cla: yes, image

#2311 Image/fix sparse image warp unknown batch size - r0.12
  tensorflow_addons/image/sparse_image_warp.py
  tensorflow_addons/image/tests/sparse_image_warp_test.py
Labels: cla: yes, image

#2305 Update version.py -0.13
  tensorflow_addons/version.py
Labels: cla: yes

#2316 Update compat matrix for 0.12 release
  README.md
Labels: cla: yes

#2319 Remove control dependency
  tensorflow_addons/image/dense_image_warp.py
  tensorflow_addons/image/tests/dense_image_warp_test.py
  tools/testing/source_code_test.py
Labels: cla: yes, image, test-cases

#2323 Build with c++14
  configure.py
Labels: cla: yes

#2318 Fix GPU CI Test - Remove bazelversion file in docker image
  .bazelversion
  tools/docker/build_wheel.Dockerfile
Labels: cla: yes

#2324 Fix symbolic tensor shape
  tensorflow_addons/layers/max_unpooling_2d.py
  tensorflow_addons/layers/tests/max_unpooling_2d_test.py
Labels: cla: yes, layers

#2327 Specify detailed types
  tensorflow_addons/utils/types.py
Labels: cla: yes
