Repository tensorflow/addons, pull requests merged in 2020-02, with the labels that each got.

#978 Typing optimizers
  tensorflow_addons/optimizers/average_wrapper.py
  tensorflow_addons/optimizers/conditional_gradient.py
  tensorflow_addons/optimizers/cyclical_learning_rate.py
  tensorflow_addons/optimizers/lookahead.py
  tensorflow_addons/optimizers/moving_average.py
  tensorflow_addons/optimizers/stochastic_weight_averaging.py
  tensorflow_addons/optimizers/weight_decay_optimizers.py
  tensorflow_addons/optimizers/yogi.py
  tools/ci_build/verify/check_typing_info.py
Labels: build, cla: yes, optimizers

#995 image functions typing
  tensorflow_addons/image/connected_components.py
  tensorflow_addons/image/dense_image_warp.py
  tensorflow_addons/image/distance_transform.py
  tensorflow_addons/image/distort_image_ops.py
  tensorflow_addons/image/interpolate_spline.py
  tools/ci_build/verify/check_typing_info.py
Labels: build, cla: yes, image, seq2seq

#999 The image functions
  tensorflow_addons/image/filters.py
  tensorflow_addons/image/resampler_ops.py
  tensorflow_addons/image/sparse_image_warp.py
  tensorflow_addons/image/transform_ops.py
  tensorflow_addons/image/translate_ops.py
  tools/ci_build/verify/check_typing_info.py
Labels: build, cla: yes, image

#1005 replace Shard with ParallelFor
  tensorflow_addons/custom_ops/image/cc/kernels/adjust_hsv_in_yiq_op.cc
  tensorflow_addons/custom_ops/image/cc/kernels/connected_components.cc
  tensorflow_addons/custom_ops/image/cc/kernels/resampler_ops.cc
  tensorflow_addons/custom_ops/layers/cc/kernels/correlation_cost_op.cc
  tensorflow_addons/custom_ops/seq2seq/cc/kernels/beam_search_ops.cc
Labels: cla: yes, custom-ops

#1013 Used black on some files which are not being worked on.
  pyproject.toml
  setup.py
  tensorflow_addons/activations/gelu.py
  tensorflow_addons/activations/gelu_test.py
  tensorflow_addons/callbacks/tqdm_progress_bar.py
Labels: activations, callbacks, cla: yes

#1011 Moved the bazel format check outside the sanity check.
  .github/workflows/ci_test.yml
  build_deps/tf_dependency/tf_configure.bzl
  tensorflow_addons/tensorflow_addons.bzl
  tools/ci_build/builds/builds_common.sh
  tools/ci_build/code_format.sh
Labels: build, cla: yes, github

#1010 Is#964
  tensorflow_addons/callbacks/time_stopping.py
Labels: callbacks, cla: yes

#1012 Move clang-format outside the sanity check
  .github/workflows/ci_test.yml
  STYLE_GUIDE.md
  makefile
  tensorflow_addons/custom_ops/activations/cc/kernels/gelu_op.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/gelu_op_gpu.cu.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/hardshrink_op.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/hardshrink_op_gpu.cu.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/lisht_op.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/lisht_op_gpu.cu.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/mish_op.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/mish_op_gpu.cu.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/softshrink_op.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/softshrink_op_gpu.cu.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/tanhshrink_op.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/tanhshrink_op_gpu.cu.cc
  tensorflow_addons/custom_ops/image/cc/kernels/adjust_hsv_in_yiq_op.cc
  tensorflow_addons/custom_ops/image/cc/kernels/adjust_hsv_in_yiq_op.h
  tensorflow_addons/custom_ops/image/cc/kernels/adjust_hsv_in_yiq_op_gpu.cu.cc
  tensorflow_addons/custom_ops/image/cc/kernels/connected_components.cc
  tensorflow_addons/custom_ops/image/cc/kernels/euclidean_distance_transform_op.cc
  tensorflow_addons/custom_ops/image/cc/kernels/euclidean_distance_transform_op.h
  tensorflow_addons/custom_ops/image/cc/kernels/euclidean_distance_transform_op_gpu.cu.cc
  tensorflow_addons/custom_ops/image/cc/kernels/image_projective_transform_op.cc
  tensorflow_addons/custom_ops/image/cc/kernels/image_projective_transform_op.h
  tensorflow_addons/custom_ops/image/cc/kernels/image_projective_transform_op_gpu.cu.cc
  tensorflow_addons/custom_ops/image/cc/kernels/resampler_ops.cc
  tensorflow_addons/custom_ops/image/cc/ops/resampler_ops.cc
  tensorflow_addons/custom_ops/layers/cc/kernels/correlation_cost_op.cc
  tensorflow_addons/custom_ops/layers/cc/kernels/correlation_cost_op_gpu.cu.cc
  tensorflow_addons/custom_ops/seq2seq/cc/kernels/beam_search_ops.cc
  tensorflow_addons/custom_ops/seq2seq/cc/kernels/beam_search_ops_gpu.cu.cc
  tools/ci_build/builds/builds_common.sh
  tools/ci_build/ci_sanity.sh
  tools/ci_build/code_format.sh
Labels: build, cla: yes, custom-ops, github, style

#1007 Added typing to contrastive, focal_loss, giou_loss
  tensorflow_addons/losses/contrastive.py
  tensorflow_addons/losses/focal_loss.py
  tensorflow_addons/losses/giou_loss.py
  tools/ci_build/verify/check_typing_info.py
Labels: build, cla: yes, losses

#1009 Move the check build files outside the sanity check
  .github/workflows/ci_test.yml
  tools/ci_build/ci_sanity.sh
Labels: build, cla: yes, github

#1014 Used black on some more files not being worked on.
  pyproject.toml
  tensorflow_addons/image/sparse_image_warp.py
  tensorflow_addons/image/sparse_image_warp_test.py
  tensorflow_addons/layers/gelu.py
  tensorflow_addons/layers/gelu_test.py
  tensorflow_addons/layers/maxout.py
  tensorflow_addons/layers/maxout_test.py
  tensorflow_addons/layers/optical_flow.py
  tensorflow_addons/layers/optical_flow_test.py
  tensorflow_addons/losses/focal_loss_test.py
  tensorflow_addons/metrics/matthews_correlation_coefficient_test.py
  tensorflow_addons/metrics/multilabel_confusion_matrix_test.py
  tensorflow_addons/metrics/r_square_test.py
  tensorflow_addons/optimizers/lamb.py
  tensorflow_addons/optimizers/lamb_test.py
  tensorflow_addons/seq2seq/attention_wrapper.py
Labels: cla: yes, image, layers, losses, metrics, optimizers, seq2seq

#1008 Moved the check_file_name.py outside sanity check.
  .github/workflows/ci_test.yml
  tools/ci_build/ci_sanity.sh
Labels: build, cla: yes, github

#1020 Clean up of the sanity check.
  .github/workflows/ci_test.yml
  CONTRIBUTING.md
  makefile
  tools/ci_build/ci_sanity.sh
  tools/ci_build/install/install_ci_dependency.sh
Labels: build, cla: yes, github

#1018 Add PolynomialCrossing to Addons
  tensorflow_addons/layers/BUILD
  tensorflow_addons/layers/README.md
  tensorflow_addons/layers/__init__.py
  tensorflow_addons/layers/polynomial.py
  tensorflow_addons/layers/polynomial_test.py
Labels: cla: yes, layers

#1021 Running the sanity check locally
  .github/workflows/ci_test.yml
  CONTRIBUTING.md
  tools/docker/sanity_check.Dockerfile
  tools/run_sanity_check.sh
Labels: cla: yes, github

#1003 Updated the Tutorial
  docs/tutorials/networks_seq2seq_nmt.ipynb
Labels: cla: yes, documentation, tutorials

#841 LayernormSimpleRNN moved to addons
  tensorflow_addons/rnn/__init__.py
  tensorflow_addons/rnn/cell.py
  tensorflow_addons/rnn/cell_test.py
Labels: cla: yes

#1023 FIX: Remove trailing comma from double star
  tensorflow_addons/layers/polynomial.py
Labels: cla: yes, layers

#1026 Added type of dtype and fix unused parameter and fix broken master branch
  tensorflow_addons/metrics/cohens_kappa.py
  tensorflow_addons/metrics/f_scores.py
  tensorflow_addons/metrics/utils.py
  tensorflow_addons/rnn/cell_test.py
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/sampler.py
  tensorflow_addons/utils/types.py
  tools/ci_build/verify/check_typing_info.py
Labels: build, cla: yes, metrics, seq2seq

#1002 typing functions of rnn and seq2seq
  tensorflow_addons/rnn/cell.py
  tensorflow_addons/seq2seq/basic_decoder.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/seq2seq/decoder.py
  tensorflow_addons/seq2seq/loss.py
  tensorflow_addons/seq2seq/sampler.py
  tensorflow_addons/utils/types.py
  tools/ci_build/verify/check_typing_info.py
Labels: build, cla: yes, seq2seq

#1019 Add typing matthews correlation coefficient, f1 score, multilabel confusion matrix, r square
  tensorflow_addons/metrics/f_scores.py
  tensorflow_addons/metrics/matthews_correlation_coefficient.py
  tensorflow_addons/metrics/multilabel_confusion_matrix.py
  tensorflow_addons/metrics/r_square.py
  tools/ci_build/verify/check_typing_info.py
Labels: build, cla: yes, metrics

#1016 Adding typing cohens_kappa, hamming, matthews correlation coefficient, MeanMetricWrapper
  tensorflow_addons/metrics/cohens_kappa.py
  tensorflow_addons/metrics/hamming.py
  tensorflow_addons/metrics/matthews_correlation_coefficient.py
  tensorflow_addons/metrics/utils.py
Labels: build, cla: yes, metrics

#1029 BLD: Remove bazel artifact upload/download
  .github/workflows/macos_nightly.yml
  .github/workflows/release.yml
  .github/workflows/windows_nightly.yml
Labels: cla: yes, github

#1031 Add typing sparsemax function and cleanup typing info
  tensorflow_addons/losses/sparsemax_loss.py
  tools/ci_build/verify/check_typing_info.py
Labels: build, cla: yes, losses

#1033 Fix lazyadam notebook json
  docs/tutorials/optimizers_lazyadam.ipynb
Labels: cla: yes, documentation, tutorials

#1037 Add seq2seq to TOC and fix the api-generator.
  docs/tutorials/_toc.yaml
  tools/docs/build_docs.py
Labels: cla: yes, documentation, tutorials

#1036 Don't download tensorflow multiple times.
  tools/docker/sanity_check.Dockerfile
Labels: cla: yes

#1032 Used black on other unused files.
  pyproject.toml
  tensorflow_addons/metrics/cohens_kappa_test.py
  tensorflow_addons/optimizers/lookahead_test.py
  tensorflow_addons/optimizers/moving_average_test.py
  tensorflow_addons/optimizers/weight_decay_optimizers_test.py
  tensorflow_addons/rnn/cell.py
  tensorflow_addons/rnn/cell_test.py
Labels: cla: yes, metrics, optimizers

#1038 Remove dev from r0.8 branch
  tensorflow_addons/version.py
Labels: cla: yes

#1039 Bump version to 0.9
  tensorflow_addons/version.py
Labels: blocked, cla: yes

#1041 Add env variables to windows release
  .github/workflows/release.yml
Labels: cla: yes, github

#1042 R0.8.1
  .github/workflows/release.yml
  tensorflow_addons/version.py
Labels: cla: yes, github

#1044 correct code-format name and remove mkdir
  tools/docker/Dockerfile_formatting
Labels: cla: yes

#1046 run black on /image/distance_transform_test.py and optimizers/lazy_adam_test.py
  pyproject.toml
  tensorflow_addons/image/distance_transform_test.py
  tensorflow_addons/optimizers/lazy_adam_test.py
Labels: cla: yes, image, optimizers

#1045 missing typing AttentionMechanism
  tensorflow_addons/rnn/cell.py
  tensorflow_addons/seq2seq/attention_wrapper.py
  tools/ci_build/verify/check_typing_info.py
Labels: build, cla: yes, seq2seq

#1040 add missing type
  tensorflow_addons/losses/quantiles.py
  tools/ci_build/verify/check_typing_info.py
Labels: build, cla: yes, losses

#1035 Add a test for the documentation.
  .github/workflows/ci_test.yml
  tools/docker/sanity_check.Dockerfile
  tools/docs/doc_requirements.txt
Labels: cla: yes, github

#1048 DOC: Add pyversions badge
  README.md
Labels: cla: yes

#1049 DOC: Update bld matrix
  README.md
Labels: cla: yes

#1028 Clean-up of the docker tools for local dev.
  .github/workflows/ci_test.yml
  CONTRIBUTING.md
  STYLE_GUIDE.md
  makefile
  tools/ci_build/install/install_ci_dependency.sh
  tools/docker/formatting.Dockerfile
  tools/pre-commit.sh
Labels: build, cla: yes, github, style

#1050 BLD: Limit releases to published
  .github/workflows/release.yml
Labels: cla: yes, github

#1051 Used an external repo to check that the API is typed.
  .github/workflows/ci_test.yml
  tools/ci_build/verify/check_typing_info.py
  tools/docker/sanity_check.Dockerfile
Labels: build, cla: yes, github

#1015 adding typing loss
  tensorflow_addons/losses/focal_loss.py
  tensorflow_addons/losses/lifted.py
  tensorflow_addons/losses/npairs.py
  tensorflow_addons/losses/triplet.py
  tools/ci_build/verify/check_typing_info.py
Labels: build, cla: yes, losses

#1054 typing parse_time and crf functions
  tensorflow_addons/text/crf.py
  tensorflow_addons/text/parse_time_op.py
  tools/ci_build/verify/check_typing_info.py
Labels: build, cla: yes, text

#1055 Use flake8 in the pre-commit.
  tools/docker/pre-commit.Dockerfile
  tools/format.py
  tools/pre-commit.sh
Labels: cla: yes

#1053 Use the same code to run the CI and local tests.
  .dockerignore
  .github/workflows/ci_test.yml
  tools/docker/sanity_check.Dockerfile
  tools/run_build.sh
Labels: cla: yes, github

#1030 Faster tests when running locally.
  .github/workflows/ci_test.yml
  .github/workflows/manylinux_nightly.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  run_google_cloud_tests.sh
  tools/docker/cpu_tests.Dockerfile
  tools/docker/gpu_tests.Dockerfile
  tools/run_cpu_tests.sh
  tools/run_gpu_tests.sh
Labels: cla: yes, github

#1059 add typing skip_gram function and remove typing info file
  tensorflow_addons/text/skip_gram_ops.py
  tools/ci_build/verify/check_typing_info.py
Labels: build, cla: yes, text

#1060 Black rrelu.py filter.py with their associated test
  pyproject.toml
  tensorflow_addons/activations/rrelu.py
  tensorflow_addons/activations/rrelu_test.py
  tensorflow_addons/image/filters.py
  tensorflow_addons/image/filters_test.py
Labels: activations, cla: yes, image

#1061 run black normalizations and wrappers
  pyproject.toml
  tensorflow_addons/layers/normalizations.py
  tensorflow_addons/layers/normalizations_test.py
  tensorflow_addons/layers/wrappers.py
  tensorflow_addons/layers/wrappers_test.py
Labels: cla: yes, layers

#1065 CLN: Remove todo from typing verification
  tools/ci_build/verify/check_typing_info.py
Labels: build, cla: yes

#1066 CLN: move cloud test file
  tools/run_google_cloud_tests.sh
Labels: cla: yes

#1069 typo in type (#1067)
  tensorflow_addons/layers/normalizations.py
Labels: cla: yes, layers

#1058 Making the tests faster.
  tools/ci_testing/addons_cpu.sh
  tools/docker/cpu_tests.Dockerfile
Labels: cla: yes, test-cases

#1047 Fix kappa
  tensorflow_addons/metrics/cohens_kappa.py
  tensorflow_addons/metrics/cohens_kappa_test.py
Labels: cla: no, metrics

#1074 run black cohens_kappa.py and matthews_correlation_coefficient.py
  pyproject.toml
  tensorflow_addons/metrics/cohens_kappa.py
  tensorflow_addons/metrics/matthews_correlation_coefficient.py
Labels: cla: yes, metrics

#1077 Changes default value of Yogi hyper-parameters
  tensorflow_addons/optimizers/yogi.py
  tensorflow_addons/optimizers/yogi_test.py
Labels: cla: yes, optimizers

#1071 Moved all the code in configure.py in a function.
  configure.py
Labels: cla: yes

#1080 CI test release branches for future cuts from master
  .github/workflows/ci_test.yml
Labels: cla: yes, github

#1081 Update to optionally run gpu tests without buildkit
  tools/run_docker.sh
  tools/run_google_cloud_tests.sh
  tools/run_gpu_tests.sh
Labels: cla: yes

#1079 Patch 0.8.2
  .github/workflows/ci_test.yml
  tensorflow_addons/layers/normalizations.py
  tensorflow_addons/metrics/cohens_kappa.py
  tensorflow_addons/metrics/cohens_kappa_test.py
  tensorflow_addons/version.py
Labels: cla: no, github, layers, metrics

#1082 Respect the DOCKER_BUILDKIT env variable in all scripts.
  tools/pre-commit.sh
  tools/run_build.sh
  tools/run_cpu_tests.sh
  tools/run_google_cloud_tests.sh
  tools/run_gpu_tests.sh
  tools/run_sanity_check.sh
Labels: cla: yes

#1083 Refactoring configure.py
  configure.py
Labels: cla: yes

#1084 DOC: Update versions in build matrix
  README.md
Labels: cla: yes

#1085 Re-enable Luong monotonic tests
  tensorflow_addons/seq2seq/attention_wrapper_test.py
Labels: cla: yes, seq2seq

#1086 run black on seq2seq/attention_wrapper_test.py
  pyproject.toml
  tensorflow_addons/seq2seq/attention_wrapper_test.py
Labels: cla: yes, image, optimizers, seq2seq

#1088 Add tf.Variable into TensorLike type
  tensorflow_addons/utils/types.py
Labels: cla: yes

#1091 Add tf.SparseTensor into TensorLike type
  tensorflow_addons/utils/types.py
Labels: cla: yes

#1090 Add a backport bot.
  .github/workflows/backport.yml
Labels: cla: yes, github

#1100 Used pypi release for typedapi
  tools/docker/sanity_check.Dockerfile
Labels: backport r0.8, cla: yes

#1102 remove pathlib
  tools/docs/doc_requirements.txt
Labels: cla: yes

#1103 type fix
  tensorflow_addons/activations/rrelu.py
  tensorflow_addons/losses/giou_loss.py
Labels: activations, cla: yes, losses

#1106 Gathering the install code to make it easier to update versions.
  tools/ci_build/install/bazel.sh
  tools/docker/cpu_tests.Dockerfile
  tools/docker/sanity_check.Dockerfile
Labels: build, cla: yes

#1110 Update macos build version
  .github/workflows/macos_nightly.yml
  .github/workflows/release.yml
Labels: backport r0.8, build, cla: yes, github

#1111 [Backport r0.8] Update macos build version
  .github/workflows/macos_nightly.yml
  .github/workflows/release.yml
Labels: cla: no, github

#1112 Used v2 of actions/checkout
  .github/workflows/ci_test.yml
  .github/workflows/macos_nightly.yml
  .github/workflows/manylinux_nightly.yml
  .github/workflows/release.yml
  .github/workflows/windows_nightly.yml
Labels: cla: yes, github

#1117 HOTFIX: pin docker container pip install to py36
  tools/docker/gpu_tests.Dockerfile
Labels: cla: yes

#1113 Test that the wheel works in a fresh environment.
  tools/docker/cpu_tests.Dockerfile
Labels: cla: yes

#1118 Update AttentionStateWrapper to work with Keras RNN layer
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/attention_wrapper_test.py
Labels: cla: yes, seq2seq

#1120 Used the official supported docker image for the gpu tests
  tools/docker/gpu_tests.Dockerfile
Labels: cla: yes

#1119 Fix label of macos version in wheels
  build_deps/build_pip_pkg.sh
Labels: build, cla: yes

#1124 [Backport r0.8] Fix label of macos version in wheels
  build_deps/build_pip_pkg.sh
Labels: build, cla: no

#1127 We now test the release code at each commit.
  .github/workflows/ci_test.yml
  .github/workflows/release.yml
Labels: cla: yes, github

#1130 Grouped the versions for tensorflow-cpu.
  build_deps/build-requirements-cpu.txt
  tools/docker/cpu_tests.Dockerfile
  tools/docker/sanity_check.Dockerfile
Labels: build, cla: yes

#1133 Used the official tf gpu image.
  .github/workflows/release.yml
Labels: cla: yes, github

#1128 Added a py function for hardshrink
  tensorflow_addons/activations/hardshrink.py
  tensorflow_addons/activations/hardshrink_test.py
Labels: activations, cla: yes

#1141 Made the attention_wrapper_test faster.
  tensorflow_addons/seq2seq/attention_wrapper_test.py
Labels: cla: yes, seq2seq

#1142 Made the rectified adam test faster.
  tensorflow_addons/optimizers/rectified_adam_test.py
Labels: cla: yes, optimizers

#1139 Added python implementation for mish
  tensorflow_addons/activations/mish.py
  tensorflow_addons/activations/mish_test.py
Labels: activations, cla: yes

#1140 Add python implementation of softshrink
  tensorflow_addons/activations/softshrink.py
  tensorflow_addons/activations/softshrink_test.py
Labels: activations, cla: yes

#1138 Added pure python implementation of lisht
  tensorflow_addons/activations/lisht.py
  tensorflow_addons/activations/lisht_test.py
Labels: activations, cla: yes

#1135 Finish the bazel install before building addons
  tools/docker/cpu_tests.Dockerfile
  tools/docker/finish_bazel_install.sh
  tools/docker/gpu_tests.Dockerfile
  tools/docker/sanity_check.Dockerfile
Labels: cla: yes

#1131 Grouped tests dependencies together.
  requirements.txt
  tools/docker/pre-commit.Dockerfile
  tools/docker/sanity_check.Dockerfile
  tools/tests_dependencies/black.txt
  tools/tests_dependencies/flake8.txt
  tools/tests_dependencies/typedapi.txt
Labels: cla: yes

#1149 Relax requirements for dependencies
  build_deps/build-requirements-cpu.txt
  build_deps/build-requirements.txt
  requirements.txt
  tools/tests_dependencies/flake8.txt
  tools/tests_dependencies/typedapi.txt
Labels: build, cla: yes

#1150 Fixing spacing issue in README
  tensorflow_addons/optimizers/README.md
Labels: cla: yes, optimizers

#1146 add tanhshrink_py
  tensorflow_addons/activations/tanhshrink.py
  tensorflow_addons/activations/tanhshrink_test.py
Labels: activations, cla: yes

#1136 Remove nightly files.
  .github/workflows/macos_nightly.yml
  .github/workflows/manylinux_nightly.yml
  .github/workflows/release.yml
  .github/workflows/windows_nightly.yml
Labels: cla: yes, github

#1121 fix state size to be a TensorShape instead of a Tensor
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/attention_wrapper_test.py
Labels: cla: yes, seq2seq

#1155 Complete the black formatting migration.
  pyproject.toml
  tensorflow_addons/losses/__init__.py
  tensorflow_addons/losses/focal_loss.py
  tensorflow_addons/losses/giou_loss.py
  tensorflow_addons/losses/giou_loss_test.py
  tensorflow_addons/metrics/multilabel_confusion_matrix.py
  tensorflow_addons/metrics/r_square.py
  tensorflow_addons/optimizers/__init__.py
  tensorflow_addons/optimizers/lookahead.py
  tensorflow_addons/optimizers/moving_average.py
  tensorflow_addons/optimizers/weight_decay_optimizers.py
  tensorflow_addons/text/__init__.py
  tensorflow_addons/text/crf.py
  tensorflow_addons/text/crf_test.py
Labels: cla: yes, losses, metrics, optimizers, text

#1154 Added python implementation for GeLU
  tensorflow_addons/activations/gelu.py
  tensorflow_addons/activations/gelu_test.py
Labels: activations, cla: yes, documentation, tutorials

#1161 make two tests faster
  tensorflow_addons/optimizers/novograd_test.py
  tensorflow_addons/optimizers/stochastic_weight_averaging_test.py
Labels: cla: yes, optimizers

#1162 Fix broken master branch
  tools/ci_build/builds/release_linux.sh
Labels: build, cla: yes

#1169 [Test] Speed up lookahead_test
  tensorflow_addons/optimizers/lookahead_test.py
Labels: cla: yes, optimizers

#1170 [Test] Speed up moving_average_test
  tensorflow_addons/optimizers/moving_average_test.py
Labels: cla: yes, optimizers

#1152 Average Callback and Optimizers example
  docs/tutorials/average_optimizers_callback.ipynb
Labels: cla: yes, documentation, tutorials

#1174 Function that print each function's execution time
  tensorflow_addons/utils/test_utils.py
Labels: cla: yes, image

#1173 [Test] Speed up transform_ops_test
  tensorflow_addons/image/transform_ops_test.py
Labels: cla: yes, image

#1167 Notify proxy maintainers
  .github/workflows/ci_test.yml
  .github/workflows/notify_codeowners.py
  .github/workflows/notify_codeowners.yml
Labels: cla: yes, github

#1176 Update codeowners
  .github/CODEOWNERS
  README.md
  tensorflow_addons/activations/README.md
  tensorflow_addons/callbacks/README.md
  tensorflow_addons/image/README.md
  tensorflow_addons/layers/README.md
  tensorflow_addons/losses/README.md
  tensorflow_addons/metrics/README.md
  tensorflow_addons/optimizers/README.md
  tensorflow_addons/rnn/README.md
  tensorflow_addons/seq2seq/README.md
  tensorflow_addons/text/README.md
Labels: activations, callbacks, cla: yes, github, image, layers, losses, metrics, optimizers, seq2seq, text

#1175 Have faster filters_test
  tensorflow_addons/image/filters_test.py
Labels: cla: yes, image

#1180 Fast dense_image_warp_test
  tensorflow_addons/image/dense_image_warp_test.py
Labels: cla: yes, image

#1178 [Test] Speed up layers_wrappers_test
  tensorflow_addons/layers/wrappers_test.py
Labels: cla: yes, layers

#1183 Less spamming from the bot when notifying codeowners
  .github/workflows/notify_codeowners.py
  .github/workflows/notify_codeowners.yml
Labels: cla: yes, github

#1184 Remove all mentions of nosla.
  CONTRIBUTING.md
Labels: cla: yes

#1160 Removed erroneous scale_fn from CLR subclasses
  tensorflow_addons/optimizers/cyclical_learning_rate.py
Labels: backport r0.8, cla: yes, optimizers

#1185 [Backport r0.8] Removed erroneous scale_fn from CLR subclasses
  tensorflow_addons/optimizers/cyclical_learning_rate.py
Labels: cla: no, optimizers

#1187 Update 0.8.3 version
  tensorflow_addons/version.py
Labels: cla: yes

#1191 Make release_linux.sh configurable for python version
  .github/workflows/release.yml
  tools/ci_build/builds/release_linux.sh
Labels: cla: yes
