Repository tensorflow/addons, pull requests merged in 2020-10, with the labels that each got.

#2190 make cutout op compatible with non eager mode
  tensorflow_addons/image/cutout_ops.py
Labels: cla: yes, image

#2189 Update build_dev_container.sh
  tools/build_dev_container.sh
Labels: cla: yes

#2195 Makes create_slots automatically setup weights for swap_weights
  tensorflow_addons/optimizers/moving_average.py
  tensorflow_addons/optimizers/tests/moving_average_test.py
Labels: cla: yes, optimizers

#2198 #2066 seq2seq.beamsearch
  tensorflow_addons/seq2seq/attention_wrapper.py
Labels: cla: yes, seq2seq

#2199 Deprecate set env
  .github/workflows/release.yml
Labels: cla: yes, github

#2200 Add support to releases list
  tools/update_release_version.sh
Labels: cla: yes

#2192 Update ABI compatibility version
  tensorflow_addons/utils/resource_loader.py
Labels: cla: yes

#2204 Drop python3.5 support
  .github/workflows/ci_test.yml
  .github/workflows/release.yml
  README.md
  setup.py
  tools/docker/cpu_tests.Dockerfile
  tools/docker/sanity_check.Dockerfile
  tools/run_gpu_tests.sh
Labels: cla: yes, github

#2209 Graduate _BaseAttentionMechanism to a public base class
  tensorflow_addons/seq2seq/attention_wrapper.py
Labels: cla: yes, seq2seq

#2216 Improve docstring format and cross-linking
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/basic_decoder.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/seq2seq/decoder.py
  tensorflow_addons/seq2seq/sampler.py
Labels: cla: yes, seq2seq

#2213 Improve sampler documentation, use doctest
  tensorflow_addons/seq2seq/sampler.py
Labels: cla: yes, seq2seq

#2212 Improve single-line description for the module overview
  tensorflow_addons/seq2seq/__init__.py
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/basic_decoder.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/seq2seq/decoder.py
  tensorflow_addons/seq2seq/loss.py
  tensorflow_addons/seq2seq/sampler.py
Labels: cla: yes, seq2seq

#2215 Add a doctest example for AttentionWrapper
  tensorflow_addons/seq2seq/attention_wrapper.py
Labels: cla: yes, seq2seq

#2214 Add a doctest example for BasicDecoder
  tensorflow_addons/seq2seq/basic_decoder.py
Labels: cla: yes, seq2seq
