Repository tensorflow/addons, pull requests merged in 2020-03, with the labels that each got.

#1195 Clean tutorials
  docs/tutorials/_template.ipynb
  docs/tutorials/image_ops.ipynb
  docs/tutorials/layers_normalizations.ipynb
  docs/tutorials/layers_weightnormalization.ipynb
  docs/tutorials/losses_triplet.ipynb
  docs/tutorials/networks_seq2seq_nmt.ipynb
  docs/tutorials/optimizers_conditionalgradient.ipynb
  docs/tutorials/optimizers_lazyadam.ipynb
  docs/tutorials/time_stopping.ipynb
  docs/tutorials/tqdm_progress_bar.ipynb
Labels: cla: yes

#1192 Use matrix for building.
  .github/workflows/make_wheel_Linux.sh
  .github/workflows/make_wheel_Windows.sh
  .github/workflows/make_wheel_macOS.sh
  .github/workflows/release.yml
Labels: cla: yes, github

#1206 Update CODEOWNERS
  .github/CODEOWNERS
Labels: cla: yes

#1198 fix activations test
  tensorflow_addons/activations/activations_test.py
  tensorflow_addons/activations/sparsemax.py
Labels: cla: yes

#1189 Test wheels in a fresh environement
  .github/workflows/release.yml
Labels: cla: yes, github

#766 group normalization layer test
  tensorflow_addons/layers/normalizations_test.py
Labels: cla: yes, layers

#1172 Better precision when comparing implementations.
  tensorflow_addons/activations/gelu_test.py
  tensorflow_addons/activations/hardshrink_test.py
  tensorflow_addons/activations/lisht_test.py
  tensorflow_addons/activations/mish_test.py
  tensorflow_addons/activations/softshrink_test.py
  tensorflow_addons/activations/tanhshrink_test.py
Labels: activations, cla: yes

#1219 Update README to better specify maintainership
  README.md
Labels: cla: yes

#1215 Fix test-release for nightlies
  .github/workflows/release.yml
Labels: cla: yes, github

#1212 Run linux tests before building the wheel.
  .github/workflows/release.yml
  tools/ci_build/builds/release_linux.sh
Labels: build, cla: yes, github

#1213 Upload the nightlies at every commit
  .github/workflows/release.yml
  setup.py
Labels: cla: yes, github

#1188 Remove explicit `reset_test=True` from test.
  tensorflow_addons/optimizers/lazy_adam_test.py
Labels: cla: yes, optimizers

#1208 Remove time field from AttentionWrapperState
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/attention_wrapper_test.py
Labels: cla: yes, seq2seq

#1216 Change H1 subheadings to H2 and delete unused styles.
  docs/tutorials/networks_seq2seq_nmt.ipynb
  tensorflow_addons/optimizers/weight_decay_optimizers.py
Labels: cla: yes, documentation, optimizers, tutorials

#1231 Some more info about the nightly.
  README.md
Labels: cla: yes

#1232 Fix bug where only the linux wheel is uploaded.
  .github/workflows/release.yml
Labels: cla: yes, github

#1233 Fix bug where each wheel has a different version number.
  .github/workflows/release.yml
  README.md
  setup.py
Labels: cla: yes, github

#1234 Revert "Fix bug where each wheel has a different version number. (#12…
  .github/workflows/release.yml
  README.md
  setup.py
Labels: cla: yes, github

#1137 Added an option to use the pure python implementation.
  README.md
  tensorflow_addons/BUILD
  tensorflow_addons/activations/BUILD
  tensorflow_addons/activations/hardshrink.py
  tensorflow_addons/activations/hardshrink_test.py
  tensorflow_addons/options.py
  tools/ci_build/verify/check_typing_info.py
Labels: activations, build, cla: yes

#1193 Public function to register custom ops
  tensorflow_addons/BUILD
  tensorflow_addons/__init__.py
  tensorflow_addons/register.py
  tensorflow_addons/register_test.py
  tools/ci_build/verify/check_typing_info.py
Labels: build, cla: yes

#1225 Enable 2 tests out of 6 in hamming_test.py
  tensorflow_addons/metrics/hamming_test.py
Labels: cla: yes, metrics

#1186 Enable full editable mode workflow
  .dockerignore
  .github/workflows/ci_test.yml
  tools/docker/sanity_check.Dockerfile
  tools/install_so_files.sh
Labels: cla: yes, github

#1224 Enbale passing tests in quantiles_test.py
  tensorflow_addons/losses/quantiles_test.py
Labels: cla: yes, losses

#1223 Enable passing tests in multilabel_confusion_matrix_test.py
  tensorflow_addons/metrics/multilabel_confusion_matrix_test.py
Labels: cla: yes, metrics

#1222 Enable testing of poincare_test.py
  tensorflow_addons/layers/BUILD
  tensorflow_addons/layers/poincare_test.py
Labels: cla: yes, layers

#1238 Added instructions to work on Addons on Windows.
  CONTRIBUTING.md
  tools/pre-commit.sh
Labels: cla: yes

#1190 fix wrapper test
  tensorflow_addons/layers/BUILD
  tensorflow_addons/layers/wrappers.py
  tensorflow_addons/layers/wrappers_test.py
Labels: cla: yes, layers

#1241 Better error message for parse_time on windows.
  tensorflow_addons/text/BUILD
  tensorflow_addons/text/__init__.py
  tensorflow_addons/text/parse_time_dummy_test.py
  tensorflow_addons/text/parse_time_op.py
  tensorflow_addons/text/parse_time_op_test.py
Labels: cla: yes, text

#1240 Better error message for npairs on Windows
  tensorflow_addons/losses/BUILD
  tensorflow_addons/losses/__init__.py
  tensorflow_addons/losses/npairs.py
  tensorflow_addons/losses/npairs_dummy_test.py
  tensorflow_addons/losses/npairs_test.py
Labels: cla: yes, losses

#1245 Fix typing for poincare layer
  tensorflow_addons/layers/poincare.py
  tensorflow_addons/layers/poincare_test.py
Labels: cla: yes, layers

#1249 No need for a for loop when repairing wheels
  .github/workflows/make_wheel_Linux.sh
  .github/workflows/make_wheel_macOS.sh
Labels: cla: yes, github

#1248 Simpler install for contributors.
  CONTRIBUTING.md
  build_deps/build_pip_pkg.sh
  setup.py
  tools/docker/sanity_check.Dockerfile
Labels: build, cla: yes

#1230 Check `update_state` signature for metrics.
  tensorflow_addons/metrics/BUILD
  tensorflow_addons/metrics/metrics_test.py
  tensorflow_addons/metrics/multilabel_confusion_matrix.py
  tensorflow_addons/metrics/r_square.py
Labels: cla: yes, metrics

#1254 Moved all install scripts in the same directory.
  .github/workflows/make_wheel_macOS.sh
  tools/docker/cpu_tests.Dockerfile
  tools/docker/pre-commit.Dockerfile
  tools/docker/sanity_check.Dockerfile
  tools/tests_dependencies/bazel_linux.sh
  tools/tests_dependencies/bazel_macos.sh
  tools/tests_dependencies/buildifier.sh
  tools/tests_dependencies/clang-format.sh
Labels: cla: yes, github

#1255 Made pre-commit.sh executable.
  tools/pre-commit.sh
Labels: cla: yes

#1218 Set a single variable for release testing version
  .github/workflows/release.yml
Labels: cla: yes, github

#1253 Exposed the tanhsrink python implementation publicly.
  tensorflow_addons/activations/tanhshrink.py
Labels: activations, cla: yes

#1252 Exposed the pure python implementation of mish and softshrink.
  tensorflow_addons/activations/mish.py
  tensorflow_addons/activations/softshrink.py
  tensorflow_addons/activations/softshrink_test.py
Labels: activations, cla: yes

#1251 Exposed the pure python implementation of lisht publicly
  tensorflow_addons/activations/lisht.py
Labels: activations, cla: yes

#1250 Exposed the pure python gelu implementation publicly.
  tensorflow_addons/activations/gelu.py
Labels: activations, cla: yes

#1243 Enable pytest and bazel tests.
  .dockerignore
  .github/workflows/release.yml
  .gitignore
  tensorflow_addons/layers/wrappers_test.py
  tensorflow_addons/optimizers/conditional_gradient_test.py
  tensorflow_addons/optimizers/cyclical_learning_rate_test.py
  tensorflow_addons/register_test.py
  tensorflow_addons/seq2seq/basic_decoder_test.py
  tensorflow_addons/text/skip_gram_ops_test.py
  tools/ci_build/builds/release_linux.sh
  tools/ci_testing/addons_cpu.sh
  tools/ci_testing/addons_gpu.sh
  tools/docker/sanity_check.Dockerfile
  tools/install_so_files.sh
  tools/tests_dependencies/pytest.txt
Labels: build, cla: yes, github, layers, optimizers, seq2seq, test-cases, text

#1259 Remove code coverage from the CI.
  tools/ci_testing/addons_cpu.sh
  tools/ci_testing/addons_gpu.sh
  tools/tests_dependencies/pytest.txt
Labels: cla: yes, test-cases

#1258 Moving all docs related files in docs/
  docs/BUILD
  docs/README.md
  docs/build_docs.py
  tools/docker/sanity_check.Dockerfile
  tools/docs/README.md
  tools/tests_dependencies/doc_requirements.txt
Labels: cla: yes, documentation

#1265 Removed unused file.
  tools/ci_build/builds/builds_common.sh
Labels: build, cla: yes

#1264 Remove fast-fail for easier debug.
  .github/workflows/release.yml
Labels: cla: yes, github

#1266 Small docstring fix for doc gen
  docs/build_docs.py
Labels: cla: yes, documentation

#1262 Created a directory tools/testing to gather all tools for testing.
  .github/boring-cyborg.yml
  .github/workflows/make_wheel_Windows.sh
  .github/workflows/make_wheel_macOS.sh
  CONTRIBUTING.md
  makefile
  tools/ci_build/builds/release_linux.sh
  tools/docker/cpu_tests.Dockerfile
  tools/docker/gpu_tests.Dockerfile
  tools/docker/sanity_check.Dockerfile
  tools/testing/addons_cpu.sh
  tools/testing/addons_gpu.sh
  tools/testing/check_file_name.py
  tools/testing/check_typing_info.py
  tools/testing/parallel_gpu_execute.sh
Labels: build, cla: yes, github

#1270 tests_dependencies -> install_deps
  .github/workflows/make_wheel_macOS.sh
  .github/workflows/release.yml
  docs/README.md
  tools/docker/cpu_tests.Dockerfile
  tools/docker/pre-commit.Dockerfile
  tools/docker/sanity_check.Dockerfile
  tools/install_deps/bazel_linux.sh
  tools/install_deps/bazel_macos.sh
  tools/install_deps/black.txt
  tools/install_deps/buildifier.sh
  tools/install_deps/clang-format.sh
  tools/install_deps/doc_requirements.txt
  tools/install_deps/flake8.txt
  tools/install_deps/pytest.txt
  tools/install_deps/typedapi.txt
  tools/testing/addons_cpu.sh
  tools/testing/addons_gpu.sh
Labels: cla: yes, documentation, github, test-cases

#1237 Add NetVLAD layer to TF add-ons.
  .github/CODEOWNERS
  tensorflow_addons/layers/BUILD
  tensorflow_addons/layers/netvlad.py
  tensorflow_addons/layers/netvlad_test.py
Labels: cla: yes, github, layers

#1272 Moved tf requirements to tools/install_deps/tensorflow*.txt
  .github/workflows/release.yml
  configure.py
  tools/docker/cpu_tests.Dockerfile
  tools/docker/gpu_tests.Dockerfile
  tools/docker/sanity_check.Dockerfile
  tools/install_deps/tensorflow-cpu.txt
  tools/install_deps/tensorflow.txt
Labels: cla: yes, github

#1269 Move all releases into the same directory.
  .github/boring-cyborg.yml
  .github/workflows/make_wheel_Linux.sh
  tools/releases/release_linux.sh
  tools/releases/tf_auditwheel_patch.sh
Labels: cla: yes, github

#1273 Some more ways of contributing.
  CONTRIBUTING.md
  README.md
Labels: cla: yes

#1274 Added more info in the CONTRIBUTING.md
  CONTRIBUTING.md
Labels: cla: yes

#1280 Remove makefile from repo
  CONTRIBUTING.md
  makefile
Labels: cla: yes

#1062 MultiHeadAttention Layer
  .github/CODEOWNERS
  tensorflow_addons/layers/BUILD
  tensorflow_addons/layers/__init__.py
  tensorflow_addons/layers/multihead_attention.py
  tensorflow_addons/layers/multihead_attention_test.py
Labels: cla: yes, github, layers, losses, metrics, optimizers, seq2seq, text

#1284 Added tests for minimal cpu tests.
  .github/workflows/ci_test.yml
  tools/docker/cpu_tests.Dockerfile
Labels: cla: yes, github

#1286 Adopt triplet loss
  .github/CODEOWNERS
Labels: cla: yes, github

#1290 Removing benchmarks from the test suite
  tensorflow_addons/activations/BUILD
  tensorflow_addons/activations/rrelu_test.py
  tensorflow_addons/image/distort_image_ops_test.py
Labels: activations, cla: yes, image

#1287 Build the linux wheel in a dockerfile.
  .dockerignore
  .github/workflows/make_wheel_Linux.sh
  .gitignore
  tools/docker/build_wheel.Dockerfile
Labels: build, cla: yes, github

#1281 Better user experience when the version of TF is not right.
  tensorflow_addons/utils/ensure_tf_install.py
Labels: cla: yes

#1246 Update dtype for multilabel CM test
  tensorflow_addons/metrics/multilabel_confusion_matrix_test.py
Labels: cla: yes, metrics

#1297 Cleaning: Move finish_bazel_install.sh
  tools/docker/build_wheel.Dockerfile
  tools/docker/cpu_tests.Dockerfile
  tools/docker/gpu_tests.Dockerfile
  tools/docker/sanity_check.Dockerfile
  tools/install_deps/finish_bazel_install.sh
Labels: cla: yes

#1300 Remove unused functions in configure.py
  configure.py
Labels: cla: yes

#1304 Better error reporting in the CI
  pytest.ini
Labels: cla: yes

#1302 Less free variables in the configure.py for better readability.
  configure.py
Labels: cla: yes

#1299 Added code coverage to tools/run_cpu_tests.sh
  tools/docker/cpu_tests.Dockerfile
  tools/run_cpu_tests.sh
Labels: cla: yes

#1296 Improving the contributing.md
  CONTRIBUTING.md
Labels: cla: yes

#1307 [Backport r0.8] Better user experience when the version of TF is not right.
  tensorflow_addons/utils/ensure_tf_install.py
Labels: cla: no

#1292 Support sample weighting in RSquare
  tensorflow_addons/metrics/r_square.py
  tensorflow_addons/metrics/r_square_test.py
  tools/install_deps/pytest.txt
Labels: cla: yes, metrics

#1308 Simplify configure.py
  configure.py
Labels: cla: yes

#1312 Grouping the install of dependencies into a single function in configure.py
  configure.py
Labels: cla: yes

#1315 Refactoring the setup.py for better readability
  setup.py
Labels: cla: yes

#1319 Fixing the master branch.
  configure.py
  tools/install_deps/finish_bazel_install.sh
Labels: cla: yes

#1313 Isolated the logic concerning fetching the paths in configure.py
  configure.py
Labels: cla: yes

#1303 Running minimal cpu tests on 2.2.0-rc0
  .github/workflows/ci_test.yml
  tensorflow_addons/activations/mish_test.py
  tensorflow_addons/losses/giou_loss_test.py
  tensorflow_addons/metrics/cohens_kappa_test.py
  tensorflow_addons/seq2seq/loss_test.py
  tools/docker/cpu_tests.Dockerfile
Labels: activations, cla: yes, github, losses, metrics, seq2seq

#1322 Update cohens kappa maintainer
  .github/CODEOWNERS
Labels: cla: yes, github

#1321 Strict version requirements for build matrix
  README.md
Labels: cla: yes, documentation

#1323 fix giou loss test
  tensorflow_addons/losses/giou_loss.py
  tensorflow_addons/losses/giou_loss_test.py
Labels: cla: yes, losses

#1314 Simpler python implementation of softshrink.
  tensorflow_addons/activations/softshrink.py
Labels: activations, cla: yes

#1288 Alternative to run_all_in_graph_and_eager_mode
  tensorflow_addons/BUILD
  tensorflow_addons/conftest.py
  tensorflow_addons/losses/focal_loss_test.py
  tensorflow_addons/metrics/cohens_kappa_test.py
  tensorflow_addons/utils/BUILD
  tensorflow_addons/utils/test_utils.py
Labels: cla: yes, discussion needed, losses, metrics

#1327 Using the pytest fixture rather than run_all_in_keras_and_eager_mode in cohen_kappa
  tensorflow_addons/metrics/cohens_kappa_test.py
Labels: cla: yes, metrics

#1329 use loss wrapper
  tensorflow_addons/losses/giou_loss.py
Labels: cla: yes, losses

#1275 Blend Image Op
  tensorflow_addons/image/BUILD
  tensorflow_addons/image/__init__.py
  tensorflow_addons/image/compose_ops.py
  tensorflow_addons/image/compose_ops_test.py
Labels: cla: yes, image

#1335 Function may be static in optical_flow_test.py
  tensorflow_addons/layers/optical_flow_test.py
Labels: cla: yes, layers

#1341 Used pytest instead of tf.test.TestCase in blending tests
  tensorflow_addons/image/compose_ops_test.py
Labels: cla: yes, image

#1291 Removed unused functions and methods.
  tensorflow_addons/optimizers/conditional_gradient_test.py
  tensorflow_addons/utils/test_utils.py
Labels: cla: yes, optimizers

#1343 Moving the function out of the class.
  tensorflow_addons/layers/optical_flow_test.py
Labels: cla: yes, layers

#1348 Test parse time in eager mode
  tensorflow_addons/text/parse_time_op.py
  tensorflow_addons/text/parse_time_op_test.py
Labels: cla: yes, text

#1344 Updated the README files concerning testing.
  tensorflow_addons/activations/README.md
  tensorflow_addons/callbacks/README.md
  tensorflow_addons/image/README.md
  tensorflow_addons/layers/README.md
  tensorflow_addons/losses/README.md
  tensorflow_addons/metrics/README.md
  tensorflow_addons/optimizers/README.md
  tensorflow_addons/rnn/README.md
  tensorflow_addons/seq2seq/README.md
  tensorflow_addons/text/README.md
Labels: activations, callbacks, cla: yes, image, layers, losses, metrics, optimizers, seq2seq, text

#1351 Removed run_all_in_graph_and_eager_mode in tlu_tests.
  tensorflow_addons/layers/tlu_test.py
Labels: cla: yes, layers

#1310 Multivariate r2
  tensorflow_addons/metrics/r_square.py
  tensorflow_addons/metrics/r_square_test.py
Labels: cla: yes, metrics

#1355 Bump testing for 2.2-rc1
  .github/workflows/ci_test.yml
  pytest.ini
  tensorflow_addons/activations/mish_test.py
  tensorflow_addons/metrics/cohens_kappa_test.py
  tensorflow_addons/seq2seq/loss_test.py
Labels: activations, cla: yes, github, metrics, seq2seq

#1360 Fix cohen kappa when using tf 2.2.0rc1
  tensorflow_addons/metrics/cohens_kappa.py
  tensorflow_addons/metrics/cohens_kappa_test.py
Labels: cla: yes, metrics

#1339 Added helper ops, translate, shear
  tensorflow_addons/image/__init__.py
  tensorflow_addons/image/transform_ops.py
  tensorflow_addons/image/transform_ops_test.py
  tensorflow_addons/image/translate_ops.py
  tensorflow_addons/image/translate_ops_test.py
  tensorflow_addons/image/utils.py
  tools/install_deps/pytest.txt
Labels: cla: yes, image

#1361 update doc string to fix broken one and updates some typing errors
  tensorflow_addons/image/connected_components.py
Labels: cla: yes

#1107 Improve with providing Nuclear Norm Constraint
  tensorflow_addons/optimizers/conditional_gradient.py
  tensorflow_addons/optimizers/conditional_gradient_test.py
Labels: awaiting testing (then merge), cla: yes, optimizers

#1271 Removed usage of keras_parametrized.
  tensorflow_addons/seq2seq/basic_decoder_test.py
  tensorflow_addons/seq2seq/decoder_test.py
  tensorflow_addons/utils/test_utils.py
Labels: cla: yes, seq2seq

#1331 Used fixture instead of run_all_in_eager_and_graph_mode
  tensorflow_addons/image/dense_image_warp_test.py
Labels: cla: yes, image

#1330 Took some functions outside the run_all_in_eager_and_graph_mode in distance_transform
  tensorflow_addons/image/distance_transform_test.py
Labels: cla: yes, image

#1336 Removed run_all_in_eager_and_graph_mode from pointcare_test.
  tensorflow_addons/layers/poincare_test.py
Labels: cla: yes, layers

#1337 Removed run_all_in_graph_and_eager_mode in polynomial_test.py
  tensorflow_addons/layers/polynomial_test.py
Labels: cla: yes, layers

#1358 Use pytest functions instead of classes in keras_utils_test.py
  tensorflow_addons/utils/keras_utils_test.py
Labels: cla: yes

#1332 Moved test_fit_simple_linear_model function out of run_all_in_graph_and_eager_mode.
  tensorflow_addons/optimizers/stochastic_weight_averaging_test.py
Labels: cla: yes, optimizers

#1367 Test gather tree only in eager mode because it's a custom op.
  tensorflow_addons/seq2seq/beam_search_decoder_test.py
Labels: cla: yes, seq2seq

#1368 test gather_tree_from_array in eager mode only.
  tensorflow_addons/seq2seq/beam_search_decoder_test.py
Labels: cla: yes, seq2seq

#1369 Test eos masking in eager mode only.
  tensorflow_addons/seq2seq/beam_search_decoder_test.py
Labels: cla: yes, seq2seq

#1370 Test gather tree in eager mode only because it's a custom op
  tensorflow_addons/seq2seq/beam_search_ops_test.py
Labels: cla: yes, seq2seq

#1372 Use eager mode for a gather tree test because it's only a custom op.
  tensorflow_addons/seq2seq/beam_search_ops_test.py
Labels: cla: yes, seq2seq

#1374 run keras compatibility test for sequence loss with v2 behavior.
  tensorflow_addons/seq2seq/loss_test.py
Labels: cla: yes, seq2seq

#1377 Test ambiguous order in eager mode.
  tensorflow_addons/seq2seq/loss_test.py
Labels: cla: yes, seq2seq

#1375 Fix the serialization bug of rectified adam.
  tensorflow_addons/optimizers/rectified_adam.py
  tensorflow_addons/optimizers/rectified_adam_test.py
Labels: backport r0.8, cla: yes, optimizers

#1379 [Backport r0.8] Fix the serialization bug of rectified adam.
  tensorflow_addons/optimizers/rectified_adam.py
  tensorflow_addons/optimizers/rectified_adam_test.py
Labels: cla: no, optimizers

#1378 Moved test_sequence_loss outside the run_all_in_graph_and_eager_mode.
  tensorflow_addons/seq2seq/loss_test.py
Labels: cla: yes, seq2seq

#1382 Adding another maintainer into CODEOWNERS file
  .github/CODEOWNERS
Labels: cla: yes, github

#1384 Moved test_sequence_loss outside run_all_in_graph_and_eager_mode.
  tensorflow_addons/seq2seq/loss_test.py
Labels: cla: yes, seq2seq

#1385 Migrated some tests out of run_all_in_graph_and_eager_mode in seq2seq
  tensorflow_addons/seq2seq/loss_test.py
Labels: cla: yes, seq2seq

#1347 Moved code out of tf.test.TestCase in skip_gram_ops_test.py
  tensorflow_addons/text/skip_gram_ops_test.py
Labels: cla: yes, text

#1357 Moved method out of the run_all_in_graph_and_eager_mode in utils_test.py
  tensorflow_addons/image/utils_test.py
Labels: cla: yes, image

#1346 Used pytest only to test tanshrink in eager mode
  tensorflow_addons/activations/tanhshrink_test.py
  tensorflow_addons/utils/test_utils.py
Labels: activations, cla: yes

#1386 Removed the run_all_in_graph_and_eager_mode from the testsumreduction.
  tensorflow_addons/seq2seq/loss_test.py
Labels: cla: yes, seq2seq

#1387 Update `setup.py` to include the Python3 programming language classifier.
  setup.py
Labels: cla: yes

#1345 Moving out of tf.test.TestCase in sparsemax_test.py
  tensorflow_addons/activations/sparsemax_test.py
Labels: activations, cla: yes

#1350 Removed test_utils.run_all_in_graph_and_eager_modes in netvlad_test.py
  tensorflow_addons/layers/netvlad_test.py
Labels: cla: yes

#1356 Removed run_all_in_graph_and_eager_mode in r_square_test.py
  tensorflow_addons/metrics/r_square_test.py
Labels: cla: yes, metrics

#1388 Removed run_all_in_graph_and_eager_modes from activation_test.py
  tensorflow_addons/activations/activations_test.py
Labels: activations, awaiting testing (then merge), cla: yes

#1391 Get function out of run_all_in_graph_and_eager_mode in gelu tests.
  tensorflow_addons/activations/gelu_test.py
Labels: activations, cla: yes

#1390 Moved a function out of run_all_in_eager_and_graph_mode in gelu tests.
  tensorflow_addons/activations/gelu_test.py
Labels: activations, cla: yes

#1393 Move test out of run_all_in... well you get the idea :)
  tensorflow_addons/activations/hardshrink_test.py
Labels: activations, cla: yes

#1396 Moved test out of run_in_graph_and_eager_mode in lisht.
  tensorflow_addons/activations/lisht_test.py
Labels: activations, cla: yes

#1406 Move test out of run_in_graph_and_eager_mode in sparsemax.
  tensorflow_addons/activations/sparsemax_test.py
Labels: activations, cla: yes

#1403 Moved test out of run_in_graph_and_eager_mode in softshrink.
  tensorflow_addons/activations/softshrink_test.py
Labels: activations, cla: yes

#1394 Move test out of run_in_graph_and_eager_mode in hardshrink.
  tensorflow_addons/activations/hardshrink_test.py
Labels: activations, cla: yes

#1398 Moved test out of run_in_graph_and_eager_mode in lisht.
  tensorflow_addons/activations/lisht_test.py
Labels: activations, cla: yes

#1399 Moved test out of run_all_in_graph_and _eager_mode in mish.
  tensorflow_addons/activations/mish_test.py
Labels: activations, cla: yes

#1404 Moved test out of run_all_in_graph_and_eager_mode in softshrink.
  tensorflow_addons/activations/softshrink_test.py
Labels: activations, cla: yes

#1411 Moved tests out of run_in_graph_and_eager_mode in connected components.
  tensorflow_addons/image/connected_components_test.py
Labels: cla: yes, image

#1415 Relax gradient assertion for mish activation
  tensorflow_addons/activations/mish_test.py
Labels: activations, cla: yes

#1416 Update contributing documentation
  CONTRIBUTING.md
Labels: cla: yes

#1401 Moved test out of run_all_in_graph_and_eager_mode in rrelu.
  tensorflow_addons/activations/rrelu_test.py
Labels: activations, cla: yes

#1389 Moved functions in gelu_test.py out of the run_all_in_graph_and_eager_mode.
  tensorflow_addons/activations/gelu_test.py
Labels: activations, cla: yes

#1392 Moved test out of run_all_in_graph_and_eager_mode in hardshrink.
  tensorflow_addons/activations/hardshrink_test.py
Labels: activations, cla: yes

#1397 Moved test out of run_in_graph_and_eager_mode in lisht.
  tensorflow_addons/activations/lisht_test.py
Labels: activations, cla: yes

#1405 Moved test out of run_all_in_graph_and_eager_mode in softshrink.
  tensorflow_addons/activations/softshrink_test.py
Labels: activations, cla: yes

#1400 Moved tests out of run_in_graph_and_eager_mode in mish.
  tensorflow_addons/activations/mish_test.py
Labels: activations, cla: yes

#1408 Moved test out of run_in_graph_and_eager_mode in sparsemax.
  tensorflow_addons/activations/sparsemax_test.py
Labels: activations, cla: yes

#1412 Moved tests out of run_in_graph_and_eager_mode in connected components.
  tensorflow_addons/image/connected_components_test.py
Labels: cla: yes, image

#1419 Moved test out of run_in_graph_and_eager_mode in dense_image_warp.
  tensorflow_addons/image/dense_image_warp_test.py
Labels: cla: yes, image

#1421 Moved test out of run_in_graph_and_eager_mode in distance_transform.
  tensorflow_addons/image/distance_transform_test.py
Labels: cla: yes, image

#1338 add cutout image op
  .github/CODEOWNERS
  tensorflow_addons/image/BUILD
  tensorflow_addons/image/__init__.py
  tensorflow_addons/image/cutout_ops.py
  tensorflow_addons/image/cutout_ops_test.py
Labels: awaiting testing (then merge), cla: yes, github, image

#1442 Moved test out of run_in_graph_and_eager_mode in wrapper.
  tensorflow_addons/layers/wrappers_test.py
Labels: cla: yes, layers
