Repository tensorflow/addons, pull requests merged in 2020-09, with the labels that each got.

#2121 Fix unwrap dtype
  tensorflow_addons/image/tests/transform_ops_test.py
  tensorflow_addons/image/tests/translate_ops_test.py
  tensorflow_addons/image/transform_ops.py
  tensorflow_addons/image/translate_ops.py
  tensorflow_addons/image/utils.py
Labels: cla: yes, image

#2141 Add env variable for Setuptools 50.0.0
  tools/docker/build_wheel.Dockerfile
Labels: cla: yes

#2126 Base optimizer tracking
  tensorflow_addons/optimizers/average_wrapper.py
  tensorflow_addons/optimizers/lookahead.py
Labels: cla: yes, optimizers

#2114 Added extra requirements for tensorflow, tensorflow-gpu, and tensorflow-cpu
  README.md
  setup.py
  tensorflow_addons/utils/ensure_tf_install.py
  tensorflow_addons/version.py
Labels: cla: yes

#2142 fix LayerNormalization use on the right axis
  docs/tutorials/layers_normalizations.ipynb
Labels: cla: yes, documentation, tutorials

#2148 Update README.md
  README.md
Labels: cla: yes

#2138 #2066 doctest update losses
  tensorflow_addons/losses/contrastive.py
  tensorflow_addons/losses/focal_loss.py
  tensorflow_addons/losses/giou_loss.py
  tensorflow_addons/losses/kappa_loss.py
  tensorflow_addons/losses/npairs.py
  tensorflow_addons/losses/quantiles.py
Labels: cla: yes, losses

#2151 Add doctest section
  CONTRIBUTING.md
Labels: cla: yes

#2155 nbfmt tutorial notebooks
  docs/tutorials/_template.ipynb
  docs/tutorials/average_optimizers_callback.ipynb
  docs/tutorials/image_ops.ipynb
  docs/tutorials/layers_normalizations.ipynb
  docs/tutorials/layers_weightnormalization.ipynb
  docs/tutorials/losses_triplet.ipynb
  docs/tutorials/networks_seq2seq_nmt.ipynb
  docs/tutorials/optimizers_conditionalgradient.ipynb
  docs/tutorials/optimizers_lazyadam.ipynb
  docs/tutorials/time_stopping.ipynb
  docs/tutorials/tqdm_progress_bar.ipynb
Labels: cla: yes, documentation, tutorials

#2153 Support fill_mode for transform
  tensorflow_addons/image/tests/transform_ops_test.py
  tensorflow_addons/image/transform_ops.py
  tensorflow_addons/image/translate_ops.py
Labels: cla: yes, image

#2149 Speedup gaussian kernel generation
  tensorflow_addons/image/filters.py
Labels: cla: yes, image

#2159 Correct a typo in average_optimizers_callback.ipynb
  docs/tutorials/average_optimizers_callback.ipynb
Labels: cla: yes, documentation, tutorials

#2158 Avoid unnecessary reshapes for instance norm
  tensorflow_addons/layers/normalizations.py
  tensorflow_addons/layers/tests/normalizations_test.py
Labels: cla: yes, layers

#2140 beam search decoding procedure added to seq2seq_nmt tutorial
  docs/tutorials/networks_seq2seq_nmt.ipynb
Labels: cla: yes, documentation, seq2seq, tutorials

#2160 Setup notebook testing
  .github/workflows/ci_test.yml
  docs/tutorials/_template.ipynb
  docs/tutorials/image_ops.ipynb
  docs/tutorials/layers_weightnormalization.ipynb
  docs/tutorials/losses_triplet.ipynb
  docs/tutorials/networks_seq2seq_nmt.ipynb
  docs/tutorials/optimizers_conditionalgradient.ipynb
Labels: cla: yes, documentation, github, tutorials

#969 Discriminative Layer Training
  tensorflow_addons/optimizers/__init__.py
  tensorflow_addons/optimizers/discriminative_layer_training.py
  tensorflow_addons/optimizers/tests/discriminative_layer_training_test.py
Labels: cla: yes, documentation, optimizers, tutorials

#2164 fixed typo in multioptimizer class name and added code owners
  .github/CODEOWNERS
  tensorflow_addons/optimizers/__init__.py
  tensorflow_addons/optimizers/discriminative_layer_training.py
  tensorflow_addons/optimizers/tests/discriminative_layer_training_test.py
Labels: cla: yes, github, optimizers

#2147 Rnn testable doctests
  tensorflow_addons/rnn/esn_cell.py
  tensorflow_addons/rnn/layer_norm_lstm_cell.py
  tensorflow_addons/rnn/layer_norm_simple_rnn_cell.py
  tensorflow_addons/rnn/nas_cell.py
  tensorflow_addons/rnn/peephole_lstm_cell.py
Labels: cla: yes

#2099 Added support for noisy dense layers.
  .github/CODEOWNERS
  tensorflow_addons/layers/__init__.py
  tensorflow_addons/layers/noisy_dense.py
  tensorflow_addons/layers/tests/noisy_dense_test.py
Labels: cla: yes, github, layers

#2154 Added stochastic depth layer
  .github/CODEOWNERS
  tensorflow_addons/layers/__init__.py
  tensorflow_addons/layers/stochastic_depth.py
  tensorflow_addons/layers/tests/stochastic_depth_test.py
Labels: cla: yes, github, layers

#2166 Added filtered_input and constrained_decoding
  tensorflow_addons/text/__init__.py
  tensorflow_addons/text/crf.py
  tensorflow_addons/text/tests/crf_test.py
Labels: cla: yes, text

#2167 Moved build_docs.py and BUILD into /tools/docs/
  docs/README.md
  tools/docker/sanity_check.Dockerfile
  tools/docs/BUILD
  tools/docs/Readme.md
  tools/docs/build_docs.py
Labels: cla: yes, documentation

#2171 #2066-doc-update-metrics-latest
  tensorflow_addons/metrics/cohens_kappa.py
  tensorflow_addons/metrics/geometric_mean.py
  tensorflow_addons/metrics/hamming.py
  tensorflow_addons/metrics/matthews_correlation_coefficient.py
  tensorflow_addons/metrics/multilabel_confusion_matrix.py
  tensorflow_addons/metrics/r_square.py
Labels: cla: yes, metrics

#2173 Canonicalize metrics docs
  tensorflow_addons/metrics/cohens_kappa.py
  tensorflow_addons/metrics/f_scores.py
  tensorflow_addons/metrics/geometric_mean.py
  tensorflow_addons/metrics/hamming.py
  tensorflow_addons/metrics/matthews_correlation_coefficient.py
  tensorflow_addons/metrics/multilabel_confusion_matrix.py
  tensorflow_addons/metrics/r_square.py
Labels: cla: yes, metrics

#2168 updating documentation for CRF
  tensorflow_addons/layers/__init__.py
  tensorflow_addons/layers/crf.py
Labels: backport r0.11, cla: yes, layers

#2172 Fix crash in CLR optimizer callback
  tensorflow_addons/optimizers/cyclical_learning_rate.py
Labels: cla: yes, optimizers

#2177 #2066-doc-update-layers-v1
  tensorflow_addons/layers/multihead_attention.py
  tensorflow_addons/layers/polynomial.py
  tensorflow_addons/layers/spectral_normalization.py
  tensorflow_addons/layers/wrappers.py
Labels: cla: yes, layers

#2180 Fix MultiOptimizer list of layers
  tensorflow_addons/optimizers/discriminative_layer_training.py
  tensorflow_addons/optimizers/tests/discriminative_layer_training_test.py
  tensorflow_addons/utils/test_utils.py
Labels: cla: yes, optimizers

#2157 Add information on ecosystem review for new contributions
  CONTRIBUTING.md
Labels: cla: yes

#2176 [Backport r0.11] Doctest activations
  tensorflow_addons/activations/gelu.py
  tensorflow_addons/activations/hardshrink.py
  tensorflow_addons/activations/lisht.py
  tensorflow_addons/activations/mish.py
  tensorflow_addons/activations/rrelu.py
  tensorflow_addons/activations/snake.py
  tensorflow_addons/activations/softshrink.py
  tensorflow_addons/activations/sparsemax.py
  tensorflow_addons/activations/tanhshrink.py
Labels: activations, cla: no

#2175 [Backport r0.11] updating documentation for CRF
  tensorflow_addons/layers/__init__.py
  tensorflow_addons/layers/crf.py
Labels: cla: no, layers

#2184 [Backport r0.11] Added stochastic depth layer
  .github/CODEOWNERS
  tensorflow_addons/layers/__init__.py
  tensorflow_addons/layers/stochastic_depth.py
  tensorflow_addons/layers/tests/stochastic_depth_test.py
Labels: cla: no, github, layers

#2185 Remove subpackage maintainer concept
  .github/CODEOWNERS
  README.md
Labels: cla: yes, github

#1888 Publish dev container
  .github/workflows/github_build_dev_container.sh
  .github/workflows/release.yml
  CONTRIBUTING.md
  tools/build_dev_container.sh
  tools/docker/dev_container.Dockerfile
  tools/install_deps/clang-format.sh
  tools/pre-commit.sh
  tools/update_release_version.sh
Labels: cla: yes, github

#2182 Add support for ARM architecture build from source
  build_deps/toolchains/gpu/crosstool/BUILD.tpl
Labels: build, cla: yes
