Repository tensorflow/addons, pull requests merged in 2020-07, with the labels that each got.

#1970 Fix sparse novograd
  tensorflow_addons/optimizers/novograd.py
  tensorflow_addons/optimizers/tests/novograd_test.py
Labels: cla: yes, optimizers

#1971 Remove unnecessary eval_result container in tests
  tensorflow_addons/seq2seq/tests/basic_decoder_test.py
Labels: cla: yes, seq2seq

#1972 Check constructor arguments with types annotations
  tensorflow_addons/seq2seq/attention_wrapper.py
Labels: cla: yes, seq2seq

#1913 Add metric template for new PRs
  tensorflow_addons/metrics/README.md
Labels: cla: yes, metrics

#1963 Fixes exception when batch_size=1
  tensorflow_addons/metrics/cohens_kappa.py
  tensorflow_addons/metrics/tests/cohens_kappa_test.py
Labels: cla: yes, metrics

#1966 Fixes up nomenclature on L1 and L2 norms in triplet losses.
  tensorflow_addons/losses/tests/triplet_test.py
  tensorflow_addons/losses/triplet.py
Labels: cla: yes, losses

#1975 Use tf.raw_ops instead of private API for novograd
  tensorflow_addons/optimizers/novograd.py
  tools/testing/source_code_test.py
Labels: cla: yes, optimizers, test-cases

#1973 Update README.md
  docs/README.md
Labels: cla: yes, documentation

#1974 Add support for scheduled weight decays in RectifiedAdam.
  tensorflow_addons/optimizers/rectified_adam.py
  tensorflow_addons/optimizers/tests/rectified_adam_test.py
Labels: cla: yes, optimizers

#1951 Add TF 2.3.0rc to testing
  .github/workflows/ci_test.yml
  .github/workflows/release.yml
  build_deps/tf_dependency/tf_configure.bzl
  tensorflow_addons/optimizers/tests/lookahead_test.py
  tools/install_deps/bazel_linux.sh
  tools/install_so_files.sh
Labels: build, cla: yes, github, optimizers

#1980 Drop data_format argument
  tensorflow_addons/image/color_ops.py
  tensorflow_addons/image/cutout_ops.py
  tensorflow_addons/image/tests/color_ops_test.py
  tensorflow_addons/image/tests/cutout_ops_test.py
Labels: cla: yes, image

#1978 fix typos and examples for test cases
  tensorflow_addons/metrics/README.md
Labels: cla: yes, metrics

#1950 Support building against CUDA 11 and CUDNN 8
  build_deps/toolchains/gpu/cuda_configure.bzl
  build_deps/toolchains/gpu/find_cuda_config.py
  tensorflow_addons/losses/tests/lifted_test.py
  tensorflow_addons/losses/tests/triplet_test.py
  tensorflow_addons/seq2seq/tests/basic_decoder_test.py
Labels: build, cla: yes, losses, seq2seq

#1985 Use .ref() instead of .experimental_ref()
  tensorflow_addons/optimizers/weight_decay_optimizers.py
Labels: cla: yes, optimizers, test-cases

#1981 Improve support of global dtype policy in seq2seq layers
  tensorflow_addons/conftest.py
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/sampler.py
  tensorflow_addons/seq2seq/tests/attention_wrapper_test.py
  tensorflow_addons/seq2seq/tests/decoder_test.py
  tensorflow_addons/utils/test_utils.py
Labels: cla: yes, seq2seq

#1988 Use optimizer method instead of raw op
  tensorflow_addons/optimizers/conditional_gradient.py
  tensorflow_addons/optimizers/lazy_adam.py
Labels: cla: yes, optimizers

#1989 Use tf.keras.backend.moving_average_update instead of private api
  tensorflow_addons/optimizers/moving_average.py
  tools/testing/source_code_test.py
Labels: cla: yes, optimizers, test-cases

#1976 Port ProximalAdagrad
  .github/CODEOWNERS
  tensorflow_addons/optimizers/__init__.py
  tensorflow_addons/optimizers/proximal_adagrad.py
  tensorflow_addons/optimizers/tests/proximal_adagrad_test.py
Labels: cla: yes, github, optimizers

#1991 Revert "Drop data_format argument"
  tensorflow_addons/image/color_ops.py
  tensorflow_addons/image/cutout_ops.py
  tensorflow_addons/image/tests/color_ops_test.py
  tensorflow_addons/image/tests/cutout_ops_test.py
Labels: cla: yes, image

#1992 Duplicate descriptions also to functions
  tensorflow_addons/losses/focal_loss.py
  tensorflow_addons/losses/giou_loss.py
Labels: cla: yes, losses

#1990 Add deprecation warning
  tensorflow_addons/image/color_ops.py
  tensorflow_addons/image/cutout_ops.py
Labels: cla: yes, image

#2002 Install setuptools first
  tools/docker/build_wheel.Dockerfile
Labels: cla: yes

#1994 Clean up .assign in optmizers
  tensorflow_addons/optimizers/average_wrapper.py
  tensorflow_addons/optimizers/conditional_gradient.py
  tensorflow_addons/optimizers/lamb.py
  tensorflow_addons/optimizers/moving_average.py
Labels: cla: yes, optimizers

#2009 Fix decoder with attention example in the README
  tensorflow_addons/seq2seq/README.md
Labels: cla: yes, seq2seq

#2012 CLEAN: For Loop -> Dict Comprehension
  tensorflow_addons/metrics/utils.py
Labels: cla: yes, metrics

#2011 EHN: Using Language Tag in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: cla: yes, documentation

#2010 CLEAN: Remove Duplicated reset value
  tensorflow_addons/metrics/f_scores.py
  tensorflow_addons/metrics/matthews_correlation_coefficient.py
  tensorflow_addons/metrics/multilabel_confusion_matrix.py
  tensorflow_addons/metrics/r_square.py
Labels: cla: yes, metrics

#2015 ADD CODEOWNER @marload
  .github/CODEOWNERS
Labels: cla: yes, github

#2016 REFACTOR: Remove unused variable 'i'
  tensorflow_addons/metrics/tests/r_square_test.py
Labels: cla: yes, metrics

#1999 CRF layer v3.0 continued
  tensorflow_addons/layers/BUILD
  tensorflow_addons/layers/crf.py
  tensorflow_addons/layers/tests/crf_test.py
Labels: cla: yes, layers

#2008 Use tf.keras.backend.epsilon() as dtype
  tensorflow_addons/losses/kappa_loss.py
  tensorflow_addons/losses/tests/kappa_loss_test.py
Labels: cla: yes, losses

#2020 TYPO: Add missing spaces in some multi-line messages
  build_deps/toolchains/gpu/cuda_configure.bzl
  tensorflow_addons/register.py
Labels: build, cla: yes

#2021 REFACOTR: Remove Duplicate Function Call
  tensorflow_addons/metrics/cohens_kappa.py
Labels: cla: yes, metrics

#2014 REFACTOR: Early Returnn Pattern (if elif else -> if if return)
  tensorflow_addons/metrics/r_square.py
Labels: cla: yes, metrics

#2022 Bump to tf2.3rc2
  .github/workflows/release.yml
Labels: awaiting testing (then merge), cla: yes, github

#2023 Use updated method for launching GPU containers
  CONTRIBUTING.md
Labels: cla: yes

#2007 Add PR template
  .github/pull_request_template.md
Labels: cla: yes, github

#2025 REFACTOR: Remove Duplicated Function Call
  tensorflow_addons/layers/tlu.py
Labels: cla: yes, layers

#2029 Issue #844: Fix weight_decay schedule support for DecoupledWeightDecayExtension
  tensorflow_addons/optimizers/tests/weight_decay_optimizers_test.py
  tensorflow_addons/optimizers/weight_decay_optimizers.py
Labels: cla: yes, optimizers

#2031 Impl/geometric mean
  tensorflow_addons/metrics/__init__.py
  tensorflow_addons/metrics/geometric_mean.py
  tensorflow_addons/metrics/tests/geometric_mean_test.py
  tensorflow_addons/metrics/tests/metrics_test.py
  tensorflow_addons/metrics/utils.py
Labels: cla: yes, metrics

#2039 Add marload CODEOWNER
  .github/CODEOWNERS
Labels: cla: yes, github

#2046 Streamline PR template
  .github/pull_request_template.md
Labels: cla: yes, github

#2034 fix R_Square shape issue in model.evaluate
  tensorflow_addons/metrics/r_square.py
  tensorflow_addons/metrics/tests/r_square_test.py
Labels: cla: yes, metrics

#2036 FIX-1998: Split RNN Cell Module
  .github/CODEOWNERS
  tensorflow_addons/rnn/__init__.py
  tensorflow_addons/rnn/cell.py
  tensorflow_addons/rnn/esn_cell.py
  tensorflow_addons/rnn/layer_norm_lstm_cell.py
  tensorflow_addons/rnn/layer_norm_simple_rnn_cell.py
  tensorflow_addons/rnn/nas_cell.py
  tensorflow_addons/rnn/peephole_lstm_cell.py
  tensorflow_addons/rnn/tests/cell_test.py
  tensorflow_addons/rnn/tests/esn_cell_test.py
  tensorflow_addons/rnn/tests/layer_norm_lstm_cell_test.py
  tensorflow_addons/rnn/tests/layer_norm_simple_rnn_cell_test.py
  tensorflow_addons/rnn/tests/nas_cell_test.py
  tensorflow_addons/rnn/tests/peephole_lstm_cell_test.py
Labels: cla: yes, github

#2053 Fixed lr/wd schedules for DecoupledWeightDecayExtension running on GPU
  tensorflow_addons/optimizers/tests/weight_decay_optimizers_test.py
  tensorflow_addons/optimizers/weight_decay_optimizers.py
Labels: cla: yes, optimizers

#2056 Small optimization for tfa.image.transform_ops.angles_to_projective_transforms
  tensorflow_addons/image/transform_ops.py
Labels: cla: yes, image
