Repository tensorflow/addons, pull requests merged in 2020-08, with the labels that each got.

#2050 Tf 2.3.0
  .github/workflows/release.yml
  CONTRIBUTING.md
  tensorflow_addons/optimizers/tests/moving_average_test.py
  tools/docker/cpu_tests.Dockerfile
  tools/install_deps/tensorflow-cpu.txt
  tools/install_deps/tensorflow.txt
  tools/run_gpu_tests.sh
Labels: cla: yes, github, optimizers

#2061 Set TF 2.3 for nightly
  README.md
Labels: cla: yes

#1964 Make `dynamic_decode()` TFLite-convertible
  tensorflow_addons/seq2seq/decoder.py
  tensorflow_addons/seq2seq/tests/decoder_test.py
Labels: cla: no, seq2seq

#2040 preprocessing refactor
  docs/tutorials/networks_seq2seq_nmt.ipynb
Labels: cla: yes, documentation, tutorials

#2048 Deprecate gelu
  tensorflow_addons/activations/gelu.py
  tensorflow_addons/layers/gelu.py
Labels: activations, cla: yes, layers

#1244 Spectral Normalization continued
  .github/CODEOWNERS
  tensorflow_addons/layers/__init__.py
  tensorflow_addons/layers/spectral_normalization.py
  tensorflow_addons/layers/tests/spectral_normalization_test.py
Labels: cla: yes, github, layers

#677 doctest addons
  tensorflow_addons/conftest.py
  tensorflow_addons/layers/wrappers.py
  tensorflow_addons/losses/focal_loss.py
  tensorflow_addons/losses/giou_loss.py
  tensorflow_addons/losses/quantiles.py
  tensorflow_addons/metrics/cohens_kappa.py
  tensorflow_addons/metrics/matthews_correlation_coefficient.py
  tensorflow_addons/metrics/multilabel_confusion_matrix.py
  tensorflow_addons/metrics/r_square.py
  tensorflow_addons/optimizers/lookahead.py
  tensorflow_addons/optimizers/moving_average.py
  tensorflow_addons/optimizers/weight_decay_optimizers.py
  tools/docker/sanity_check.Dockerfile
Labels: cla: yes, documentation, github, layers, losses, metrics, optimizers, test-cases

#2068 Revert "doctest addons"
  tensorflow_addons/conftest.py
  tensorflow_addons/layers/wrappers.py
  tensorflow_addons/losses/focal_loss.py
  tensorflow_addons/losses/giou_loss.py
  tensorflow_addons/losses/quantiles.py
  tensorflow_addons/metrics/cohens_kappa.py
  tensorflow_addons/metrics/matthews_correlation_coefficient.py
  tensorflow_addons/metrics/multilabel_confusion_matrix.py
  tensorflow_addons/metrics/r_square.py
  tensorflow_addons/optimizers/lookahead.py
  tensorflow_addons/optimizers/moving_average.py
  tensorflow_addons/optimizers/weight_decay_optimizers.py
  tools/docker/sanity_check.Dockerfile
Labels: cla: yes, layers, losses, metrics, optimizers

#2071 Update version.py
  tensorflow_addons/version.py
Labels: cla: yes

#2073 Update version.py
  tensorflow_addons/version.py
Labels: cla: yes

#2074 Update compatibility matrix
  README.md
Labels: cla: yes

#2070 Added all_scores property to BeamSearchDecoderOutput to expose scores for all tokens
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/seq2seq/tests/beam_search_decoder_test.py
Labels: cla: yes, seq2seq

#2077 Update ensure_tf_install.py
  tensorflow_addons/utils/ensure_tf_install.py
Labels: backport r0.11, cla: yes

#2078 [Backport r0.11] Update ensure_tf_install.py
  tensorflow_addons/utils/ensure_tf_install.py
Labels: cla: no

#2076 Update version.py
  tensorflow_addons/version.py
Labels: cla: yes

#2069 Enable doctest
  pytest.ini
  tensorflow_addons/activations/hardshrink.py
  tensorflow_addons/conftest.py
  tensorflow_addons/metrics/geometric_mean.py
  tensorflow_addons/utils/test_utils.py
  tools/docker/cpu_tests.Dockerfile
Labels: activations, cla: yes, metrics

#2080 Update README.md
  README.md
Labels: cla: yes

#2081 Fix Layer class name in docstring
  tensorflow_addons/seq2seq/attention_wrapper.py
Labels: cla: yes, seq2seq

#2082 Remove references to the "RNNCell" name
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/decoder.py
Labels: cla: yes, seq2seq

#2079 Allow Optimizers to accept a loss tensor
  tensorflow_addons/optimizers/weight_decay_optimizers.py
Labels: cla: yes, optimizers

#2051 Fix float16 and mixed precision for crf
  tensorflow_addons/layers/crf.py
  tensorflow_addons/layers/tests/crf_test.py
  tensorflow_addons/text/crf.py
  tensorflow_addons/text/tests/crf_test.py
Labels: cla: yes, layers, mixed precision, text

#2084 Doctest activations
  tensorflow_addons/activations/gelu.py
  tensorflow_addons/activations/hardshrink.py
  tensorflow_addons/activations/lisht.py
  tensorflow_addons/activations/mish.py
  tensorflow_addons/activations/rrelu.py
  tensorflow_addons/activations/snake.py
  tensorflow_addons/activations/softshrink.py
  tensorflow_addons/activations/sparsemax.py
  tensorflow_addons/activations/tanhshrink.py
Labels: activations, cla: yes

#2072 Beautifier layers doc
  tensorflow_addons/layers/multihead_attention.py
  tensorflow_addons/layers/netvlad.py
  tensorflow_addons/layers/normalizations.py
  tensorflow_addons/layers/optical_flow.py
  tensorflow_addons/layers/poincare.py
  tensorflow_addons/layers/polynomial.py
  tensorflow_addons/layers/snake.py
  tensorflow_addons/layers/sparsemax.py
  tensorflow_addons/layers/spatial_pyramid_pooling.py
  tensorflow_addons/layers/spectral_normalization.py
  tensorflow_addons/layers/tlu.py
  tensorflow_addons/layers/wrappers.py
Labels: cla: yes, layers

#2096 Fix broken link in NovoGrad docstring
  tensorflow_addons/optimizers/novograd.py
Labels: cla: yes, optimizers

#2062 Beautifier losses doc
  tensorflow_addons/losses/contrastive.py
  tensorflow_addons/losses/focal_loss.py
  tensorflow_addons/losses/giou_loss.py
  tensorflow_addons/losses/kappa_loss.py
  tensorflow_addons/losses/lifted.py
  tensorflow_addons/losses/metric_learning.py
  tensorflow_addons/losses/quantiles.py
  tensorflow_addons/losses/sparsemax_loss.py
  tensorflow_addons/losses/triplet.py
Labels: cla: yes, losses

#2105 Beautifier callbacks doc
  tensorflow_addons/callbacks/average_model_checkpoint.py
  tensorflow_addons/callbacks/tqdm_progress_bar.py
Labels: callbacks, cla: yes

#2112 Deprecate MultiHeadAttention
  tensorflow_addons/layers/multihead_attention.py
Labels: cla: yes, layers

#2101 Beautifier image doc
  tensorflow_addons/image/color_ops.py
  tensorflow_addons/image/compose_ops.py
  tensorflow_addons/image/connected_components.py
  tensorflow_addons/image/cutout_ops.py
  tensorflow_addons/image/dense_image_warp.py
  tensorflow_addons/image/distance_transform.py
  tensorflow_addons/image/distort_image_ops.py
  tensorflow_addons/image/interpolate_spline.py
  tensorflow_addons/image/resampler_ops.py
  tensorflow_addons/image/sparse_image_warp.py
  tensorflow_addons/image/transform_ops.py
  tensorflow_addons/image/translate_ops.py
  tensorflow_addons/image/utils.py
Labels: cla: yes, image

#2097 Use bazelisk
  .bazelversion
  .github/workflows/ci_test.yml
  .github/workflows/release.yml
  tools/docker/cpu_tests.Dockerfile
  tools/docker/sanity_check.Dockerfile
  tools/install_deps/bazel_linux.sh
  tools/install_deps/install_bazelisk.sh
Labels: cla: yes, github

#2098 Update version.py
  tensorflow_addons/version.py
Labels: cla: yes

#2120 [Backport r0.11] Beautifier callbacks doc
  tensorflow_addons/callbacks/average_model_checkpoint.py
  tensorflow_addons/callbacks/tqdm_progress_bar.py
Labels: callbacks, cla: no

#2119 [Backport r0.11] Beautifier image doc
  tensorflow_addons/image/color_ops.py
  tensorflow_addons/image/compose_ops.py
  tensorflow_addons/image/connected_components.py
  tensorflow_addons/image/cutout_ops.py
  tensorflow_addons/image/dense_image_warp.py
  tensorflow_addons/image/distance_transform.py
  tensorflow_addons/image/distort_image_ops.py
  tensorflow_addons/image/interpolate_spline.py
  tensorflow_addons/image/resampler_ops.py
  tensorflow_addons/image/sparse_image_warp.py
  tensorflow_addons/image/transform_ops.py
  tensorflow_addons/image/translate_ops.py
  tensorflow_addons/image/utils.py
Labels: cla: no, image

#2118 [Backport r0.11] Fix Layer class name in docstring
  tensorflow_addons/seq2seq/attention_wrapper.py
Labels: cla: no, seq2seq

#2117 [Backport r0.11] Beautifier layers doc
  tensorflow_addons/layers/multihead_attention.py
  tensorflow_addons/layers/netvlad.py
  tensorflow_addons/layers/normalizations.py
  tensorflow_addons/layers/optical_flow.py
  tensorflow_addons/layers/poincare.py
  tensorflow_addons/layers/polynomial.py
  tensorflow_addons/layers/snake.py
  tensorflow_addons/layers/sparsemax.py
  tensorflow_addons/layers/spatial_pyramid_pooling.py
  tensorflow_addons/layers/spectral_normalization.py
  tensorflow_addons/layers/tlu.py
  tensorflow_addons/layers/wrappers.py
Labels: cla: no, layers

#2123 [Backport r0.11] Fix broken link in NovoGrad docstring
  tensorflow_addons/optimizers/novograd.py
Labels: cla: no, optimizers

#2128 Install tensorflow-addons in tutorials.
  docs/README.md
  docs/tutorials/_template.ipynb
  docs/tutorials/average_optimizers_callback.ipynb
  docs/tutorials/image_ops.ipynb
  docs/tutorials/layers_normalizations.ipynb
  docs/tutorials/layers_weightnormalization.ipynb
  docs/tutorials/losses_triplet.ipynb
  docs/tutorials/networks_seq2seq_nmt.ipynb
  docs/tutorials/optimizers_conditionalgradient.ipynb
  docs/tutorials/optimizers_lazyadam.ipynb
  docs/tutorials/time_stopping.ipynb
  docs/tutorials/tqdm_progress_bar.ipynb
Labels: cla: yes, documentation, tutorials

#2129 Fix imports and layer naming
  docs/tutorials/average_optimizers_callback.ipynb
  docs/tutorials/networks_seq2seq_nmt.ipynb
Labels: cla: yes, documentation, tutorials

#2130 Fix namedtuple generated documentation
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/basic_decoder.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
Labels: cla: yes, seq2seq

#2135 Bump black
  build_deps/toolchains/gpu/find_cuda_config.py
  tensorflow_addons/activations/tests/sparsemax_test.py
  tensorflow_addons/image/compose_ops.py
  tensorflow_addons/image/cutout_ops.py
  tensorflow_addons/image/filters.py
  tensorflow_addons/image/interpolate_spline.py
  tensorflow_addons/image/sparse_image_warp.py
  tensorflow_addons/image/tests/connected_components_test.py
  tensorflow_addons/image/tests/dense_image_warp_test.py
  tensorflow_addons/image/tests/distort_image_ops_test.py
  tensorflow_addons/image/tests/filters_test.py
  tensorflow_addons/image/tests/sparse_image_warp_test.py
  tensorflow_addons/image/tests/transform_ops_test.py
  tensorflow_addons/image/utils.py
  tensorflow_addons/layers/crf.py
  tensorflow_addons/layers/esn.py
  tensorflow_addons/layers/spatial_pyramid_pooling.py
  tensorflow_addons/layers/tests/maxout_test.py
  tensorflow_addons/layers/tests/optical_flow_test.py
  tensorflow_addons/layers/tests/spectral_normalization_test.py
  tensorflow_addons/layers/tests/wrappers_test.py
  tensorflow_addons/losses/metric_learning.py
  tensorflow_addons/losses/tests/kappa_loss_test.py
  tensorflow_addons/losses/tests/lifted_test.py
  tensorflow_addons/losses/tests/triplet_test.py
  tensorflow_addons/metrics/r_square.py
  tensorflow_addons/metrics/tests/hamming_test.py
  tensorflow_addons/metrics/tests/multilabel_confusion_matrix_test.py
  tensorflow_addons/optimizers/average_wrapper.py
  tensorflow_addons/optimizers/lookahead.py
  tensorflow_addons/optimizers/moving_average.py
  tensorflow_addons/optimizers/tests/conditional_gradient_test.py
  tensorflow_addons/optimizers/tests/lookahead_test.py
  tensorflow_addons/optimizers/tests/moving_average_test.py
  tensorflow_addons/optimizers/tests/rectified_adam_test.py
  tensorflow_addons/optimizers/tests/weight_decay_optimizers_test.py
  tensorflow_addons/optimizers/tests/yogi_test.py
  tensorflow_addons/optimizers/weight_decay_optimizers.py
  tensorflow_addons/rnn/esn_cell.py
  tensorflow_addons/rnn/tests/esn_cell_test.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/seq2seq/decoder.py
  tensorflow_addons/seq2seq/tests/basic_decoder_test.py
  tensorflow_addons/seq2seq/tests/beam_search_decoder_test.py
  tensorflow_addons/seq2seq/tests/beam_search_ops_test.py
  tensorflow_addons/seq2seq/tests/decoder_test.py
  tensorflow_addons/seq2seq/tests/loss_test.py
  tensorflow_addons/text/tests/parse_time_op_test.py
  tensorflow_addons/text/tests/skip_gram_ops_test.py
  tensorflow_addons/utils/keras_utils.py
  tensorflow_addons/version.py
  tools/install_deps/black.txt
  tools/testing/source_code_test.py
Labels: activations, build, cla: yes, image, layers, losses, metrics, optimizers

#2136 fix typing of num_updates in moving_average
  tensorflow_addons/optimizers/moving_average.py
  tensorflow_addons/optimizers/tests/moving_average_test.py
Labels: cla: yes, optimizers

#2137 Add experimental_aggregate_gradients support
  tensorflow_addons/optimizers/average_wrapper.py
  tensorflow_addons/optimizers/tests/moving_average_test.py
Labels: cla: yes, optimizers
