Repository tensorflow/addons, pull requests merged in 2020-01, with the labels that each got.

#799 Add github action to test with macos
  .github/labeler.yml
  .github/workflows/ci_test.yml
  .github/workflows/nightly_test.yml
  tools/ci_testing/addons_cpu.sh
Labels: cla: yes, test cases

#819 FIX: RNN support for weight norm and `remove()`
  tensorflow_addons/layers/wrappers.py
  tensorflow_addons/layers/wrappers_test.py
Labels: cla: yes, layers

#824 BLD: fix nightlies
  .travis.yml
  BUILD
  build_deps/check_deps.py
  build_deps/requirements.txt
  build_pip_pkg.sh
  configure.sh
  requirements.txt
  setup.py
  tensorflow_addons/custom_ops/activations/cc/kernels/rrelu_op.h
  tensorflow_addons/custom_ops/image/cc/kernels/adjust_hsv_in_yiq_op.h
  tensorflow_addons/custom_ops/text/cc/kernels/skip_gram_kernels.cc
  tools/ci_build/builds/release_macos.sh
Labels: build, cla: yes

#827 DOC: Add badge for nightly macos tests
  .github/workflows/macos_nightly.yml
  README.md
Labels: build, cla: yes

#826 BLD: Install twine to user
  .travis.yml
Labels: build, cla: yes

#828 Update logging to warning since warn is deprecated
  tensorflow_addons/layers/wrappers.py
Labels: cla: yes

#829 fixes bugs when using fit generator
  tensorflow_addons/callbacks/tqdm_progress_bar.py
Labels: cla: yes

#831 Mark wrappers test as flaky
  tensorflow_addons/layers/BUILD
Labels: cla: yes, layers, test cases

#833 BLD: Only install twine to user path for linux builds
  .travis.yml
Labels: build, cla: yes

#820 Rrelu fix
  tensorflow_addons/activations/BUILD
  tensorflow_addons/activations/rrelu.py
  tensorflow_addons/activations/rrelu_test.py
  tensorflow_addons/custom_ops/activations/BUILD
  tensorflow_addons/custom_ops/activations/cc/kernels/rrelu_op.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/rrelu_op.h
  tensorflow_addons/custom_ops/activations/cc/kernels/rrelu_op_gpu.cu.cc
  tensorflow_addons/custom_ops/activations/cc/ops/rrelu_op.cc
Labels: activations, cla: yes

#835 Add config for labeler
  .github/boring-cyborg.yml
  .github/labeler.yml
Labels: cla: yes

#823 Remove tf function where unecessary
  tensorflow_addons/activations/README.md
  tensorflow_addons/activations/gelu.py
  tensorflow_addons/activations/gelu_test.py
  tensorflow_addons/activations/hardshrink.py
  tensorflow_addons/activations/hardshrink_test.py
  tensorflow_addons/activations/lisht.py
  tensorflow_addons/activations/lisht_test.py
  tensorflow_addons/activations/mish.py
  tensorflow_addons/activations/mish_test.py
  tensorflow_addons/activations/softshrink.py
  tensorflow_addons/activations/softshrink_test.py
  tensorflow_addons/activations/tanhshrink.py
  tensorflow_addons/image/distance_transform.py
  tensorflow_addons/image/distance_transform_test.py
  tensorflow_addons/image/distort_image_ops.py
  tensorflow_addons/image/distort_image_ops_test.py
  tensorflow_addons/image/transform_ops.py
  tensorflow_addons/image/transform_ops_test.py
  tensorflow_addons/image/translate_ops.py
  tensorflow_addons/image/utils.py
  tensorflow_addons/image/utils_test.py
  tensorflow_addons/layers/optical_flow.py
Labels: cla: yes

#834 Add Github CI for windows
  .github/workflows/ci_test.yml
  .github/workflows/windows_nightly.yml
  README.md
  tensorflow_addons/activations/rrelu_test.py
  tensorflow_addons/custom_ops/text/BUILD
  tensorflow_addons/losses/BUILD
  tensorflow_addons/losses/__init__.py
  tensorflow_addons/losses/npairs_dummy_test.py
  tools/ci_testing/addons_cpu.sh
Labels: activations, cla: yes, custom-ops, github, losses, test cases, testing, windows

#840 Update site
  docs/tutorials/losses_triplet.ipynb
  docs/tutorials/networks_seq2seq_nmt.ipynb
  docs/tutorials/tqdm_progress_bar.ipynb
Labels: cla: yes, documentation, tutorials

#843 FIX: GELU name
  tensorflow_addons/layers/__init__.py
  tensorflow_addons/layers/gelu.py
  tensorflow_addons/layers/gelu_test.py
Labels: cla: yes, layers

#845 Fix bug in "xy" mode for bilinear interpolation
  tensorflow_addons/image/dense_image_warp.py
  tensorflow_addons/image/dense_image_warp_test.py
Labels: cla: no, image

#832 Add broken tutorial do docs for testing verification
  docs/tutorials/temp_broken_tutorial.ipynb
Labels: cla: yes, test cases

#850 CLN: Remove sanity nightly badge
  README.md
Labels: cla: yes, documentation

#849 DOC: Update build matrix
  README.md
Labels: cla: yes

#848 Increment minor version to 0.8
  tensorflow_addons/version.py
Labels: cla: yes

#836 Add Novograd Optimizer
  tensorflow_addons/optimizers/BUILD
  tensorflow_addons/optimizers/README.md
  tensorflow_addons/optimizers/__init__.py
  tensorflow_addons/optimizers/novograd.py
  tensorflow_addons/optimizers/novograd_test.py
Labels: cla: yes, optimizers

#858 sanity checks for Github Actions
  .github/workflows/ci_test.yml
Labels: cla: no, github

#862 Move ubuntu CPU testing to github actions
  .github/workflows/ci_test.yml
  .github/workflows/ubuntu_nightly.yml
  README.md
Labels: cla: yes, github

#867 CLN: define _USE_MATH_DEFINES for windows build
  tensorflow_addons/custom_ops/activations/cc/kernels/gelu_op.h
  tensorflow_addons/custom_ops/image/cc/kernels/adjust_hsv_in_yiq_op.h
  tensorflow_addons/custom_ops/text/cc/kernels/skip_gram_kernels.cc
  tensorflow_addons/tensorflow_addons.bzl
Labels: cla: yes, custom-ops

#857 Thresholded Linear Unit
  tensorflow_addons/layers/BUILD
  tensorflow_addons/layers/__init__.py
  tensorflow_addons/layers/tlu.py
  tensorflow_addons/layers/tlu_test.py
Labels: cla: yes, layers

#872 CLN: Consolidate test case label
  .github/boring-cyborg.yml
Labels: cla: yes, github

#871 DOC: update tutorial versions
  docs/tutorials/image_ops.ipynb
  docs/tutorials/layers_normalizations.ipynb
  docs/tutorials/layers_weightnormalization.ipynb
  docs/tutorials/losses_triplet.ipynb
  docs/tutorials/networks_seq2seq_nmt.ipynb
  docs/tutorials/optimizers_conditionalgradient.ipynb
  docs/tutorials/optimizers_lazyadam.ipynb
  docs/tutorials/temp_broken_tutorial.ipynb
  docs/tutorials/time_stopping.ipynb
  docs/tutorials/tqdm_progress_bar.ipynb
Labels: cla: yes, documentation, tutorials

#842 Add multi-device testing utils
  tensorflow_addons/utils/test_utils.py
Labels: cla: yes, layers, test-cases

#579 Add Pinball Loss
  tensorflow_addons/losses/BUILD
  tensorflow_addons/losses/README.md
  tensorflow_addons/losses/__init__.py
  tensorflow_addons/losses/quantiles.py
  tensorflow_addons/losses/quantiles_test.py
Labels: cla: yes, documentation, losses

#874 fix naming for GELU and add tlu maintainer
  tensorflow_addons/layers/README.md
Labels: cla: yes, layers

#875 FIX: Yogi import
  tensorflow_addons/optimizers/__init__.py
Labels: cla: yes, optimizers

#869 Lazy loading of shared libraries.
  tensorflow_addons/activations/gelu.py
  tensorflow_addons/activations/hardshrink.py
  tensorflow_addons/activations/lisht.py
  tensorflow_addons/activations/mish.py
  tensorflow_addons/activations/softshrink.py
  tensorflow_addons/activations/tanhshrink.py
  tensorflow_addons/image/connected_components.py
  tensorflow_addons/image/distance_transform.py
  tensorflow_addons/image/distort_image_ops.py
  tensorflow_addons/image/resampler_ops.py
  tensorflow_addons/image/transform_ops.py
  tensorflow_addons/layers/optical_flow.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/seq2seq/beam_search_decoder_test.py
  tensorflow_addons/seq2seq/beam_search_ops_test.py
  tensorflow_addons/text/parse_time_op.py
  tensorflow_addons/text/skip_gram_ops.py
  tensorflow_addons/utils/resource_loader.py
Labels: activations, cla: yes, image, layers, seq2seq, text

#861 Dropping the python 2 builds.
  .travis.yml
  CONTRIBUTING.md
  setup.py
  tools/ci_build/builds/release_linux.sh
  tools/ci_build/builds/release_macos.sh
  tools/ci_build/ci_sanity.sh
  tools/ci_build/install/ci_requirements.txt
  tools/ci_build/verify/check_file_name.py
  tools/ci_build/verify/check_futures.py
  tools/run_docker.sh
Labels: build, cla: yes

#878 Used pyupgrade on the setup.py
  setup.py
Labels: cla: yes

#879 Used pyupgrade on some files.
  build_deps/check_deps.py
  tensorflow_addons/__init__.py
  tensorflow_addons/version.py
Labels: build, cla: yes

#880 Pyupgrade on some more files.
  tensorflow_addons/text/__init__.py
  tensorflow_addons/text/crf.py
  tensorflow_addons/text/crf_test.py
  tensorflow_addons/text/parse_time_dummy_test.py
  tensorflow_addons/text/parse_time_op.py
  tensorflow_addons/text/parse_time_op_test.py
  tensorflow_addons/text/skip_gram_ops.py
  tensorflow_addons/text/skip_gram_ops_test.py
  tensorflow_addons/utils/keras_utils.py
  tensorflow_addons/utils/keras_utils_test.py
  tensorflow_addons/utils/resource_loader.py
  tensorflow_addons/utils/test_utils.py
  tools/docs/build_docs.py
Labels: cla: yes, text

#881 Used pyupgrade on the activations files.
  tensorflow_addons/activations/__init__.py
  tensorflow_addons/activations/activations_test.py
  tensorflow_addons/activations/gelu.py
  tensorflow_addons/activations/gelu_test.py
  tensorflow_addons/activations/hardshrink.py
  tensorflow_addons/activations/hardshrink_test.py
  tensorflow_addons/activations/lisht.py
  tensorflow_addons/activations/lisht_test.py
  tensorflow_addons/activations/mish.py
  tensorflow_addons/activations/mish_test.py
  tensorflow_addons/activations/rrelu.py
  tensorflow_addons/activations/rrelu_test.py
  tensorflow_addons/activations/softshrink.py
  tensorflow_addons/activations/softshrink_test.py
  tensorflow_addons/activations/sparsemax.py
  tensorflow_addons/activations/sparsemax_test.py
  tensorflow_addons/activations/tanhshrink.py
  tensorflow_addons/activations/tanhshrink_test.py
Labels: activations, cla: yes

#882 Used pyupgrade on the image files.
  buildifier.1
  tensorflow_addons/image/__init__.py
  tensorflow_addons/image/connected_components.py
  tensorflow_addons/image/connected_components_test.py
  tensorflow_addons/image/dense_image_warp.py
  tensorflow_addons/image/dense_image_warp_test.py
  tensorflow_addons/image/distance_transform.py
  tensorflow_addons/image/distance_transform_test.py
  tensorflow_addons/image/distort_image_ops.py
  tensorflow_addons/image/distort_image_ops_test.py
  tensorflow_addons/image/filters.py
  tensorflow_addons/image/filters_test.py
  tensorflow_addons/image/interpolate_spline.py
  tensorflow_addons/image/interpolate_spline_test.py
  tensorflow_addons/image/resampler_ops.py
  tensorflow_addons/image/resampler_ops_test.py
  tensorflow_addons/image/sparse_image_warp.py
  tensorflow_addons/image/sparse_image_warp_test.py
  tensorflow_addons/image/transform_ops.py
  tensorflow_addons/image/transform_ops_test.py
  tensorflow_addons/image/translate_ops.py
  tensorflow_addons/image/translate_ops_test.py
  tensorflow_addons/image/utils.py
  tensorflow_addons/image/utils_test.py
Labels: cla: yes, image

#885 Used pyupgrade on the callbacks and losses.
  tensorflow_addons/callbacks/__init__.py
  tensorflow_addons/callbacks/time_stopping.py
  tensorflow_addons/callbacks/tqdm_progress_bar.py
  tensorflow_addons/losses/__init__.py
  tensorflow_addons/losses/contrastive.py
  tensorflow_addons/losses/contrastive_test.py
  tensorflow_addons/losses/focal_loss.py
  tensorflow_addons/losses/focal_loss_test.py
  tensorflow_addons/losses/giou_loss.py
  tensorflow_addons/losses/giou_loss_test.py
  tensorflow_addons/losses/lifted.py
  tensorflow_addons/losses/lifted_test.py
  tensorflow_addons/losses/metric_learning.py
  tensorflow_addons/losses/metric_test.py
  tensorflow_addons/losses/npairs.py
  tensorflow_addons/losses/npairs_dummy_test.py
  tensorflow_addons/losses/npairs_test.py
  tensorflow_addons/losses/quantiles.py
  tensorflow_addons/losses/quantiles_test.py
  tensorflow_addons/losses/sparsemax_loss.py
  tensorflow_addons/losses/sparsemax_loss_test.py
  tensorflow_addons/losses/triplet.py
  tensorflow_addons/losses/triplet_test.py
Labels: callbacks, cla: yes, losses

#884 Used pyupgrade on the layers.
  tensorflow_addons/layers/__init__.py
  tensorflow_addons/layers/gelu.py
  tensorflow_addons/layers/gelu_test.py
  tensorflow_addons/layers/maxout.py
  tensorflow_addons/layers/maxout_test.py
  tensorflow_addons/layers/normalizations.py
  tensorflow_addons/layers/normalizations_test.py
  tensorflow_addons/layers/optical_flow.py
  tensorflow_addons/layers/optical_flow_test.py
  tensorflow_addons/layers/poincare.py
  tensorflow_addons/layers/poincare_test.py
  tensorflow_addons/layers/sparsemax.py
  tensorflow_addons/layers/sparsemax_test.py
  tensorflow_addons/layers/tlu.py
  tensorflow_addons/layers/tlu_test.py
  tensorflow_addons/layers/wrappers.py
  tensorflow_addons/layers/wrappers_test.py
Labels: cla: yes, layers

#883 Used pyugrade on the optimizers files.
  tensorflow_addons/optimizers/__init__.py
  tensorflow_addons/optimizers/average_wrapper.py
  tensorflow_addons/optimizers/conditional_gradient.py
  tensorflow_addons/optimizers/conditional_gradient_test.py
  tensorflow_addons/optimizers/cyclical_learning_rate.py
  tensorflow_addons/optimizers/cyclical_learning_rate_test.py
  tensorflow_addons/optimizers/lamb.py
  tensorflow_addons/optimizers/lamb_test.py
  tensorflow_addons/optimizers/lazy_adam.py
  tensorflow_addons/optimizers/lazy_adam_test.py
  tensorflow_addons/optimizers/lookahead.py
  tensorflow_addons/optimizers/lookahead_test.py
  tensorflow_addons/optimizers/moving_average.py
  tensorflow_addons/optimizers/moving_average_test.py
  tensorflow_addons/optimizers/novograd.py
  tensorflow_addons/optimizers/novograd_test.py
  tensorflow_addons/optimizers/rectified_adam.py
  tensorflow_addons/optimizers/rectified_adam_test.py
  tensorflow_addons/optimizers/stochastic_weight_averaging.py
  tensorflow_addons/optimizers/stochastic_weight_averaging_test.py
  tensorflow_addons/optimizers/utils.py
  tensorflow_addons/optimizers/weight_decay_optimizers.py
  tensorflow_addons/optimizers/weight_decay_optimizers_test.py
  tensorflow_addons/optimizers/yogi.py
  tensorflow_addons/optimizers/yogi_test.py
Labels: cla: yes, optimizers

#886 Used pyupgrade on metrics, seq2seq and rnn.
  tensorflow_addons/metrics/__init__.py
  tensorflow_addons/metrics/cohens_kappa.py
  tensorflow_addons/metrics/cohens_kappa_test.py
  tensorflow_addons/metrics/f_scores.py
  tensorflow_addons/metrics/f_test.py
  tensorflow_addons/metrics/hamming.py
  tensorflow_addons/metrics/hamming_test.py
  tensorflow_addons/metrics/matthews_correlation_coefficient.py
  tensorflow_addons/metrics/matthews_correlation_coefficient_test.py
  tensorflow_addons/metrics/multilabel_confusion_matrix.py
  tensorflow_addons/metrics/multilabel_confusion_matrix_test.py
  tensorflow_addons/metrics/r_square.py
  tensorflow_addons/metrics/r_square_test.py
  tensorflow_addons/metrics/utils.py
  tensorflow_addons/rnn/__init__.py
  tensorflow_addons/rnn/cell.py
  tensorflow_addons/rnn/cell_test.py
  tensorflow_addons/seq2seq/__init__.py
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/attention_wrapper_test.py
  tensorflow_addons/seq2seq/basic_decoder.py
  tensorflow_addons/seq2seq/basic_decoder_test.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/seq2seq/beam_search_decoder_test.py
  tensorflow_addons/seq2seq/beam_search_ops_test.py
  tensorflow_addons/seq2seq/decoder.py
  tensorflow_addons/seq2seq/decoder_test.py
  tensorflow_addons/seq2seq/loss.py
  tensorflow_addons/seq2seq/loss_test.py
  tensorflow_addons/seq2seq/sampler.py
Labels: cla: yes, metrics, seq2seq

#889 CLN: remove buildifier
  buildifier.1
Labels: cla: yes

#891 Added the buildifier to the gitignore.
  .gitignore
Labels: cla: yes

#890 FIX: sigmoid focal cross entropy model compile
  tensorflow_addons/losses/focal_loss.py
  tensorflow_addons/losses/focal_loss_test.py
Labels: cla: yes, losses

#887 Used pyupgrade on more and more files.
  build_deps/toolchains/gpu/find_cuda_config.py
  tools/ci_build/verify/check_file_name.py
Labels: build, cla: yes

#888 Used dict expension.
  tensorflow_addons/callbacks/time_stopping.py
  tensorflow_addons/callbacks/tqdm_progress_bar.py
  tensorflow_addons/layers/gelu.py
  tensorflow_addons/layers/maxout.py
  tensorflow_addons/layers/normalizations.py
  tensorflow_addons/layers/optical_flow.py
  tensorflow_addons/layers/poincare.py
  tensorflow_addons/layers/sparsemax.py
  tensorflow_addons/layers/tlu.py
  tensorflow_addons/layers/wrappers.py
  tensorflow_addons/losses/contrastive.py
  tensorflow_addons/losses/focal_loss.py
  tensorflow_addons/losses/lifted.py
  tensorflow_addons/losses/quantiles.py
  tensorflow_addons/losses/sparsemax_loss.py
  tensorflow_addons/losses/triplet.py
  tensorflow_addons/metrics/cohens_kappa.py
  tensorflow_addons/metrics/f_scores.py
  tensorflow_addons/metrics/matthews_correlation_coefficient.py
  tensorflow_addons/metrics/multilabel_confusion_matrix.py
  tensorflow_addons/metrics/utils.py
  tensorflow_addons/optimizers/average_wrapper.py
  tensorflow_addons/optimizers/conditional_gradient.py
  tensorflow_addons/optimizers/lookahead.py
  tensorflow_addons/optimizers/moving_average.py
  tensorflow_addons/optimizers/stochastic_weight_averaging.py
  tensorflow_addons/rnn/cell.py
  tensorflow_addons/seq2seq/attention_wrapper.py
Labels: callbacks, cla: yes, layers, losses, metrics, optimizers, seq2seq

#897 Fix deletion of futures.
  tensorflow_addons/__init__.py
Labels: cla: yes

#899 Moved the install of bazel into a separate script in macos.
  .github/workflows/ci_test.yml
  .github/workflows/macos_nightly.yml
  tools/ci_testing/install_bazel_macos.sh
Labels: cla: yes, github, test-cases

#907 Fix the macos build.
  .github/workflows/ci_test.yml
Labels: cla: yes, github

#908 Removing unused imports, cells and __future__ from the notebooks.
  docs/tutorials/_template.ipynb
  docs/tutorials/image_ops.ipynb
  docs/tutorials/layers_normalizations.ipynb
  docs/tutorials/layers_weightnormalization.ipynb
  docs/tutorials/losses_triplet.ipynb
  docs/tutorials/networks_seq2seq_nmt.ipynb
  docs/tutorials/optimizers_conditionalgradient.ipynb
  docs/tutorials/optimizers_lazyadam.ipynb
  docs/tutorials/time_stopping.ipynb
  docs/tutorials/tqdm_progress_bar.ipynb
Labels: cla: yes, documentation, tutorials

#910 Switch windows shell to bash
  .github/workflows/ci_test.yml
  .github/workflows/windows_nightly.yml
Labels: cla: yes, github

#911 Added a guide for open-source beginners.
  CONTRIBUTING.md
Labels: cla: yes

#917 FIX: Build with the correct python version
  tools/ci_build/builds/release_linux.sh
  tools/ci_build/builds/tf_auditwheel_patch.sh
  tools/ci_build/builds/wheel_verify.sh
Labels: build, cla: yes

#916 Custom metrics formatting in tqdm status bar
  tensorflow_addons/callbacks/tqdm_progress_bar.py
Labels: callbacks, cla: yes

#918 adding shun's github handle to callback maintainers list
  .github/CODEOWNERS
  README.md
Labels: cla: yes, github

#920 DOC: Update central README
  README.md
Labels: cla: yes, documentation

#894 Added types and typeguard.
  requirements.txt
  tensorflow_addons/layers/normalizations.py
  tensorflow_addons/utils/BUILD
  tensorflow_addons/utils/types.py
Labels: cla: yes, layers

#922 Fix Yogi import (#875) on r0.7 branch
  tensorflow_addons/optimizers/__init__.py
  tensorflow_addons/version.py
Labels: cla: yes, optimizers

#921 CLN: Move build pip pkg script from root directory
  BUILD
  build_deps/build_pip_pkg.sh
Labels: build, cla: yes

#923 Removed all usages of six
  tensorflow_addons/metrics/utils.py
  tensorflow_addons/optimizers/average_wrapper.py
  tensorflow_addons/optimizers/conditional_gradient_test.py
  tensorflow_addons/seq2seq/decoder.py
  tensorflow_addons/seq2seq/sampler.py
Labels: cla: yes, metrics, optimizers, seq2seq

#912 Target tensorflow stable instead of tensorflow-nightly.
  .github/workflows/macos_nightly.yml
  .github/workflows/ubuntu_nightly.yml
  .github/workflows/windows_nightly.yml
  README.md
  configure.sh
  docs/overview.md
  requirements.txt
Labels: cla: yes, documentation, github

#904 Used flake8 + no formatter instead of pep8 + pylint + yapf.
  .flake8
  .github/workflows/ci_test.yml
  .gitignore
  STYLE_GUIDE.md
  build_deps/toolchains/gpu/find_cuda_config.py
  tensorflow_addons/losses/focal_loss_test.py
  tensorflow_addons/metrics/cohens_kappa.py
  tensorflow_addons/optimizers/conditional_gradient_test.py
  tools/ci_build/ci_sanity.sh
  tools/ci_build/code_format.sh
  tools/ci_build/install/ci_requirements.txt
  tools/ci_build/pep8
  tools/ci_build/pylintrc
  tools/ci_build/yapfrc
Labels: build, cla: yes, discussion needed, github, losses, metrics, optimizers, style

#930 Fix: Remove descriptions about global_step in tfa.optimizers.{SGDW, AdamW}
  tensorflow_addons/optimizers/weight_decay_optimizers.py
Labels: cla: yes, optimizers

#933 BLD: Move builds and releases to GitHub actions
  .github/workflows/macos_nightly.yml
  .github/workflows/release.yml
  .github/workflows/ubuntu_nightly.yml
  .github/workflows/windows_nightly.yml
  .travis.yml
  tools/ci_build/builds/release_macos.sh
  tools/ci_build/builds/release_windows.sh
Labels: build, cla: yes, github

#937 Fix some typos; `tf.cumprod` => `tf.math.cumprod`
  build_deps/check_deps.py
  build_deps/toolchains/gpu/cuda_configure.bzl
  tensorflow_addons/activations/__init__.py
  tensorflow_addons/custom_ops/image/cc/kernels/adjust_hsv_in_yiq_op.cc
  tensorflow_addons/custom_ops/image/cc/kernels/adjust_hsv_in_yiq_op.h
  tensorflow_addons/custom_ops/image/cc/kernels/adjust_hsv_in_yiq_op_gpu.cu.cc
  tensorflow_addons/metrics/matthews_correlation_coefficient.py
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/basic_decoder.py
Labels: activations, build, cla: yes, custom-ops, metrics, seq2seq

#938 Ensuring flake8 is compatible with black.
  .flake8
Labels: cla: yes

#932 Enabling black progressively.
  .github/workflows/ci_test.yml
  .gitignore
  STYLE_GUIDE.md
  pyproject.toml
Labels: cla: yes, github, style

#944 DOC: Update central README
  README.md
Labels: cla: yes

#946 CLN: Remove pylint and yapf
  build_deps/toolchains/gpu/find_cuda_config.py
  setup.py
  tensorflow_addons/activations/hardshrink_test.py
  tensorflow_addons/activations/softshrink_test.py
  tensorflow_addons/image/connected_components_test.py
  tensorflow_addons/image/dense_image_warp.py
  tensorflow_addons/image/distance_transform_test.py
  tensorflow_addons/image/distort_image_ops.py
  tensorflow_addons/image/resampler_ops_test.py
  tensorflow_addons/image/transform_ops.py
  tensorflow_addons/image/transform_ops_test.py
  tensorflow_addons/image/utils.py
  tensorflow_addons/losses/lifted.py
  tensorflow_addons/losses/lifted_test.py
  tensorflow_addons/losses/metric_learning.py
  tensorflow_addons/losses/triplet_test.py
  tensorflow_addons/optimizers/average_wrapper.py
  tensorflow_addons/optimizers/conditional_gradient_test.py
  tensorflow_addons/optimizers/lazy_adam_test.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/seq2seq/beam_search_decoder_test.py
  tensorflow_addons/seq2seq/decoder.py
  tensorflow_addons/seq2seq/decoder_test.py
  tensorflow_addons/seq2seq/sampler.py
  tensorflow_addons/text/skip_gram_ops.py
  tensorflow_addons/utils/test_utils.py
Labels: activations, build, cla: yes, image, losses, optimizers, seq2seq, text

#947 BLD: Fix github actions build
  .github/workflows/ci_test.yml
  .github/workflows/macos_nightly.yml
  .github/workflows/release.yml
  .github/workflows/ubuntu_nightly.yml
  .github/workflows/windows_nightly.yml
  tools/ci_build/builds/release_macos.sh
  tools/ci_build/builds/wheel_verify.sh
Labels: build, cla: yes, github

#943 Added a small pre-commit hook for easier running of tools.
  STYLE_GUIDE.md
  tools/pre-commit.sh
Labels: cla: yes, style

#950 Removing dead code.
  tools/ci_build/builds/builds_common.sh
  tools/ci_build/install/ci_requirements.txt
  tools/ci_build/install/install_ci_dependency.sh
Labels: build, cla: yes

#929 Typing some layers.
  tensorflow_addons/layers/gelu.py
  tensorflow_addons/layers/maxout.py
  tensorflow_addons/layers/optical_flow.py
Labels: cla: yes, layers

#936 fixed tqdm progress bar tutorial and comments
  docs/tutorials/tqdm_progress_bar.ipynb
  tensorflow_addons/callbacks/tqdm_progress_bar.py
Labels: callbacks, cla: yes, documentation, tutorials

#953 Enable imported but unused rule.
  .flake8
  tensorflow_addons/utils/test_utils.py
Labels: cla: yes

#925 Enforce type info
  .github/workflows/ci_test.yml
  CONTRIBUTING.md
  setup.py
  tools/ci_build/verify/check_typing_info.py
Labels: activations, build, cla: yes, github

#955 Enabled rule "variable assigned but unused".
  .flake8
  tensorflow_addons/activations/sparsemax_test.py
  tensorflow_addons/image/interpolate_spline_test.py
  tensorflow_addons/layers/normalizations_test.py
  tensorflow_addons/layers/wrappers_test.py
  tensorflow_addons/losses/lifted_test.py
  tensorflow_addons/losses/sparsemax_loss_test.py
  tensorflow_addons/losses/triplet_test.py
  tensorflow_addons/optimizers/utils.py
  tensorflow_addons/seq2seq/basic_decoder_test.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
Labels: activations, cla: yes, image, layers, losses, optimizers, seq2seq

#957 Enabled rule about bare excepts
  .flake8
Labels: cla: yes

#931 Typing the lamb optimizer.
  tensorflow_addons/optimizers/lamb.py
  tensorflow_addons/utils/types.py
Labels: cla: yes, optimizers

#954 Enabling some flake8 rules
  .flake8
  tensorflow_addons/losses/focal_loss_test.py
  tensorflow_addons/optimizers/moving_average.py
  tensorflow_addons/optimizers/stochastic_weight_averaging.py
Labels: cla: yes, losses, optimizers

#928 Typing the gelu activation function.
  tensorflow_addons/activations/gelu.py
  tensorflow_addons/utils/types.py
Labels: activations, cla: yes

#956 Enabled rule use def, not lambda when assigning.
  .flake8
  tensorflow_addons/optimizers/conditional_gradient_test.py
  tensorflow_addons/optimizers/cyclical_learning_rate_test.py
  tensorflow_addons/optimizers/lamb_test.py
  tensorflow_addons/optimizers/lazy_adam_test.py
  tensorflow_addons/rnn/cell_test.py
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/basic_decoder_test.py
Labels: cla: yes, optimizers, seq2seq

#961 FIX: GitHub build
  .github/workflows/macos_nightly.yml
  .github/workflows/ubuntu_nightly.yml
  .github/workflows/windows_nightly.yml
  tools/ci_build/builds/tf_auditwheel_patch.sh
Labels: build, cla: yes, github

#960 Add black format to makefile
  makefile
  tools/ci_build/install/install_ci_dependency.sh
Labels: build, cla: yes

#962 Modify cron times for debug
  .github/workflows/macos_nightly.yml
  .github/workflows/ubuntu_nightly.yml
  .github/workflows/windows_nightly.yml
Labels: cla: yes, github

#963 Use symlink for pre-commit
  STYLE_GUIDE.md
  tools/pre-commit.sh
Labels: cla: yes, style

#926 Add AverageModelCheckpoint
  tensorflow_addons/callbacks/BUILD
  tensorflow_addons/callbacks/README.md
  tensorflow_addons/callbacks/__init__.py
  tensorflow_addons/callbacks/average_model_checkpoint.py
Labels: callbacks, cla: yes

#966 BLD: finalize GitHub action
  .github/workflows/ci_test.yml
  .github/workflows/macos_nightly.yml
  .github/workflows/manylinux_nightly.yml
  .github/workflows/release.yml
  .github/workflows/ubuntu_nightly.yml
  .github/workflows/windows_nightly.yml
  README.md
  tools/ci_build/builds/release_linux.sh
  tools/ci_build/builds/release_macos.sh
  tools/ci_build/builds/release_windows.sh
  tools/ci_build/builds/wheel_verify.sh
Labels: build, cla: yes, github

#939 Add files via upload
  configure.py
Labels: cla: yes

#959 Add triplet hard loss with soft margin
  tensorflow_addons/losses/__init__.py
  tensorflow_addons/losses/triplet.py
  tensorflow_addons/losses/triplet_test.py
Labels: cla: yes, losses

#973 BLD: Use python configuration script
  .github/workflows/macos_nightly.yml
  .github/workflows/release.yml
  .github/workflows/windows_nightly.yml
  CONTRIBUTING.md
  README.md
  build_deps/toolchains/gpu/cuda_configure.bzl
  configure.py
  configure.sh
  docs/overview.md
  tools/ci_build/builds/release_linux.sh
  tools/ci_build/ci_sanity.sh
  tools/ci_testing/addons_cpu.sh
  tools/ci_testing/addons_gpu.sh
  tools/run_docker.sh
Labels: build, cla: yes, documentation, github, test-cases

#975 typing activation functions
  tensorflow_addons/activations/hardshrink.py
  tensorflow_addons/activations/lisht.py
  tensorflow_addons/activations/mish.py
  tensorflow_addons/activations/rrelu.py
  tensorflow_addons/activations/softshrink.py
  tensorflow_addons/activations/sparsemax.py
  tensorflow_addons/activations/tanhshrink.py
  tools/ci_build/verify/check_typing_info.py
Labels: cla: yes

#974 BLD: Remove hard installation dep
  .flake8
  build_deps/build-requirements.txt
  build_deps/build_pip_pkg.sh
  build_deps/check_deps.py
  configure.py
  requirements.txt
  tensorflow_addons/__init__.py
  tensorflow_addons/utils/ensure_tf_install.py
  tools/ci_testing/addons_cpu.sh
  tools/ci_testing/addons_gpu.sh
Labels: build, cla: yes, test-cases

#972 Optimizer typing
  tensorflow_addons/optimizers/lazy_adam.py
  tensorflow_addons/optimizers/novograd.py
  tensorflow_addons/optimizers/rectified_adam.py
Labels: cla: yes, optimizers

#971 add typegurad and types
  tensorflow_addons/layers/poincare.py
  tensorflow_addons/layers/sparsemax.py
  tensorflow_addons/layers/tlu.py
  tools/ci_build/verify/check_typing_info.py
Labels: build, cla: yes, layers

#980 callbacks typingcheck
  tensorflow_addons/callbacks/time_stopping.py
  tensorflow_addons/callbacks/tqdm_progress_bar.py
  tools/ci_build/verify/check_typing_info.py
Labels: build, callbacks, cla: yes

#977 Clean up of configure.py
  configure.py
Labels: cla: yes

#979 Nicer API for configure.py
  .github/workflows/macos_nightly.yml
  .github/workflows/release.yml
  .github/workflows/windows_nightly.yml
  build_deps/check_deps.py
  configure.py
  tools/ci_build/builds/release_linux.sh
  tools/ci_build/ci_sanity.sh
  tools/ci_testing/addons_cpu.sh
  tools/ci_testing/addons_gpu.sh
Labels: build, cla: yes, github, test-cases

#985 Refactoring of configure.py
  configure.py
Labels: cla: yes

#967 Quick Fix for Time_Stopping Callback Bug
  tensorflow_addons/callbacks/time_stopping.py
Labels: callbacks, cla: yes

#981 Layers: typing cleanup
  tensorflow_addons/layers/wrappers.py
  tools/ci_build/verify/check_typing_info.py
Labels: build, cla: yes, layers

#997 Add new util file to BUILD
  tensorflow_addons/utils/BUILD
Labels: awaiting testing (then merge), cla: yes

#998 DOC: triplet loss tutorial json format
  docs/tutorials/losses_triplet.ipynb
Labels: cla: yes, documentation, tutorials
