Repository tensorflow/addons, pull requests merged in 2020-04, with the labels that each got.

#1519 Removed run_in_graph_and_eager_mode in contrastive_test
  tensorflow_addons/losses/contrastive_test.py
Labels: awaiting testing (then merge), cla: yes, losses

#1499 Remove the need to declare the tests in the build file in activations/
  tensorflow_addons/activations/BUILD
  tensorflow_addons/activations/README.md
  tensorflow_addons/activations/activations_test.py
  tensorflow_addons/activations/gelu_test.py
  tensorflow_addons/activations/hardshrink_test.py
  tensorflow_addons/activations/lisht_test.py
  tensorflow_addons/activations/mish_test.py
  tensorflow_addons/activations/rrelu_test.py
  tensorflow_addons/activations/run_all_test.py
  tensorflow_addons/activations/softshrink_test.py
  tensorflow_addons/activations/sparsemax_test.py
  tensorflow_addons/activations/tanhshrink_test.py
Labels: activations, cla: yes, discussion needed

#1515 Forgot to remove a tf.compat.v1 in some test running in eager mode.
  tensorflow_addons/layers/wrappers_test.py
Labels: cla: yes, layers

#1525 Use a minimal docker image to build wheels. Fix the master branch build.
  tools/docker/build_wheel.Dockerfile
Labels: cla: yes

#1527 Fix the flaky test in wrapper_test.py
  tensorflow_addons/layers/wrappers_test.py
Labels: cla: yes, layers

#1520 Removed run_in_graph_and_eager_mode in npairs_test
  tensorflow_addons/losses/npairs_test.py
Labels: awaiting testing (then merge), cla: yes, losses

#1521 Removed run_in_graph_and_eager_mode in quantiles
  tensorflow_addons/losses/quantiles_test.py
Labels: awaiting testing (then merge), cla: yes, losses

#1522 Moved test our ot run_in_graph_and_eager_mode in sparsemax_loss_test
  tensorflow_addons/losses/sparsemax_loss_test.py
Labels: awaiting testing (then merge), cla: yes, losses

#1507 Added a minimal check to ensure we don't use tf private API.
  .github/workflows/ci_test.yml
  CONTRIBUTING.md
  tensorflow_addons/utils/keras_utils.py
  tools/docker/sanity_check.Dockerfile
  tools/testing/check_file_name.py
  tools/testing/check_typing_info.py
  tools/testing/source_code_test.py
Labels: cla: yes, github, test-cases

#1524 Users don't need to declare the tests now in the image submodule.
  tensorflow_addons/image/BUILD
  tensorflow_addons/image/README.md
  tensorflow_addons/image/compose_ops_test.py
  tensorflow_addons/image/connected_components_test.py
  tensorflow_addons/image/cutout_ops_test.py
  tensorflow_addons/image/dense_image_warp_test.py
  tensorflow_addons/image/distance_transform_test.py
  tensorflow_addons/image/distort_image_ops_test.py
  tensorflow_addons/image/filters_test.py
  tensorflow_addons/image/interpolate_spline_test.py
  tensorflow_addons/image/resampler_ops_test.py
  tensorflow_addons/image/run_all_test.py
  tensorflow_addons/image/sparse_image_warp_test.py
  tensorflow_addons/image/transform_ops_test.py
  tensorflow_addons/image/translate_ops_test.py
  tensorflow_addons/image/utils_test.py
Labels: cla: yes, image

#1531 Remove the need of declaring the metrics tests in the BUILD.
  tensorflow_addons/metrics/BUILD
  tensorflow_addons/metrics/README.md
  tensorflow_addons/metrics/cohens_kappa_test.py
  tensorflow_addons/metrics/f_test.py
  tensorflow_addons/metrics/hamming_test.py
  tensorflow_addons/metrics/matthews_correlation_coefficient_test.py
  tensorflow_addons/metrics/metrics_test.py
  tensorflow_addons/metrics/multilabel_confusion_matrix_test.py
  tensorflow_addons/metrics/r_square_test.py
  tensorflow_addons/metrics/run_all_test.py
Labels: cla: yes, metrics

#1529 Remove the need to declare loss tests in BUILD
  tensorflow_addons/losses/BUILD
  tensorflow_addons/losses/README.md
  tensorflow_addons/losses/contrastive_test.py
  tensorflow_addons/losses/focal_loss_test.py
  tensorflow_addons/losses/giou_loss_test.py
  tensorflow_addons/losses/lifted_test.py
  tensorflow_addons/losses/metric_test.py
  tensorflow_addons/losses/npairs_test.py
  tensorflow_addons/losses/quantiles_test.py
  tensorflow_addons/losses/run_all_test.py
  tensorflow_addons/losses/sparsemax_loss_test.py
  tensorflow_addons/losses/triplet_test.py
Labels: cla: yes, losses

#1528 Remove the need to declare layers tests in BUILD.
  tensorflow_addons/layers/BUILD
  tensorflow_addons/layers/README.md
  tensorflow_addons/layers/gelu_test.py
  tensorflow_addons/layers/maxout_test.py
  tensorflow_addons/layers/multihead_attention_test.py
  tensorflow_addons/layers/netvlad_test.py
  tensorflow_addons/layers/normalizations_test.py
  tensorflow_addons/layers/optical_flow_test.py
  tensorflow_addons/layers/poincare_test.py
  tensorflow_addons/layers/polynomial_test.py
  tensorflow_addons/layers/run_all_test.py
  tensorflow_addons/layers/sparsemax_test.py
  tensorflow_addons/layers/tlu_test.py
  tensorflow_addons/layers/wrappers_test.py
Labels: cla: yes, layers

#1523 Moved test out of run_in_graph_and_eager_mode in triplet_test
  tensorflow_addons/losses/triplet_test.py
Labels: cla: yes, losses

#1535 Bump test to tf2.2-rc2
  .github/workflows/ci_test.yml
  .github/workflows/release.yml
Labels: cla: yes, github

#1536 Pin pypi github action
  .github/workflows/release.yml
Labels: backport r0.8, cla: yes, github

#1537 Do not fail fast for pypi upload
  .github/workflows/release.yml
Labels: backport r0.8, cla: yes, github

#1538 Remove the need to declare text tests in BUILD
  tensorflow_addons/text/BUILD
  tensorflow_addons/text/README.md
  tensorflow_addons/text/crf_test.py
  tensorflow_addons/text/parse_time_op_test.py
  tensorflow_addons/text/run_all_test.py
  tensorflow_addons/text/skip_gram_ops_test.py
Labels: cla: yes, text

#1540 Moved test out of run_in_graph_and_eager_mode in triplet_test
  tensorflow_addons/losses/triplet_test.py
Labels: cla: yes, losses

#1533 Remove the need to declare optimizers tests in the BUILD.
  tensorflow_addons/optimizers/BUILD
  tensorflow_addons/optimizers/README.md
  tensorflow_addons/optimizers/cyclical_learning_rate_test.py
  tensorflow_addons/optimizers/lamb_test.py
  tensorflow_addons/optimizers/lazy_adam_test.py
  tensorflow_addons/optimizers/lookahead_test.py
  tensorflow_addons/optimizers/moving_average_test.py
  tensorflow_addons/optimizers/novograd_test.py
  tensorflow_addons/optimizers/rectified_adam_test.py
  tensorflow_addons/optimizers/run_all_test.py
  tensorflow_addons/optimizers/stochastic_weight_averaging_test.py
  tensorflow_addons/optimizers/weight_decay_optimizers_test.py
  tensorflow_addons/optimizers/yogi_test.py
Labels: cla: yes, optimizers

#1547 Remove the need to declare seq2seq tests in the BUILD
  tensorflow_addons/seq2seq/BUILD
  tensorflow_addons/seq2seq/README.md
  tensorflow_addons/seq2seq/attention_wrapper_test.py
  tensorflow_addons/seq2seq/basic_decoder_test.py
  tensorflow_addons/seq2seq/beam_search_decoder_test.py
  tensorflow_addons/seq2seq/beam_search_ops_test.py
  tensorflow_addons/seq2seq/decoder_test.py
  tensorflow_addons/seq2seq/loss_test.py
  tensorflow_addons/seq2seq/run_all_test.py
Labels: cla: yes, seq2seq

#1546 Moved test out of run_in_graph_and_eager_mode in conditional_gradient
  tensorflow_addons/optimizers/conditional_gradient_test.py
Labels: awaiting testing (then merge), cla: yes, optimizers

#1545 Moved test out of run_in_graph_and_eager_mode in sparsemax_loss
  tensorflow_addons/losses/sparsemax_loss_test.py
Labels: awaiting testing (then merge), cla: yes, losses

#1551 Reoved tests out of run_in_graph_and_eager_mode in interpolate spline
  tensorflow_addons/image/interpolate_spline_test.py
Labels: cla: yes, image

#1550 Moved tests out of run_in_graph_and_eager_mode in distance transorm
  tensorflow_addons/image/distance_transform_test.py
Labels: cla: yes, image

#1549 Moved tests out of run_in_graph_and_eager_mode in distor image ops
  tensorflow_addons/image/distort_image_ops_test.py
Labels: cla: yes, image

#1548 Moved tests out of run_in_graph_and_eager_mode in connected component
  tensorflow_addons/image/connected_components_test.py
Labels: cla: yes, image

#1532 Fix LAMB optimizer regex parsing
  tensorflow_addons/optimizers/lamb.py
  tensorflow_addons/optimizers/lamb_test.py
Labels: backport r0.8, cla: yes, optimizers

#1555 [Backport r0.8] Fix LAMB optimizer regex parsing
  tensorflow_addons/optimizers/lamb.py
  tensorflow_addons/optimizers/lamb_test.py
Labels: cla: no, optimizers

#1541 [Backport r0.8] Pin pypi github action
  .github/workflows/release.yml
Labels: cla: no, github

#1557 Update version.py
  tensorflow_addons/version.py
Labels: cla: yes

#1552 Reoved tests out of run_in_graph_and_eager_mode in sparse image warp
  tensorflow_addons/image/sparse_image_warp_test.py
Labels: cla: yes, image

#1559 Trying to fix the release.
  .github/workflows/release.yml
Labels: cla: yes, github

#1560 Update version.py
  tensorflow_addons/version.py
Labels: cla: yes

#1565 To be consistent with other tests in BUILD
  tensorflow_addons/rnn/BUILD
  tensorflow_addons/rnn/README.md
  tensorflow_addons/rnn/cell_test.py
  tensorflow_addons/rnn/run_all_test.py
Labels: cla: yes

#1561 Removed tests out of run_in_graph_and_eager_mode in distor image ops
  tensorflow_addons/image/distort_image_ops_test.py
Labels: cla: yes, image

#1566 Add **kwargs to apply_gradients in weight_decay_optimizers.
  tensorflow_addons/optimizers/weight_decay_optimizers.py
  tensorflow_addons/optimizers/weight_decay_optimizers_test.py
Labels: cla: yes, optimizers

#1568 Added extensive tests for the tqdm progress bar.
  tensorflow_addons/callbacks/BUILD
  tensorflow_addons/callbacks/README.md
  tensorflow_addons/callbacks/run_all_test.py
  tensorflow_addons/callbacks/tqdm_progress_bar_test.py
  tools/install_deps/pytest.txt
Labels: callbacks, cla: yes

#1564 Moved tests out of run_in_graph_and_eager_mode in sparsemax loss
  tensorflow_addons/losses/sparsemax_loss_test.py
Labels: cla: yes, losses

#1295 Add testing module, with an function `check_metric_serialization`
  tensorflow_addons/BUILD
  tensorflow_addons/metrics/BUILD
  tensorflow_addons/metrics/cohens_kappa.py
  tensorflow_addons/metrics/cohens_kappa_test.py
  tensorflow_addons/testing/BUILD
  tensorflow_addons/testing/__init__.py
  tensorflow_addons/testing/run_all_test.py
  tensorflow_addons/testing/serialization.py
  tensorflow_addons/testing/serialization_test.py
Labels: cla: yes, metrics

#1543 Added tests for the time stopping callback
  tensorflow_addons/callbacks/time_stopping_test.py
Labels: callbacks, cla: yes

#1562 Update documentation regarding compatibility
  README.md
Labels: cla: yes

#1569 Moved tests out of run_in_graph_and_eager_mode in resampler ops
  tensorflow_addons/image/resampler_ops_test.py
Labels: awaiting testing (then merge), cla: yes, image

#1570 Removed tests out of run_in_graph_and_eager_mode in sparsemax loss
  tensorflow_addons/losses/sparsemax_loss_test.py
Labels: cla: yes, losses

#1571 Removing tests out of run_in_graph_and_eager_mode in conditional_gradient
  tensorflow_addons/optimizers/conditional_gradient_test.py
Labels: awaiting testing (then merge), cla: yes, optimizers

#1576 Moved test out of run_in_graph_and_eager_mode in lamb test
  tensorflow_addons/optimizers/lamb_test.py
Labels: cla: yes, optimizers

#1577 Moved test out of run_in_graph_and_eager_mode in conditional_gradient
  tensorflow_addons/optimizers/conditional_gradient_test.py
Labels: awaiting testing (then merge), cla: yes, optimizers

#1578 Moved test out of run_in_graph_and_eager_mode in lamb test
  tensorflow_addons/optimizers/lamb_test.py
Labels: cla: yes, optimizers

#1579 Moved test out of run_in_graph_and_eager_mode in conditional_gradient
  tensorflow_addons/optimizers/conditional_gradient_test.py
Labels: cla: yes, optimizers

#1573 Remove the need to declare source files in the BUILD of activations
  tensorflow_addons/activations/BUILD
  tensorflow_addons/activations/README.md
  tensorflow_addons/activations/tests/__init__.py
  tensorflow_addons/activations/tests/activations_test.py
  tensorflow_addons/activations/tests/gelu_test.py
  tensorflow_addons/activations/tests/hardshrink_test.py
  tensorflow_addons/activations/tests/lisht_test.py
  tensorflow_addons/activations/tests/mish_test.py
  tensorflow_addons/activations/tests/rrelu_test.py
  tensorflow_addons/activations/tests/run_all_test.py
  tensorflow_addons/activations/tests/softshrink_test.py
  tensorflow_addons/activations/tests/sparsemax_test.py
  tensorflow_addons/activations/tests/tanhshrink_test.py
Labels: activations, cla: yes

#1580 Moved tests out of run_in_graph_and_eager_mode in lamb
  tensorflow_addons/optimizers/lamb_test.py
Labels: awaiting testing (then merge), cla: yes, optimizers

#1582 [DOC] Fix broken link
  tensorflow_addons/activations/README.md
Labels: activations, cla: yes

#1584 Remove the need to declare the layer source file in BUILD.
  tensorflow_addons/layers/BUILD
  tensorflow_addons/layers/README.md
  tensorflow_addons/layers/tests/__init__.py
  tensorflow_addons/layers/tests/gelu_test.py
  tensorflow_addons/layers/tests/maxout_test.py
  tensorflow_addons/layers/tests/multihead_attention_test.py
  tensorflow_addons/layers/tests/netvlad_test.py
  tensorflow_addons/layers/tests/normalizations_test.py
  tensorflow_addons/layers/tests/optical_flow_test.py
  tensorflow_addons/layers/tests/poincare_test.py
  tensorflow_addons/layers/tests/polynomial_test.py
  tensorflow_addons/layers/tests/run_all_test.py
  tensorflow_addons/layers/tests/sparsemax_test.py
  tensorflow_addons/layers/tests/tlu_test.py
  tensorflow_addons/layers/tests/wrappers_test.py
Labels: cla: yes, layers

#1583 Removed the need to declare image source files in BUILD.
  tensorflow_addons/image/BUILD
  tensorflow_addons/image/README.md
  tensorflow_addons/image/tests/__init__.py
  tensorflow_addons/image/tests/color_ops_test.py
  tensorflow_addons/image/tests/compose_ops_test.py
  tensorflow_addons/image/tests/connected_components_test.py
  tensorflow_addons/image/tests/cutout_ops_test.py
  tensorflow_addons/image/tests/dense_image_warp_test.py
  tensorflow_addons/image/tests/distance_transform_test.py
  tensorflow_addons/image/tests/distort_image_ops_test.py
  tensorflow_addons/image/tests/filters_test.py
  tensorflow_addons/image/tests/interpolate_spline_test.py
  tensorflow_addons/image/tests/resampler_ops_test.py
  tensorflow_addons/image/tests/run_all_test.py
  tensorflow_addons/image/tests/sparse_image_warp_test.py
  tensorflow_addons/image/tests/test_data/Yellow_Smiley_Face.png
  tensorflow_addons/image/tests/test_data/Yellow_Smiley_Face_Warp-interp-1-clamp-0.png
  tensorflow_addons/image/tests/test_data/Yellow_Smiley_Face_Warp-interp-1-clamp-1.png
  tensorflow_addons/image/tests/test_data/Yellow_Smiley_Face_Warp-interp-1-clamp-4.png
  tensorflow_addons/image/tests/test_data/Yellow_Smiley_Face_Warp-interp-2-clamp-0.png
  tensorflow_addons/image/tests/test_data/Yellow_Smiley_Face_Warp-interp-2-clamp-1.png
  tensorflow_addons/image/tests/test_data/Yellow_Smiley_Face_Warp-interp-2-clamp-4.png
  tensorflow_addons/image/tests/test_data/Yellow_Smiley_Face_Warp-interp-3-clamp-0.png
  tensorflow_addons/image/tests/test_data/Yellow_Smiley_Face_Warp-interp-3-clamp-1.png
  tensorflow_addons/image/tests/test_data/Yellow_Smiley_Face_Warp-interp-3-clamp-4.png
  tensorflow_addons/image/tests/transform_ops_test.py
  tensorflow_addons/image/tests/translate_ops_test.py
  tensorflow_addons/image/tests/utils_test.py
Labels: cla: yes, image

#1581 Removed the need to declare sources files of callbacks in BUILD.
  tensorflow_addons/callbacks/BUILD
  tensorflow_addons/callbacks/README.md
  tensorflow_addons/callbacks/tests/__init__.py
  tensorflow_addons/callbacks/tests/run_all_test.py
  tensorflow_addons/callbacks/tests/time_stopping_test.py
  tensorflow_addons/callbacks/tests/tqdm_progress_bar_test.py
Labels: callbacks, cla: yes

#1587 Removed tests out of run_in_graph_and_eager_mode in lookahead
  tensorflow_addons/optimizers/lookahead_test.py
Labels: cla: yes, optimizers

#1586 Moved tests out of run_in_graph_and_eager_mode in conditional gradient
  tensorflow_addons/optimizers/conditional_gradient_test.py
Labels: cla: yes, optimizers

#1585 Removed tests out of run_in_graph_and_eager_mode in lamb test
  tensorflow_addons/optimizers/lamb_test.py
Labels: cla: yes, optimizers

#1589 Remove the need to declare metrics source files in BUILD.
  tensorflow_addons/metrics/BUILD
  tensorflow_addons/metrics/README.md
  tensorflow_addons/metrics/tests/__init__.py
  tensorflow_addons/metrics/tests/cohens_kappa_test.py
  tensorflow_addons/metrics/tests/f_test.py
  tensorflow_addons/metrics/tests/hamming_test.py
  tensorflow_addons/metrics/tests/matthews_correlation_coefficient_test.py
  tensorflow_addons/metrics/tests/metrics_test.py
  tensorflow_addons/metrics/tests/multilabel_confusion_matrix_test.py
  tensorflow_addons/metrics/tests/r_square_test.py
  tensorflow_addons/metrics/tests/run_all_test.py
Labels: cla: yes, metrics

#1588 Remove the need to declare losses sources files in BUILD.
  tensorflow_addons/losses/BUILD
  tensorflow_addons/losses/README.md
  tensorflow_addons/losses/tests/__init__.py
  tensorflow_addons/losses/tests/contrastive_test.py
  tensorflow_addons/losses/tests/focal_loss_test.py
  tensorflow_addons/losses/tests/giou_loss_test.py
  tensorflow_addons/losses/tests/lifted_test.py
  tensorflow_addons/losses/tests/metric_test.py
  tensorflow_addons/losses/tests/npairs_test.py
  tensorflow_addons/losses/tests/quantiles_test.py
  tensorflow_addons/losses/tests/run_all_test.py
  tensorflow_addons/losses/tests/sparsemax_loss_test.py
  tensorflow_addons/losses/tests/triplet_test.py
Labels: cla: yes, losses

#1591 Remove the need to declare sources files of seq2seq and rnn in BUILD.
  tensorflow_addons/rnn/BUILD
  tensorflow_addons/rnn/README.md
  tensorflow_addons/rnn/tests/__init__.py
  tensorflow_addons/rnn/tests/cell_test.py
  tensorflow_addons/rnn/tests/run_all_test.py
  tensorflow_addons/seq2seq/BUILD
  tensorflow_addons/seq2seq/README.md
  tensorflow_addons/seq2seq/tests/__init__.py
  tensorflow_addons/seq2seq/tests/attention_wrapper_test.py
  tensorflow_addons/seq2seq/tests/basic_decoder_test.py
  tensorflow_addons/seq2seq/tests/beam_search_decoder_test.py
  tensorflow_addons/seq2seq/tests/beam_search_ops_test.py
  tensorflow_addons/seq2seq/tests/decoder_test.py
  tensorflow_addons/seq2seq/tests/loss_test.py
  tensorflow_addons/seq2seq/tests/run_all_test.py
Labels: cla: yes, seq2seq

#1595 Fix TQDM Progress bar in TF 2.2.0
  tensorflow_addons/callbacks/tests/tqdm_progress_bar_test.py
  tensorflow_addons/callbacks/tqdm_progress_bar.py
Labels: callbacks, cla: yes

#1596 Moved tests out of run_in_graph_and_eager_mode in conditional gradient
  tensorflow_addons/optimizers/conditional_gradient_test.py
Labels: awaiting testing (then merge), cla: yes, optimizers

#1598 Added 3.8 for tf-nightly in the readme.
  README.md
Labels: cla: yes

#1592 Remove the need to declare source files of testing and text in BUILD.
  tensorflow_addons/testing/BUILD
  tensorflow_addons/testing/tests/__init__.py
  tensorflow_addons/testing/tests/run_all_test.py
  tensorflow_addons/testing/tests/serialization_test.py
  tensorflow_addons/text/BUILD
  tensorflow_addons/text/README.md
  tensorflow_addons/text/tests/__init__.py
  tensorflow_addons/text/tests/crf_test.py
  tensorflow_addons/text/tests/parse_time_op_test.py
  tensorflow_addons/text/tests/run_all_test.py
  tensorflow_addons/text/tests/skip_gram_ops_test.py
Labels: cla: yes, text

#1544 Add checks for code quality: usage of tf.compat.v1 and experimental APIs
  tools/testing/source_code_test.py
Labels: cla: yes, test-cases

#1594 quantile_test.py is not run at all with bazel #1202
  tensorflow_addons/losses/quantiles.py
  tensorflow_addons/losses/tests/quantiles_test.py
Labels: cla: yes, losses

#1601 Fix master branch
  tensorflow_addons/BUILD
  tensorflow_addons/optimizers/BUILD
  tensorflow_addons/optimizers/README.md
  tensorflow_addons/optimizers/tests/__init__.py
  tensorflow_addons/optimizers/tests/conditional_gradient_test.py
  tensorflow_addons/optimizers/tests/cyclical_learning_rate_test.py
  tensorflow_addons/optimizers/tests/lamb_test.py
  tensorflow_addons/optimizers/tests/lazy_adam_test.py
  tensorflow_addons/optimizers/tests/lookahead_test.py
  tensorflow_addons/optimizers/tests/moving_average_test.py
  tensorflow_addons/optimizers/tests/novograd_test.py
  tensorflow_addons/optimizers/tests/rectified_adam_test.py
  tensorflow_addons/optimizers/tests/run_all_test.py
  tensorflow_addons/optimizers/tests/stochastic_weight_averaging_test.py
  tensorflow_addons/optimizers/tests/weight_decay_optimizers_test.py
  tensorflow_addons/optimizers/tests/yogi_test.py
  tensorflow_addons/tests/__init__.py
  tensorflow_addons/tests/register_test.py
  tensorflow_addons/tests/run_all_test.py
  tensorflow_addons/utils/BUILD
  tensorflow_addons/utils/tests/__init__.py
  tensorflow_addons/utils/tests/keras_utils_test.py
  tensorflow_addons/utils/tests/run_all_test.py
  tools/testing/source_code_test.py
Labels: cla: yes, optimizers, test-cases

#1597 Moved tests out of run_in_graph_and_eager_mode in moving avearge
  tensorflow_addons/optimizers/tests/moving_average_test.py
Labels: awaiting testing (then merge), cla: yes, optimizers

#1602 Moved tests out of run_in_graph_and_eager_mode in conditional gradient
  tensorflow_addons/optimizers/tests/conditional_gradient_test.py
Labels: cla: yes, optimizers

#1452 add sharpness
  tensorflow_addons/image/color_ops.py
  tensorflow_addons/image/tests/color_ops_test.py
Labels: cla: yes, image

#1603 Moved tests out of run_in_graph_and_eager_mode in moving average
  tensorflow_addons/optimizers/tests/moving_average_test.py
Labels: cla: yes, optimizers

#1604 Moved tests out of run_in_graph_and_eager_mode in conditional gradient
  tensorflow_addons/optimizers/tests/conditional_gradient_test.py
Labels: cla: yes, optimizers

#1605 Moved tests out of run_in_graph_and_eager_mode in novograd
  tensorflow_addons/optimizers/tests/novograd_test.py
Labels: cla: yes, optimizers

#1606 Fixed one of the tests in cyclical learning rate.
  tensorflow_addons/optimizers/tests/cyclical_learning_rate_test.py
Labels: cla: yes, optimizers

#1608 Moved tests out of run_in_graph_and_eager_mode in novograd
  tensorflow_addons/optimizers/tests/novograd_test.py
Labels: cla: yes, optimizers

#1610 Removed tests out of run_in_graph_and_eager_mode in conditional gradient
  tensorflow_addons/optimizers/tests/conditional_gradient_test.py
Labels: awaiting testing (then merge), cla: yes, optimizers

#1611 Removed tests out of run_in_graph_and_eager_mode in recitified adam
  tensorflow_addons/optimizers/tests/rectified_adam_test.py
Labels: cla: yes, optimizers

#1609 Fixed another test in cyclical lr.
  tensorflow_addons/optimizers/tests/cyclical_learning_rate_test.py
Labels: cla: yes, optimizers

#1616 Select correct OS for python wheel uploads
  .github/workflows/release.yml
Labels: backport r0.9, cla: yes, github

#1614 Bump version 0.10 on master
  tensorflow_addons/version.py
Labels: cla: yes

#1621 [Backport r0.9] Select correct OS for python wheel uploads
  .github/workflows/release.yml
Labels: cla: no, github

#1613 Update 0.9 Version for release
  tensorflow_addons/version.py
Labels: cla: yes

#1619 Unify nightly version number
  .github/workflows/make_wheel_Linux.sh
  .github/workflows/release.yml
  README.md
  setup.py
  tools/docker/build_wheel.Dockerfile
Labels: cla: yes, github

#1615 Removed tests out of run_in_graph_and_eager_mode in stochastic weight…
  tensorflow_addons/optimizers/tests/stochastic_weight_averaging_test.py
Labels: cla: yes, optimizers

#1618 Removed tests out of run_in_graph_and_eager_mode in yogi test
  tensorflow_addons/optimizers/tests/yogi_test.py
Labels: cla: yes, optimizers

#1622 Fix the build badges on the central README
  README.md
Labels: cla: yes

#1607 Fixed the codeowners file.
  .github/CODEOWNERS
  tensorflow_addons/metrics/tests/f_scores_test.py
  tools/testing/source_code_test.py
Labels: cla: yes, github, metrics, test-cases

#1623 Fixed serialization and test for a learning rate scheduler.
  tensorflow_addons/optimizers/cyclical_learning_rate.py
  tensorflow_addons/optimizers/tests/cyclical_learning_rate_test.py
Labels: backport r0.9, cla: yes, optimizers

#1625 Fix gpu build custom ops
  .github/workflows/make_wheel_Windows.sh
  .github/workflows/make_wheel_macOS.sh
  configure.py
  tools/docker/build_wheel.Dockerfile
  tools/docker/gpu_tests.Dockerfile
  tools/releases/release_linux.sh
  tools/testing/addons_gpu.sh
  tools/testing/build_and_run_tests.sh
Labels: backport r0.9, build, cla: yes, github, test-cases

#1627 [Backport r0.9] Fix gpu build custom ops
  .github/workflows/make_wheel_Windows.sh
  .github/workflows/make_wheel_macOS.sh
  configure.py
  tools/docker/build_wheel.Dockerfile
  tools/docker/gpu_tests.Dockerfile
  tools/releases/release_linux.sh
  tools/testing/addons_gpu.sh
  tools/testing/build_and_run_tests.sh
Labels: build, cla: no, github, test-cases

#1624 [Backport r0.9] Fixed serialization and test for a learning rate scheduler.
  tensorflow_addons/optimizers/cyclical_learning_rate.py
  tensorflow_addons/optimizers/tests/cyclical_learning_rate_test.py
Labels: cla: no, optimizers

#1630 [Backport r0.9] Fixed the codeowners file.
  .github/CODEOWNERS
  tensorflow_addons/metrics/tests/f_scores_test.py
  tools/testing/source_code_test.py
Labels: cla: no, github, metrics, test-cases

#1626 Removed tests out of graph mode in weight decay optimizer test
  tensorflow_addons/optimizers/tests/weight_decay_optimizers_test.py
Labels: cla: yes, optimizers

#1634 Fix configure.py (fixes the gpu build hanging).
  README.md
  configure.py
Labels: backport r0.9, cla: yes

#1637 [Backport r0.9] Fix configure.py (fixes the gpu build hanging).
  README.md
  configure.py
Labels: cla: no

#1636 Removed some elements from the deprecated_v1 blacklist.
  tools/testing/source_code_test.py
Labels: cla: yes, test-cases

#1638 Update version.py
  tensorflow_addons/version.py
Labels: cla: yes

#1633 Simplify the build.
  tools/docker/build_wheel.Dockerfile
  tools/docker/gpu_tests.Dockerfile
  tools/releases/release_linux.sh
  tools/run_gpu_tests.sh
Labels: build, cla: yes

#1640 Used python all the time instead of python3.
  .github/workflows/make_wheel_macOS.sh
  build_deps/build_pip_pkg.sh
  build_deps/toolchains/gpu/cuda_configure.bzl
  tools/docker/build_wheel.Dockerfile
  tools/releases/tf_auditwheel_patch.sh
  tools/testing/build_and_run_tests.sh
Labels: build, cla: yes, github, test-cases

#1643 Remove run all in eager and graph mode in rnn cell
  tensorflow_addons/rnn/tests/cell_test.py
Labels: cla: yes

#1651 Remove cell_test.py from the blacklist of tf.compat.v1.
  tools/testing/source_code_test.py
Labels: cla: yes, test-cases

#1635 Remove run all in eager and graph mode in cyclical learning rate.
  tensorflow_addons/optimizers/tests/cyclical_learning_rate_test.py
Labels: cla: yes, optimizers

#1650 Ensure in the CI that the naming of variables, classes and functions respects pep8
  .flake8
  tensorflow_addons/layers/tests/normalizations_test.py
  tensorflow_addons/losses/tests/sparsemax_loss_test.py
  tensorflow_addons/optimizers/tests/weight_decay_optimizers_test.py
  tensorflow_addons/rnn/tests/cell_test.py
  tools/install_deps/flake8.txt
Labels: cla: yes, layers, losses, optimizers

#1652 Added a simple release template.
  .github/workflows/release-drafter.yml
  .github/workflows/release-template.yml
Labels: cla: yes, github

#1642 Update compatibility matrix
  README.md
Labels: cla: yes

#762 Add Soft Weighted Kappa Loss
  .github/CODEOWNERS
  tensorflow_addons/losses/__init__.py
  tensorflow_addons/losses/kappa_loss.py
  tensorflow_addons/losses/tests/kappa_loss_test.py
Labels: awaiting testing (then merge), cla: yes, github, losses

#1654 Fix the release template.
  .github/release-template.yml
  .github/workflows/release-drafter.yml
Labels: cla: yes, github

#1659 Request samples in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: cla: yes

#1657 Fixing the flaky cell test.
  tensorflow_addons/conftest.py
  tensorflow_addons/rnn/tests/cell_test.py
  tensorflow_addons/utils/test_utils.py
  tensorflow_addons/utils/tests/test_utils_test.py
Labels: cla: yes

#1663 Removed tests out of run_in_graph_and_eager_mode in decoder
  tensorflow_addons/seq2seq/tests/decoder_test.py
Labels: awaiting testing (then merge), cla: yes, seq2seq

#1664 Removed tests out of run_in_graph_and_eager_mode in skip gram ops
  tensorflow_addons/text/tests/skip_gram_ops_test.py
Labels: cla: yes, text

#1658 Remove run_all_in_graph_and_eager_mode in f_score_test.py
  tensorflow_addons/metrics/tests/f_scores_test.py
Labels: cla: yes, metrics

#1649 Added TQDM Progressbar for evaluate()
  tensorflow_addons/callbacks/tests/tqdm_progress_bar_test.py
  tensorflow_addons/callbacks/tqdm_progress_bar.py
Labels: callbacks, cla: yes

#1669 Fix typo: tutoral -> tutorial
  CONTRIBUTING.md
Labels: cla: yes

#1644 Update year and delete unnecessary tensorflow magic in _template.ipynb
  docs/tutorials/_template.ipynb
Labels: cla: yes, documentation, tutorials

#1660 Removed run_all_in_graph_and_eager_mode in crf test.
  .flake8
  tensorflow_addons/text/tests/crf_test.py
Labels: cla: yes, text

#1670 Moved run_all_in_graph_and_eager_mode in basic decoder
  tensorflow_addons/seq2seq/tests/basic_decoder_test.py
Labels: awaiting testing (then merge), cla: yes, seq2seq

#1673 Partially fix for gpus in kokoro
  tools/run_gpu_tests.sh
  tools/testing/build_and_run_tests.sh
Labels: cla: yes, test-cases

#1677 Fixing the gpu build.
  tools/docker/build_wheel.Dockerfile
  tools/testing/build_and_run_tests.sh
Labels: cla: yes, test-cases

#1648 Remove tf.test.TestCase in beam search ops
  tensorflow_addons/seq2seq/tests/beam_search_ops_test.py
Labels: cla: yes, seq2seq

#1674 Added demo of TQDMProgressBar() for evaluate()
  docs/tutorials/tqdm_progress_bar.ipynb
Labels: cla: yes, documentation, tutorials

#1680 Remove the cleaning of the cache to speed up the build.
  tools/docker/build_wheel.Dockerfile
Labels: cla: yes

#1681 Enable pytest-xdist when nvidia-smi is not found.
  tensorflow_addons/rnn/tests/cell_test.py
  tools/testing/build_and_run_tests.sh
Labels: cla: yes, test-cases

#1678 Fix two testing functions and move out tf.test
  tensorflow_addons/seq2seq/tests/basic_decoder_test.py
Labels: awaiting testing (then merge), cla: yes, seq2seq

#1667 Added tests for AverageModelCheckpoint() callback
  tensorflow_addons/callbacks/tests/avg_model_checkpoint_test.py
Labels: awaiting testing (then merge), callbacks, cla: yes

#1684 Remove tf.test.TestCase in basic decoder
  tensorflow_addons/seq2seq/tests/basic_decoder_test.py
Labels: awaiting testing (then merge), cla: yes, seq2seq

#1671 Test the release wheels in a docker build step.
  .github/workflows/make_wheel_Linux.sh
  .github/workflows/release.yml
  tools/docker/build_wheel.Dockerfile
Labels: awaiting testing (then merge), cla: yes, github, test-cases

#1666 Fast failing test in ci
  .github/workflows/ci_test.yml
  CONTRIBUTING.md
  tensorflow_addons/conftest.py
  tensorflow_addons/tests/register_test.py
  tensorflow_addons/utils/resource_loader.py
  tensorflow_addons/utils/test_utils.py
Labels: cla: yes, github

#1672 Enable ppc64le build
  build_deps/toolchains/gpu/crosstool/BUILD.tpl
Labels: build, cla: yes

#1685 Update to rc3 with py38 for all OS
  .github/workflows/ci_test.yml
  .github/workflows/release.yml
Labels: cla: yes, github

#1599 Moved tests out of run_in_graph_and_eager_mode in lazy adam
  tensorflow_addons/optimizers/tests/lazy_adam_test.py
Labels: awaiting testing (then merge), cla: yes, optimizers

#1689 Removed run_all_in_graph_and_eager_mode in sparsemax.
  tensorflow_addons/activations/tests/sparsemax_test.py
Labels: activations, cla: yes

#1690 Removed run_all_in_graph_and_eager_mode in multihead_attention.
  tensorflow_addons/layers/tests/multihead_attention_test.py
Labels: cla: yes, layers

#1691 Removed run_all_in_graph_and_eager_mode in cohens_kappa.
  tensorflow_addons/metrics/tests/cohens_kappa_test.py
Labels: cla: yes, metrics

#1692 Removed run_all_in_graph_and_eager_mode in hamming.
  tensorflow_addons/metrics/tests/hamming_test.py
Labels: cla: yes, metrics

#1695 Removed run_all_in_graph_and_eager_mode in beam search decoder
  tensorflow_addons/seq2seq/tests/beam_search_decoder_test.py
Labels: awaiting testing (then merge), cla: yes, seq2seq

#1572 Added stronger serialization test for F1 score.
  tensorflow_addons/metrics/f_scores.py
  tensorflow_addons/metrics/tests/f_scores_test.py
  tensorflow_addons/testing/serialization.py
Labels: cla: yes, metrics

#1698 support bfloat16 for assert_allclose_according_to_type
  tensorflow_addons/utils/test_utils.py
Labels: cla: yes

#1693 Removed run_all_in_graph_and_eager_mode in matthews correlation coef.
  tensorflow_addons/metrics/tests/matthews_correlation_coefficient_test.py
Labels: cla: yes, metrics

#1639 Moved some functions out of run_all_in_graph_and_eager_mode in attention_wrapper_test.py.
  tensorflow_addons/seq2seq/tests/attention_wrapper_test.py
Labels: cla: yes, seq2seq

#1696 Fix hamming tests.
  tensorflow_addons/metrics/tests/hamming_test.py
Labels: cla: yes, metrics

#1694 Removed run_all_in_graph_and_eager_mode multilable confusion matrix.
  tensorflow_addons/metrics/tests/multilabel_confusion_matrix_test.py
Labels: cla: yes, metrics

#1683 Added float16 and bfloat16 support for TripletSemiHardLoss, TripletHardLoss and LiftedStructLoss
  tensorflow_addons/losses/lifted.py
  tensorflow_addons/losses/tests/lifted_test.py
  tensorflow_addons/losses/tests/triplet_test.py
  tensorflow_addons/losses/triplet.py
Labels: cla: yes, losses

#1662 Removed run_all_in_graph_and_eager_mode from resampler_ops_test.py
  tensorflow_addons/image/tests/resampler_ops_test.py
Labels: cla: yes, image

#1686 Moved one test function out of "run_deprecated_v1"
  tensorflow_addons/optimizers/tests/lazy_adam_test.py
Labels: cla: yes, optimizers

#1687 Removed a run_deprecated_v1 in lazy adam.
  tensorflow_addons/optimizers/tests/lazy_adam_test.py
Labels: cla: yes, optimizers

#1705 Finish the conversion of lazy adam to pytest.
  tensorflow_addons/optimizers/tests/lazy_adam_test.py
  tensorflow_addons/utils/test_utils.py
Labels: cla: yes, optimizers

#1699 Silence memset warning
  tensorflow_addons/custom_ops/image/cc/kernels/resampler_ops.cc
Labels: cla: yes, custom-ops

#1707 Match tf.test assertion tolerance
  tensorflow_addons/losses/tests/metric_test.py
Labels: cla: yes, losses
