Repository tensorflow/addons, pull requests merged in 2020-05, with the labels that each got.

#1763 Pin pip version for ubuntu build env
  tools/docker/build_wheel.Dockerfile
Labels: cla: yes

#1713 Device selection with pytest.
  CONTRIBUTING.md
  tensorflow_addons/activations/tests/gelu_test.py
  tensorflow_addons/conftest.py
  tensorflow_addons/image/tests/resampler_ops_test.py
  tensorflow_addons/image/tests/transform_ops_test.py
  tensorflow_addons/layers/tests/optical_flow_test.py
  tensorflow_addons/metrics/tests/metrics_test.py
  tensorflow_addons/optimizers/tests/lazy_adam_test.py
  tensorflow_addons/seq2seq/tests/beam_search_ops_test.py
  tensorflow_addons/utils/test_utils.py
  tools/testing/build_and_run_tests.sh
Labels: activations, cla: yes, image, layers, metrics, optimizers, seq2seq, test-cases

#1766 Remove some useless builds.
  .github/workflows/ci_test.yml
Labels: cla: yes, github

#1730 Added angular distance option to triplet loss
  tensorflow_addons/losses/metric_learning.py
  tensorflow_addons/losses/tests/triplet_test.py
  tensorflow_addons/losses/triplet.py
Labels: cla: yes, losses

#1768 Use commit SHA for unverified actions
  .github/workflows/backport.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
Labels: cla: yes, github

#1759 Bump dependency to tf2.2rc4
  .github/workflows/release.yml
  CONTRIBUTING.md
  tools/docker/cpu_tests.Dockerfile
  tools/install_deps/tensorflow-cpu.txt
  tools/install_deps/tensorflow.txt
  tools/run_gpu_tests.sh
Labels: cla: yes, github

#1773 Better names for parametrize.
  tensorflow_addons/conftest.py
  tensorflow_addons/utils/test_utils.py
Labels: cla: yes

#1776 Get rid of private api for cutout
  tensorflow_addons/image/cutout_ops.py
  tools/testing/source_code_test.py
Labels: awaiting testing (then merge), cla: yes, image, test-cases

#1778 Fix master and enable all builds.
  .github/workflows/release.yml
  tools/docker/build_wheel.Dockerfile
Labels: cla: yes, github

#1774 Add a small script to change version
  .github/workflows/release.yml
  tools/update_release_version.sh
Labels: cla: yes, github

#1771 Make gaussian filter meet scipy's implementation
  tensorflow_addons/image/filters.py
  tensorflow_addons/image/tests/filters_test.py
Labels: cla: yes, image

#1751 Accept passing maximum_iterations as a Tensor
  tensorflow_addons/seq2seq/decoder.py
  tensorflow_addons/seq2seq/tests/decoder_test.py
Labels: cla: yes, seq2seq

#1804 Add pip-wheel-metadata to gitignore
  .gitignore
Labels: cla: yes

#905 refact with Generator
  tensorflow_addons/activations/rrelu.py
  tensorflow_addons/activations/tests/rrelu_test.py
Labels: activations, cla: yes

#1791 Added the DepreciationWarning for the custom op version of activations functions
  tensorflow_addons/activations/gelu.py
  tensorflow_addons/activations/hardshrink.py
  tensorflow_addons/activations/lisht.py
  tensorflow_addons/activations/mish.py
  tensorflow_addons/activations/softshrink.py
  tensorflow_addons/activations/tanhshrink.py
Labels: activations, backport r0.9, cla: yes

#1806 Create new type for Optimizer
  tensorflow_addons/optimizers/average_wrapper.py
  tensorflow_addons/optimizers/lookahead.py
  tensorflow_addons/optimizers/moving_average.py
  tensorflow_addons/optimizers/stochastic_weight_averaging.py
  tensorflow_addons/utils/types.py
Labels: cla: yes, optimizers

#1814 Minor fix of rnn test path
  CONTRIBUTING.md
Labels: cla: yes

#1799 Prohibit the use of tf.control_dependencies.
  tools/testing/source_code_test.py
Labels: cla: yes, test-cases

#1798 Prohibiting the use of tf.cond in the codebase.
  tools/testing/source_code_test.py
Labels: cla: yes, test-cases

#1792 Bump the tensorflow version to 2.2.0 stable.
  .github/workflows/release.yml
  CONTRIBUTING.md
  tools/docker/cpu_tests.Dockerfile
  tools/install_deps/tensorflow-cpu.txt
  tools/install_deps/tensorflow.txt
  tools/run_gpu_tests.sh
Labels: cla: yes, github

#1819 Update 0.9 branch release streategy
  .github/workflows/make_wheel_Windows.sh
  .github/workflows/make_wheel_macOS.sh
  .github/workflows/release.yml
  tools/docker/build_wheel.Dockerfile
  tools/install_deps/bazel_macos.sh
Labels: cla: yes, github

#1767 Use the mark for the gpu tests in conditional_gradient_test.py
  CONTRIBUTING.md
  tensorflow_addons/conftest.py
  tensorflow_addons/optimizers/tests/conditional_gradient_test.py
  tensorflow_addons/utils/test_utils.py
Labels: cla: yes, optimizers

#1818 added test for normalize_data_format in keras_utils
  tensorflow_addons/utils/tests/keras_utils_test.py
Labels: cla: yes

#1817 Clarify flow definition for dense_image_warp
  tensorflow_addons/image/dense_image_warp.py
Labels: cla: yes, image

#1827 Expose sharpness
  tensorflow_addons/image/__init__.py
Labels: cla: yes, image

#1830 Fix condition tracing in scale_channel
  tensorflow_addons/image/color_ops.py
Labels: cla: yes, image

#1816 add sample_weight support to FScore metrics
  tensorflow_addons/metrics/f_scores.py
  tensorflow_addons/metrics/tests/f_scores_test.py
Labels: cla: yes, metrics

#1833 Update version.py
  tensorflow_addons/version.py
Labels: cla: yes

#1834 Bump version to 0.11
  tensorflow_addons/version.py
Labels: cla: yes

#1835 Update compatibility matrices
  README.md
Labels: cla: yes

#1838 Fix Cohen kappa
  tensorflow_addons/metrics/cohens_kappa.py
Labels: cla: yes, metrics

#1837 Add python3.8 to package classifiers
  setup.py
Labels: backport r0.10, cla: yes

#1836 Speedup sharpness
  tensorflow_addons/image/color_ops.py
Labels: cla: yes, image

#1807 Remove `sequential_update` from AverageWrapper
  tensorflow_addons/optimizers/average_wrapper.py
  tensorflow_addons/optimizers/tests/moving_average_test.py
Labels: cla: yes, optimizers

#1847 Fix ill-formatted doc in image
  tensorflow_addons/image/dense_image_warp.py
  tensorflow_addons/image/distort_image_ops.py
  tensorflow_addons/image/resampler_ops.py
  tensorflow_addons/image/sparse_image_warp.py
Labels: cla: yes, image

#1848 Remove squadrick from subpackage CODEOWNERS
  .github/CODEOWNERS
Labels: cla: yes, github

#1842 Translate x and y in only one call
  tensorflow_addons/image/translate_ops.py
Labels: cla: yes, image

#1841 [Backport r0.10] Add python3.8 to package classifiers
  setup.py
Labels: cla: no

#1844 README fixes and consistency improvements
  README.md
Labels: cla: yes

#1849 Decorate _update_multi_class_model
  tensorflow_addons/metrics/cohens_kappa.py
Labels: cla: yes, metrics

#1857 Increase default pip timeout to improve CI reliability
  .github/workflows/ci_test.yml
  .github/workflows/make_wheel_Windows.sh
  .github/workflows/make_wheel_macOS.sh
  .github/workflows/release.yml
  tools/docker/build_wheel.Dockerfile
  tools/docker/cpu_tests.Dockerfile
  tools/docker/sanity_check.Dockerfile
Labels: cla: yes, github

#1811 Added echo state network (ESN) recurrent cell
  .github/CODEOWNERS
  tensorflow_addons/rnn/__init__.py
  tensorflow_addons/rnn/cell.py
  tensorflow_addons/rnn/tests/cell_test.py
Labels: cla: yes, github

#1852 Enable half and double for resampler GPU ops
  tensorflow_addons/custom_ops/image/cc/kernels/resampler_ops.cc
  tensorflow_addons/custom_ops/image/cc/kernels/resampler_ops_gpu.cu.cc
Labels: cla: yes, custom-ops

#1851 Use AsDeviceMemory from StreamExecutorUtil
  tensorflow_addons/custom_ops/image/cc/kernels/adjust_hsv_in_yiq_op_gpu.cu.cc
Labels: cla: yes, custom-ops

#1812 remove internal modules
  tensorflow_addons/losses/contrastive.py
  tensorflow_addons/losses/focal_loss.py
  tensorflow_addons/losses/giou_loss.py
  tensorflow_addons/losses/lifted.py
  tensorflow_addons/losses/quantiles.py
  tensorflow_addons/losses/triplet.py
  tensorflow_addons/utils/keras_utils.py
  tools/testing/source_code_test.py
Labels: cla: yes, losses, test-cases

#1861 Ensure cell state structure is unchanged on first AttentionWrapper call
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/tests/attention_wrapper_test.py
Labels: cla: yes, seq2seq

#1795 Incorporate low-rank techniques into DCN.
  tensorflow_addons/layers/polynomial.py
  tensorflow_addons/layers/tests/polynomial_test.py
Labels: cla: yes, layers

#1871 Remove RAdam optional float total steps
  tensorflow_addons/optimizers/rectified_adam.py
Labels: cla: yes, optimizers

#1872 Fix AttentionWrapper type annotation for multiple attention mechanisms
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/tests/attention_wrapper_test.py
Labels: cla: yes, seq2seq

#1840 fix #1824
  tensorflow_addons/image/cutout_ops.py
  tensorflow_addons/image/tests/cutout_ops_test.py
Labels: cla: yes, image

#1878 fix docstring in focal loss
  tensorflow_addons/losses/focal_loss.py
Labels: cla: yes, losses

#1876 Remove manual type checks and fix some annotations
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/basic_decoder.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/seq2seq/sampler.py
Labels: backport r0.10, cla: yes, seq2seq

#1882 [Backport r0.10] Ensure cell state structure is unchanged on first AttentionWrapper call
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/tests/attention_wrapper_test.py
Labels: cla: no, seq2seq

#1880 [Backport r0.10] Fix AttentionWrapper type annotation for multiple attention mechanisms
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/tests/attention_wrapper_test.py
Labels: cla: no, seq2seq

#1879 [Backport r0.10] Remove manual type checks and fix some annotations
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/basic_decoder.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/seq2seq/sampler.py
Labels: cla: no, seq2seq

#1881 Move docker image to new namespace
  tools/docker/build_wheel.Dockerfile
Labels: cla: yes

#1855 Enable some compiler optimalization tricks for correlation cost GPU ops
  tensorflow_addons/custom_ops/layers/cc/kernels/correlation_cost_op_gpu.cu.cc
Labels: cla: yes, custom-ops

#1883 Update to 10.1 on release branch
  tensorflow_addons/version.py
Labels: cla: yes

#1886 Update and fix tutorials
  docs/tutorials/average_optimizers_callback.ipynb
  docs/tutorials/image_ops.ipynb
  docs/tutorials/layers_normalizations.ipynb
  docs/tutorials/layers_weightnormalization.ipynb
  docs/tutorials/losses_triplet.ipynb
  docs/tutorials/networks_seq2seq_nmt.ipynb
  docs/tutorials/optimizers_conditionalgradient.ipynb
  docs/tutorials/optimizers_lazyadam.ipynb
  docs/tutorials/time_stopping.ipynb
  docs/tutorials/tqdm_progress_bar.ipynb
Labels: backport r0.10, cla: yes, documentation, tutorials

#1887 [Backport r0.10] Update and fix tutorials
  docs/tutorials/average_optimizers_callback.ipynb
  docs/tutorials/image_ops.ipynb
  docs/tutorials/layers_normalizations.ipynb
  docs/tutorials/layers_weightnormalization.ipynb
  docs/tutorials/losses_triplet.ipynb
  docs/tutorials/networks_seq2seq_nmt.ipynb
  docs/tutorials/optimizers_conditionalgradient.ipynb
  docs/tutorials/optimizers_lazyadam.ipynb
  docs/tutorials/time_stopping.ipynb
  docs/tutorials/tqdm_progress_bar.ipynb
Labels: cla: no, documentation, tutorials

#1889 Remove workaround for TensorFlow < 2.2
  tensorflow_addons/seq2seq/loss.py
Labels: cla: yes, seq2seq

#1890 Clarify cell argument docstring in decoder objects
  tensorflow_addons/seq2seq/basic_decoder.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
Labels: cla: yes, seq2seq

#1891 Update shape usage to TensorFlow 2 style
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/seq2seq/decoder.py
  tensorflow_addons/seq2seq/loss.py
  tensorflow_addons/seq2seq/sampler.py
  tensorflow_addons/seq2seq/tests/attention_wrapper_test.py
  tensorflow_addons/seq2seq/tests/basic_decoder_test.py
  tensorflow_addons/seq2seq/tests/beam_search_decoder_test.py
  tensorflow_addons/seq2seq/tests/decoder_test.py
Labels: cla: yes, seq2seq

#1899 typo
  docs/tutorials/networks_seq2seq_nmt.ipynb
Labels: cla: yes, documentation, tutorials

#1895 Fix MultiHeadAttention docs
  tensorflow_addons/layers/multihead_attention.py
Labels: cla: yes, layers

#1862 Add Echo State Network (ESN) layer
  .github/CODEOWNERS
  tensorflow_addons/layers/BUILD
  tensorflow_addons/layers/__init__.py
  tensorflow_addons/layers/esn.py
  tensorflow_addons/layers/tests/esn_test.py
Labels: cla: yes, github, layers
