Repository tensorflow/addons, pull requests merged in 2020-11, with the labels that each got.

#2208 Standardized Testing for All Optimizers
  tensorflow_addons/optimizers/tests/standard_test.py
Labels: cla: yes, optimizers

#2156 Update migration strategy
  MIGRATION_TO_CORE.md
Labels: cla: yes

#2219 Support empty batches in ResamplerOp
  tensorflow_addons/custom_ops/image/cc/kernels/resampler_ops.cc
  tensorflow_addons/image/tests/resampler_ops_test.py
Labels: cla: yes, custom-ops, image

#2226 Update testing dependency
  tools/install_deps/pytest.txt
Labels: cla: yes

#2225 Fix Windows Nightly
  .github/workflows/release.yml
Labels: cla: yes, github

#2224 Drop TF2.2 compatibility
  .github/workflows/release.yml
  README.md
Labels: cla: yes, github

#2230 Fix building on raspberry pi
  configure.py
Labels: cla: yes

#2236 Fix typo in test_keras_binary_classification_model() name
  tensorflow_addons/metrics/tests/cohens_kappa_test.py
Labels: cla: yes, metrics

#2241 Change GroupNormalization default groups to 32.
  tensorflow_addons/layers/normalizations.py
  tensorflow_addons/layers/tests/normalizations_test.py
Labels: cla: yes, layers

#2243 Fix typo and example
  tensorflow_addons/metrics/cohens_kappa.py
Labels: cla: yes, metrics

#2244 Slightly increase tolerance from 1e-7 to 1e-6 in gradient test
  tensorflow_addons/image/tests/transform_ops_test.py
Labels: cla: yes, image

#2218 Update cuda config for CUDA11.1
  build_deps/toolchains/gpu/cuda_configure.bzl
  build_deps/toolchains/gpu/find_cuda_config.py
Labels: build, cla: yes

#2247 Remove custom op activations
  tensorflow_addons/activations/BUILD
  tensorflow_addons/activations/gelu.py
  tensorflow_addons/activations/hardshrink.py
  tensorflow_addons/activations/lisht.py
  tensorflow_addons/activations/mish.py
  tensorflow_addons/activations/softshrink.py
  tensorflow_addons/activations/tanhshrink.py
  tensorflow_addons/activations/tests/gelu_test.py
  tensorflow_addons/activations/tests/hardshrink_test.py
  tensorflow_addons/activations/tests/lisht_test.py
  tensorflow_addons/activations/tests/mish_test.py
  tensorflow_addons/activations/tests/softshrink_test.py
  tensorflow_addons/activations/tests/tanhshrink_test.py
  tensorflow_addons/custom_ops/activations/BUILD
  tensorflow_addons/custom_ops/activations/cc/kernels/gelu_op.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/gelu_op.h
  tensorflow_addons/custom_ops/activations/cc/kernels/gelu_op_gpu.cu.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/hardshrink_op.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/hardshrink_op.h
  tensorflow_addons/custom_ops/activations/cc/kernels/hardshrink_op_gpu.cu.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/lisht_op.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/lisht_op.h
  tensorflow_addons/custom_ops/activations/cc/kernels/lisht_op_gpu.cu.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/mish_op.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/mish_op.h
  tensorflow_addons/custom_ops/activations/cc/kernels/mish_op_gpu.cu.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/softshrink_op.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/softshrink_op.h
  tensorflow_addons/custom_ops/activations/cc/kernels/softshrink_op_gpu.cu.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/tanhshrink_op.cc
  tensorflow_addons/custom_ops/activations/cc/kernels/tanhshrink_op.h
  tensorflow_addons/custom_ops/activations/cc/kernels/tanhshrink_op_gpu.cu.cc
  tensorflow_addons/custom_ops/activations/cc/ops/gelu_op.cc
  tensorflow_addons/custom_ops/activations/cc/ops/hardshrink_op.cc
  tensorflow_addons/custom_ops/activations/cc/ops/lisht_op.cc
  tensorflow_addons/custom_ops/activations/cc/ops/mish_op.cc
  tensorflow_addons/custom_ops/activations/cc/ops/softshrink_op.cc
  tensorflow_addons/custom_ops/activations/cc/ops/tanhshrink_op.cc
  tools/install_so_files.sh
Labels: activations, cla: yes, custom-ops

#2248 Remove deprecated data_format
  tensorflow_addons/image/color_ops.py
  tensorflow_addons/image/cutout_ops.py
  tensorflow_addons/image/tests/cutout_ops_test.py
Labels: cla: yes, image

#2249 Remove deprecated sequential update
  tensorflow_addons/callbacks/tests/avg_model_checkpoint_test.py
  tensorflow_addons/optimizers/average_wrapper.py
  tensorflow_addons/optimizers/moving_average.py
  tensorflow_addons/optimizers/stochastic_weight_averaging.py
Labels: callbacks, cla: yes, optimizers

#2229 Fixes MCC during graph execution.
  tensorflow_addons/metrics/matthews_correlation_coefficient.py
  tensorflow_addons/metrics/tests/matthews_correlation_coefficient_test.py
Labels: cla: yes, metrics

#2162 Expose tfa.types doc
  tensorflow_addons/__init__.py
  tensorflow_addons/image/__init__.py
  tensorflow_addons/metrics/__init__.py
  tensorflow_addons/optimizers/__init__.py
  tensorflow_addons/text/__init__.py
  tools/docs/build_docs.py
  tools/install_deps/doc_requirements.txt
Labels: cla: yes, documentation, image, metrics, optimizers, text

#2233 Standardized Testing Module
  tensorflow_addons/optimizers/tests/standard_test.py
  tensorflow_addons/utils/test_utils.py
Labels: cla: yes, optimizers

#2254 Replace with tf.config.run_functions_eagerly
  CONTRIBUTING.md
  tensorflow_addons/activations/README.md
  tensorflow_addons/callbacks/README.md
  tensorflow_addons/image/README.md
  tensorflow_addons/layers/README.md
  tensorflow_addons/losses/README.md
  tensorflow_addons/metrics/README.md
  tensorflow_addons/optimizers/README.md
  tensorflow_addons/rnn/README.md
  tensorflow_addons/seq2seq/README.md
  tensorflow_addons/text/README.md
  tensorflow_addons/utils/test_utils.py
Labels: activations, callbacks, cla: yes, image, layers, losses, metrics, optimizers, seq2seq, text
