Repository tensorflow/addons, pull requests merged in 2020-06, with the labels that each got.

#1901 fix - in multhead_attention, correct the location where key & value shapes are checked
  tensorflow_addons/layers/multihead_attention.py
Labels: cla: yes, layers

#1904 Fixup returned cell state structure in BeamSearchDecoder
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/seq2seq/tests/beam_search_decoder_test.py
Labels: cla: yes, seq2seq

#1905 Fixup returned cell state structure in BasicDecoder
  tensorflow_addons/seq2seq/basic_decoder.py
  tensorflow_addons/seq2seq/tests/basic_decoder_test.py
Labels: cla: yes, seq2seq

#1770 Enable distributed strategies in tests.
  CONTRIBUTING.md
  tensorflow_addons/conftest.py
  tensorflow_addons/optimizers/tests/conditional_gradient_test.py
  tensorflow_addons/optimizers/tests/lamb_test.py
  tensorflow_addons/optimizers/tests/weight_decay_optimizers_test.py
  tensorflow_addons/optimizers/tests/yogi_test.py
  tensorflow_addons/utils/test_utils.py
  tensorflow_addons/utils/tests/test_utils_test.py
Labels: cla: yes, layers, optimizers

#1745 Implementation of Spatial Pyramid Pooling
  .github/CODEOWNERS
  tensorflow_addons/layers/__init__.py
  tensorflow_addons/layers/spatial_pyramid_pooling.py
  tensorflow_addons/layers/tests/spatial_pyramid_pooling_test.py
Labels: cla: yes, github, layers

#1917 Allow resetting embedding_fn when calling BeamSearchDecoder
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/seq2seq/tests/beam_search_decoder_test.py
Labels: cla: yes, seq2seq

#1916 Add missing documentation for some output tuples
  tensorflow_addons/seq2seq/basic_decoder.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
Labels: cla: yes, seq2seq

#1921 Use a tf.function with an input signature instead of tf.placeholder
  tensorflow_addons/seq2seq/tests/beam_search_decoder_test.py
Labels: cla: yes, seq2seq

#1914 use raw ops
  tensorflow_addons/image/transform_ops.py
Labels: cla: yes, image

#1928 Fix typo in docstring of CohenKappa __init__
  tensorflow_addons/metrics/cohens_kappa.py
Labels: cla: yes, metrics

#1929 Add a fixture to test both the custom and py ops
  tensorflow_addons/activations/tests/gelu_test.py
  tensorflow_addons/activations/tests/hardshrink_test.py
  tensorflow_addons/activations/tests/lisht_test.py
  tensorflow_addons/activations/tests/mish_test.py
  tensorflow_addons/activations/tests/softshrink_test.py
  tensorflow_addons/conftest.py
  tensorflow_addons/utils/BUILD
  tensorflow_addons/utils/test_utils.py
Labels: activations, cla: yes

#1930 Remove 0 as a valid value for maximum_iterations
  tensorflow_addons/seq2seq/decoder.py
  tensorflow_addons/seq2seq/tests/decoder_test.py
Labels: cla: yes, seq2seq

#1932 Use informative list names
  .github/workflows/notify_codeowners.py
  tools/testing/source_code_test.py
Labels: cla: yes, github, test-cases

#1805 Remove tf.control_dependencies from SWA
  tensorflow_addons/optimizers/stochastic_weight_averaging.py
  tools/testing/source_code_test.py
Labels: cla: yes, optimizers, test-cases

#1924 Add experimental_aggregate_gradients support
  tensorflow_addons/optimizers/lookahead.py
  tensorflow_addons/optimizers/tests/lookahead_test.py
Labels: cla: yes, optimizers, test-cases

#1726 MovingAverage: add dynamic decay and swap weights
  tensorflow_addons/optimizers/moving_average.py
  tensorflow_addons/optimizers/tests/moving_average_test.py
Labels: cla: yes, optimizers

#1943 temp bypass gpu test mixed_precision
  tensorflow_addons/optimizers/tests/lookahead_test.py
Labels: cla: yes, optimizers

#1941 Fix docstring with incorrect API usage
  tensorflow_addons/losses/focal_loss.py
Labels: cla: yes, losses

#1925 Add a Python alternative to seq2seq.gather_tree
  tensorflow_addons/seq2seq/BUILD
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/seq2seq/tests/beam_search_decoder_test.py
  tensorflow_addons/seq2seq/tests/beam_search_ops_test.py
Labels: cla: yes, seq2seq

#1947 Crf decode cell serialize functions
  tensorflow_addons/text/crf.py
  tensorflow_addons/text/tests/crf_test.py
Labels: cla: yes, text

#1944 Move the tf.keras.layers.PeepholeLSTMCell to tfa
  tensorflow_addons/rnn/__init__.py
  tensorflow_addons/rnn/cell.py
  tensorflow_addons/rnn/tests/cell_test.py
  tools/testing/source_code_test.py
Labels: cla: yes, test-cases

#1952 Fix numerical typo in the examples
  tensorflow_addons/layers/multihead_attention.py
Labels: cla: yes, layers

#1955 Cleanup multiline comments that were reformatted in a single line
  tensorflow_addons/seq2seq/attention_wrapper.py
  tensorflow_addons/seq2seq/loss.py
  tensorflow_addons/seq2seq/sampler.py
Labels: cla: yes, seq2seq

#1954 Update list of files using tf.compat.v1 symbols
  tools/testing/source_code_test.py
Labels: cla: yes, test-cases

#1958 Fixes up a typo in ContrastiveLoss `name` identifier.
  tensorflow_addons/losses/contrastive.py
Labels: cla: yes, losses
