Repository tensorflow/addons, pull requests merged in 2021-12, with the labels that each got.

#2621 Fix typo in average optimizers callback
  docs/tutorials/average_optimizers_callback.ipynb
Labels: tutorials, documentation

#2623 Improve CI testing and release process
  .bazeliskrc
  .bazelversion
  tools/docker/build_wheel.Dockerfile
  tools/docker/cpu_tests.Dockerfile
  tools/docker/sanity_check.Dockerfile
  tools/releases/tf_auditwheel_patch.sh
Labels: build

#2619 Save exclude_from_weight_decay in config for LAMB
  tensorflow_addons/optimizers/lamb.py
Labels: optimizers, cla: yes

#2634 Use same tf-macos version
  .github/workflows/release.yml
Labels: github, backport r0.15

#2627 Pin mac build environment's OS version
  .github/workflows/release.yml
  build_deps/build_pip_pkg.sh
Labels: build, github

#2515 Utilize SIG Build Docker Images
  .github/workflows/release.yml
  tools/build_dev_container.sh
  tools/docker/build_wheel.Dockerfile
  tools/docker/dev_container.Dockerfile
Labels: cla: yes, github

#2133 Making the bot more secure by using the pull_request_target event.
  .github/workflows/ci_test.yml
  .github/workflows/notify_codeowners.py
  .github/workflows/notify_codeowners.yml
Labels: cla: yes, github

#2641 🐛 Fix the CI job validating the codeowners
  .github/workflows/ci_test.yml
  .github/workflows/validate_codeowners.yml
Labels: github
