Repository tensorflow/addons, pull requests merged in 2021-05, with the labels that each got.

#2467 Fix NovoGrad optimizer to work with float64 layers
  tensorflow_addons/optimizers/novograd.py
  tensorflow_addons/optimizers/tests/novograd_test.py
Labels: cla: yes, optimizers

#2471 fix wrong type hinting of `crf_log_likelihood`
  tensorflow_addons/text/crf.py
Labels: cla: yes, text

#2475 Correcting the order
  docs/tutorials/networks_seq2seq_nmt.ipynb
Labels: cla: yes, documentation, tutorials

#2063 Adding COntinuos COin Betting (COCOB) Backprop optimizer
  .github/CODEOWNERS
  tensorflow_addons/optimizers/__init__.py
  tensorflow_addons/optimizers/cocob.py
  tensorflow_addons/optimizers/tests/cocob_test.py
Labels: cla: yes, github, optimizers

#2441 Build against TF2.5
  .github/workflows/release.yml
  CONTRIBUTING.md
  build_deps/toolchains/gcc7_manylinux2010-nvcc-cuda11/BUILD
  build_deps/toolchains/gcc7_manylinux2010-nvcc-cuda11/clang/bin/crosstool_wrapper_driver_is_not_gcc
  configure.py
  tensorflow_addons/text/crf.py
  tensorflow_addons/text/tests/crf_test.py
  tensorflow_addons/utils/resource_loader.py
  tensorflow_addons/version.py
  tools/build_dev_container.sh
  tools/docker/build_wheel.Dockerfile
  tools/docker/cpu_tests.Dockerfile
  tools/install_deps/pytest.txt
  tools/install_deps/tensorflow-cpu.txt
  tools/install_deps/tensorflow.txt
  tools/run_gpu_tests.sh
Labels: build, cla: yes, github, text

#2477 Initialized `lr` with a small value
  tensorflow_addons/optimizers/cocob.py
Labels: cla: yes, optimizers

#2478 Update version.py
  tensorflow_addons/version.py
Labels: cla: yes

#2479 Update Compatibility Matrix
  README.md
Labels: cla: yes

#2480 Bump master branch to 0.14
  tensorflow_addons/version.py
Labels: cla: yes

#2481 Update PyPI Py Versions
  setup.py
Labels: cla: yes

#2482 Update pypi versions - 0.13
  setup.py
Labels: cla: yes

#2483 Update 0.13 Patch Version
  tensorflow_addons/version.py
Labels: cla: yes

#2352 EmbeddingBag op and layer
  .github/CODEOWNERS
  tensorflow_addons/custom_ops/layers/BUILD
  tensorflow_addons/custom_ops/layers/cc/kernels/embedding_bag_backward_kernels.cu.cc
  tensorflow_addons/custom_ops/layers/cc/kernels/embedding_bag_ops.cc
  tensorflow_addons/custom_ops/layers/cc/kernels/embedding_bag_ops.h
  tensorflow_addons/custom_ops/layers/cc/kernels/embedding_bag_ops_gpu.cu.cc
  tensorflow_addons/custom_ops/layers/cc/ops/embedding_bag_ops.cc
  tensorflow_addons/layers/BUILD
  tensorflow_addons/layers/__init__.py
  tensorflow_addons/layers/embedding_bag.py
  tensorflow_addons/layers/tests/embedding_bag_test.py
Labels: cla: yes, custom-ops, github, layers

#2487 build fix Raspberry Pi 4 Linux ARM64
  configure.py
Labels: cla: yes
