Repository tensorflow/addons, pull requests merged in 2021-01, with the labels that each got.

#2329 Improve version check variable names
  setup.py
  tensorflow_addons/utils/ensure_tf_install.py
  tensorflow_addons/utils/resource_loader.py
  tensorflow_addons/version.py
Labels: cla: yes

#2335 Fix FilterResponseNormalization save
  tensorflow_addons/layers/normalizations.py
  tensorflow_addons/layers/tests/normalizations_test.py
Labels: cla: yes, layers

#2288 Implement Harmonic Mean and add tests
  tensorflow_addons/metrics/__init__.py
  tensorflow_addons/metrics/harmonic_mean.py
  tensorflow_addons/metrics/tests/harmonic_mean_test.py
Labels: cla: yes, ecosystem-review, metrics

#2338 Independent Gaussian noise
  .github/CODEOWNERS
  tensorflow_addons/layers/noisy_dense.py
  tensorflow_addons/layers/tests/noisy_dense_test.py
Labels: cla: yes, github, layers

#2342 Calcuate decay once per step instead once per variable #moving_average
  tensorflow_addons/optimizers/average_wrapper.py
  tensorflow_addons/optimizers/moving_average.py
  tensorflow_addons/optimizers/stochastic_weight_averaging.py
Labels: cla: yes, optimizers

#2345 Fix focal loss casting.
  tensorflow_addons/losses/focal_loss.py
  tensorflow_addons/losses/tests/focal_loss_test.py
Labels: cla: yes, losses

#2344 Add experimental_implements attribute to dense_image_warp
  tensorflow_addons/image/dense_image_warp.py
  tools/testing/source_code_test.py
Labels: cla: yes, image, test-cases

#2348 Handle the case when mask size is larger than the image size in
  tensorflow_addons/image/cutout_ops.py
  tensorflow_addons/image/tests/cutout_ops_test.py
Labels: cla: yes, image

#2353 Add note to remove the function
  tensorflow_addons/image/dense_image_warp.py
Labels: cla: yes, image

#1909 Handle the so loading in dev mode
  tensorflow_addons/register.py
  tensorflow_addons/utils/resource_loader.py
  tools/run_gpu_tests.sh
  tools/testing/build_and_run_tests.sh
Labels: cla: yes, test-cases

#2355 Default compile with AVX support
  configure.py
Labels: backport r0.12, cla: yes

#2356 Documentation fix
  tensorflow_addons/image/transform_ops.py
Labels: cla: yes, image

#2367 Minor formatting fix for AttentionWrapper example
  tensorflow_addons/seq2seq/attention_wrapper.py
Labels: cla: yes, seq2seq

#2368 Lookahead optimizer: Initialize slow vars when adding slot
  tensorflow_addons/optimizers/lookahead.py
Labels: cla: yes, optimizers

#2373 Set build against 2.4.1
  .github/workflows/release.yml
Labels: cla: yes, github

#2376 Bump patch version 0.12
  tensorflow_addons/version.py
Labels: cla: yes

#2375 Update Compat Matrix
  README.md
Labels: cla: yes

#2378 Use full length SHA per GitHub guidelines
  .github/workflows/backport.yml
  .github/workflows/release-drafter.yml
Labels: cla: yes, github
