Repository tensorflow/addons, pull requests merged in 2021-03, with the labels that each got.

#2397 Switch custom ops
  README.md
  tensorflow_addons/__init__.py
  tensorflow_addons/image/distort_image_ops.py
  tensorflow_addons/options.py
  tensorflow_addons/seq2seq/beam_search_decoder.py
  tensorflow_addons/seq2seq/tests/beam_search_ops_test.py
  tensorflow_addons/utils/resource_loader.py
  tensorflow_addons/utils/test_utils.py
  tools/docs/build_docs.py
Labels: activations, cla: yes, image, seq2seq

#2402 Optimize EDT
  tensorflow_addons/custom_ops/image/cc/kernels/euclidean_distance_transform_op.cc
  tensorflow_addons/custom_ops/image/cc/kernels/euclidean_distance_transform_op.h
  tensorflow_addons/custom_ops/image/cc/kernels/euclidean_distance_transform_op_gpu.cu.cc
  tensorflow_addons/custom_ops/image/cc/ops/image_ops.cc
  tensorflow_addons/image/distance_transform.py
  tensorflow_addons/image/tests/distance_transform_test.py
Labels: cla: yes, custom-ops, image

#2412 fix float16 and float64 kernels
  tensorflow_addons/custom_ops/image/cc/kernels/euclidean_distance_transform_op.cc
  tensorflow_addons/custom_ops/image/cc/kernels/euclidean_distance_transform_op_gpu.cu.cc
  tensorflow_addons/image/tests/distance_transform_test.py
Labels: cla: yes, custom-ops, image

#2416 Update cutout_ops.py
  tensorflow_addons/image/cutout_ops.py
Labels: cla: yes, image

#2370 New contributions guidelines
  .github/ISSUE_TEMPLATE/feature-request.md
  CONTRIBUTING.md
Labels: cla: yes, github

#2430 Fix CUDA path envvar in website instructions
  docs/overview.md
Labels: cla: yes, documentation
