Repository tensorflow/addons, pull requests merged in 2021-08, with the labels that each got.

#2540 Modify configure.py to recognize 'aarch64' for 64-Bit Raspberry Pi OS
  configure.py
Labels: cla: yes

#2516 Build against TF2.6.0
  .github/workflows/release.yml
  CONTRIBUTING.md
  tensorflow_addons/callbacks/average_model_checkpoint.py
  tensorflow_addons/text/tests/crf_test.py
  tensorflow_addons/utils/resource_loader.py
  tensorflow_addons/utils/test_utils.py
  tensorflow_addons/utils/types.py
  tensorflow_addons/version.py
  tools/build_dev_container.sh
  tools/docker/cpu_tests.Dockerfile
  tools/install_deps/tensorflow-cpu.txt
  tools/install_deps/tensorflow.txt
  tools/run_gpu_tests.sh
Labels: text, cla: yes, callbacks, github

#2545 Remove compatibility code for TensorFlow < 2.4
  README.md
  tensorflow_addons/activations/gelu.py
  tensorflow_addons/callbacks/average_model_checkpoint.py
  tensorflow_addons/image/tests/transform_ops_test.py
  tensorflow_addons/image/transform_ops.py
Labels: image, cla: yes, activations, callbacks

#2547 Update compatibility matrix
  README.md
Labels: cla: yes

#2546 Bump to 0.15
  tensorflow_addons/version.py
Labels: cla: yes

#2554 Documentation fixes
  tensorflow_addons/losses/focal_loss.py
Labels: losses, cla: yes
