Repository tensorflow/addons, pull requests merged in 2021-09, with the labels that each got.

#2556 Add a codeowner for CRF
  .github/CODEOWNERS
Labels: cla: yes, github

#2557 Fixed documentaion typo
  tensorflow_addons/losses/sparsemax_loss.py
Labels: losses, cla: yes

#2560 Fix minor grammar error in docs
  tensorflow_addons/losses/quantiles.py
Labels: losses, cla: yes

#2559 Add support for publishing macOS M1 ARM64 wheels
  .github/workflows/make_wheel_Linux_x86.sh
  .github/workflows/make_wheel_Windows_x86.sh
  .github/workflows/make_wheel_macOS_arm64.sh
  .github/workflows/make_wheel_macOS_x86.sh
  .github/workflows/release.yml
Labels: cla: yes, github

#2562 [r0.14-cherry-pick] Add support for publishing macOS M1 ARM64 wheels
  .github/workflows/make_wheel_Linux_x86.sh
  .github/workflows/make_wheel_Windows_x86.sh
  .github/workflows/make_wheel_macOS_arm64.sh
  .github/workflows/make_wheel_macOS_x86.sh
  .github/workflows/release.yml
Labels: cla: yes, github

#2563 [r0.13-cherry-pick] Add support for publishing macOS M1 ARM64 wheels
  .github/workflows/make_wheel_Linux_x86.sh
  .github/workflows/make_wheel_Windows_x86.sh
  .github/workflows/make_wheel_macOS_arm64.sh
  .github/workflows/make_wheel_macOS_x86.sh
  .github/workflows/release.yml
Labels: cla: yes, github

#2565 Fix ARM wheel uploading in release script
  .github/workflows/release.yml
Labels: cla: yes, github

#2566 [r0.13: cherry-pick] Fix ARM wheel uploading in release script
  .github/workflows/release.yml
Labels: cla: yes, github

#2567 [r0.14: cherry-pick] Fix ARM wheel uploading in release script
  .github/workflows/release.yml
Labels: cla: yes, github

#2538 Update optimizers_cyclicallearningrate.ipynb
  docs/tutorials/optimizers_cyclicallearningrate.ipynb
Labels: tutorials, documentation, cla: yes

#2568 fix edt float16 kernel
  tensorflow_addons/custom_ops/image/cc/kernels/euclidean_distance_transform_op.h
Labels: cla: yes, custom-ops

#2572 Correct documentation for Snake activation to match literature and return statement
  tensorflow_addons/activations/snake.py
Labels: cla: yes, activations

#2573 Remove bad link.
  docs/tutorials/layers_normalizations.ipynb
Labels: tutorials, documentation, cla: yes

#2570 Make Rectified Adam faster
  .github/CODEOWNERS
  tensorflow_addons/optimizers/rectified_adam.py
Labels: optimizers, cla: yes, github

#2551 bugfix for issue #2476
  tensorflow_addons/text/crf.py
  tensorflow_addons/text/tests/crf_test.py
Labels: text, cla: yes

#2576 fix mixed precision
  tensorflow_addons/layers/spectral_normalization.py
  tensorflow_addons/layers/tests/spectral_normalization_test.py
Labels: layers, cla: yes

#2577 remove useless args
  tensorflow_addons/text/skip_gram_ops.py
Labels: text, cla: yes
