Repository tensorflow/addons, pull requests merged in 2021-07, with the labels that each got.

#2505 Fix bugged gradients when combiner == 'MEAN'
  tensorflow_addons/layers/embedding_bag.py
  tensorflow_addons/layers/tests/embedding_bag_test.py
Labels: cla: yes, layers

#2518 Update sparsemax_loss.py
  tensorflow_addons/losses/sparsemax_loss.py
Labels: cla: yes, losses

#2504 Apple silicon support
  build_deps/build_pip_pkg.sh
Labels: build, cla: yes

#2517 Fix embedding bag gpu kernel
  tensorflow_addons/custom_ops/layers/cc/kernels/embedding_bag_backward_kernels.cu.cc
  tensorflow_addons/layers/embedding_bag.py
Labels: cla: yes, custom-ops, layers

#2531 Fix some typos
  docs/tutorials/average_optimizers_callback.ipynb
Labels: cla: yes, documentation, tutorials

#2450 Fix StochasticDepth layer error in training mixed_float16
  tensorflow_addons/layers/stochastic_depth.py
  tensorflow_addons/layers/tests/stochastic_depth_test.py
Labels: cla: yes, layers

#2533 Rename deprecated method
  tensorflow_addons/metrics/README.md
  tensorflow_addons/metrics/cohens_kappa.py
  tensorflow_addons/metrics/f_scores.py
  tensorflow_addons/metrics/geometric_mean.py
  tensorflow_addons/metrics/kendalls_tau.py
  tensorflow_addons/metrics/matthews_correlation_coefficient.py
  tensorflow_addons/metrics/multilabel_confusion_matrix.py
  tensorflow_addons/metrics/r_square.py
  tensorflow_addons/metrics/tests/cohens_kappa_test.py
  tensorflow_addons/metrics/tests/geometric_mean_test.py
  tensorflow_addons/metrics/tests/matthews_correlation_coefficient_test.py
  tensorflow_addons/metrics/tests/r_square_test.py
Labels: cla: yes, metrics
