Repository tensorflow/addons, pull requests merged in 2021-11, with the labels that each got.

#2591 Move CRFWrapper to tfa.text
  .github/CODEOWNERS
  tensorflow_addons/models/__init__.py
  tensorflow_addons/text/BUILD
  tensorflow_addons/text/__init__.py
  tensorflow_addons/text/crf_wrapper.py
  tensorflow_addons/text/tests/crf_wrapper_test.py
Labels: text, cla: no, github

#2585 Test build on tf2.7
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/ci_test.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  tensorflow_addons/tensorflow_addons.bzl
  tensorflow_addons/utils/resource_loader.py
  tensorflow_addons/version.py
  tools/build_dev_container.sh
  tools/docker/cpu_tests.Dockerfile
  tools/docker/pre-commit.Dockerfile
  tools/docker/sanity_check.Dockerfile
  tools/install_deps/tensorflow-cpu.txt
  tools/install_deps/tensorflow.txt
  tools/run_gpu_tests.sh
Labels: cla: yes, metrics, github

#2598 Use multipython image for dev container
  tools/docker/dev_container.Dockerfile
Labels: cla: yes

#2600 Drop macOS ARM wheels from 0.15 release
  .github/workflows/release.yml
Labels: cla: yes, github

#2599 Drop dev from 0.15
  tensorflow_addons/version.py
Labels: cla: yes

#2601 Update Compatibility Matrix
  README.md
Labels: cla: yes

#2603 Update version.py to 0.16
  tensorflow_addons/version.py
Labels: cla: yes

#2602 Drop py3.6 support from classifiers
  setup.py
Labels: cla: yes

#2594 Add MaxUnpooling2DV2 layer
  .github/CODEOWNERS
  tensorflow_addons/layers/__init__.py
  tensorflow_addons/layers/max_unpooling_2d_v2.py
  tensorflow_addons/layers/tests/max_unpooling_2d_v2_test.py
Labels: layers, cla: yes, test-cases, github

#2605 Allow c++14 for nvcc
  build_deps/toolchains/gpu/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc.tpl
Labels: cla: yes, build

#2607 Update TFLite concrete function conversion codes to have the associated
  tensorflow_addons/seq2seq/tests/decoder_test.py
Labels: cla: yes, seq2seq

#2606 Fix layers_normalizations.ipynb typos
  docs/tutorials/layers_normalizations.ipynb
Labels: tutorials, documentation, cla: yes

#2609 Generate Assertion Ops for interpolate_bilinear
  tensorflow_addons/image/dense_image_warp.py
  tensorflow_addons/image/tests/dense_image_warp_test.py
  tools/testing/source_code_test.py
Labels: image, cla: yes, test-cases

#2611 In LAMB optimizer, rename weight_decay_rate to weight_decay
  tensorflow_addons/optimizers/lamb.py
  tensorflow_addons/optimizers/tests/lamb_test.py
Labels: optimizers, cla: yes
