Repository tensorflow/addons, pull requests merged in 2021-04, with the labels that each got.

#2438 Fixed build on ppc
  configure.py
Labels: cla: yes

#2406 Matthew Fix
  tensorflow_addons/metrics/matthews_correlation_coefficient.py
  tensorflow_addons/metrics/tests/matthews_correlation_coefficient_test.py
Labels: cla: yes, metrics

#2423 Initial commit of streaming Kendall's Tau algorithm.
  .github/CODEOWNERS
  tensorflow_addons/metrics/__init__.py
  tensorflow_addons/metrics/kendalls_tau.py
  tensorflow_addons/metrics/tests/kendalls_tau_test.py
Labels: cla: yes, github, metrics

#2445 Make RSquare.reset_states to be able to run in tf.function
  tensorflow_addons/metrics/r_square.py
  tensorflow_addons/metrics/tests/r_square_test.py
Labels: cla: yes, metrics

#2451 Correct Spelling Of the word Bahdanau
  tensorflow_addons/seq2seq/attention_wrapper.py
Labels: cla: yes, seq2seq

#2460 Fixed typo in README.md
  README.md
Labels: cla: yes

#2462 Fix F1Score docs
  tensorflow_addons/metrics/f_scores.py
Labels: cla: yes, metrics
