Repository tensorflow/addons, pull requests merged in 2021-02, with the labels that each got.

#2286 Update cyclical_learning_rate.py
  tensorflow_addons/optimizers/cyclical_learning_rate.py
Labels: cla: yes, optimizers

#2369 RectifiedAdam: Store 'total_steps' hyperparameter as float
  tensorflow_addons/optimizers/rectified_adam.py
  tensorflow_addons/optimizers/tests/rectified_adam_test.py
Labels: cla: yes, optimizers

#2377 Update to 2.4.1 dependency
  .github/workflows/release.yml
  CONTRIBUTING.md
  tensorflow_addons/activations/mish.py
  tools/build_dev_container.sh
  tools/docker/cpu_tests.Dockerfile
  tools/install_deps/tensorflow-cpu.txt
  tools/install_deps/tensorflow.txt
  tools/run_gpu_tests.sh
Labels: activations, cla: yes, github

#2382 Update F-Beta score formula documentation
  tensorflow_addons/metrics/f_scores.py
Labels: cla: yes, metrics

#2386 Better mimic of RSquare sklearn implementation
  tensorflow_addons/metrics/r_square.py
  tensorflow_addons/metrics/tests/r_square_test.py
Labels: cla: yes, metrics

#2390 Fix RSquare serialization
  tensorflow_addons/metrics/r_square.py
  tensorflow_addons/metrics/tests/r_square_test.py
Labels: cla: yes, metrics

#2395 Remove ImageProjectiveTransform kernel
  tensorflow_addons/custom_ops/image/BUILD
  tensorflow_addons/custom_ops/image/cc/kernels/image_projective_transform_op.cc
  tensorflow_addons/custom_ops/image/cc/kernels/image_projective_transform_op.h
  tensorflow_addons/custom_ops/image/cc/kernels/image_projective_transform_op_gpu.cu.cc
  tensorflow_addons/custom_ops/image/cc/ops/image_ops.cc
Labels: cla: yes, custom-ops

#2393 Deprecate things that should be deprecated in v0.12
  tensorflow_addons/layers/gelu.py
  tensorflow_addons/losses/kappa_loss.py
Labels: cla: yes, layers, losses

#2394 Cleanup legacy codes for activations
  tensorflow_addons/activations/gelu.py
  tensorflow_addons/activations/hardshrink.py
  tensorflow_addons/activations/lisht.py
  tensorflow_addons/activations/mish.py
  tensorflow_addons/activations/rrelu.py
  tensorflow_addons/activations/softshrink.py
  tensorflow_addons/activations/tanhshrink.py
  tensorflow_addons/activations/tests/gelu_test.py
  tensorflow_addons/activations/tests/hardshrink_test.py
  tensorflow_addons/activations/tests/lisht_test.py
  tensorflow_addons/activations/tests/mish_test.py
  tensorflow_addons/activations/tests/rrelu_test.py
  tensorflow_addons/activations/tests/softshrink_test.py
Labels: activations, cla: yes

#2391 Unify normalize_tuple typing
  tensorflow_addons/image/filters.py
  tensorflow_addons/layers/max_unpooling_2d.py
Labels: cla: yes, image, layers

#2381 variable histogram bins added
  tensorflow_addons/image/color_ops.py
  tensorflow_addons/image/tests/color_ops_test.py
Labels: cla: yes, image

#2392 Add python fallback for adjust_hsv_in_yiq
  tensorflow_addons/image/distort_image_ops.py
  tensorflow_addons/image/tests/distort_image_ops_test.py
Labels: cla: yes, image

#2400 Do not cast to float32 when dtype is floating
  tensorflow_addons/image/distort_image_ops.py
  tensorflow_addons/image/tests/distort_image_ops_test.py
Labels: cla: yes, image

#2364 - Add adjr2
  tensorflow_addons/metrics/r_square.py
  tensorflow_addons/metrics/tests/r_square_test.py
Labels: cla: yes, metrics
