Repository tensorflow/addons, pull requests merged in 2022-02, with the labels that each got.

#2655 Remove one of the private import of tf.keras
  tensorflow_addons/seq2seq/attention_wrapper.py
Labels: seq2seq

#2656 Update source_code_test.py
  tools/testing/source_code_test.py
Labels: test-cases

#2657 Switch to non-experimental mixed precision API.
  tensorflow_addons/callbacks/tests/avg_model_checkpoint_test.py
  tensorflow_addons/layers/tests/noisy_dense_test.py
  tensorflow_addons/layers/tests/stochastic_depth_test.py
  tensorflow_addons/seq2seq/tests/attention_wrapper_test.py
  tensorflow_addons/seq2seq/tests/decoder_test.py
  tensorflow_addons/utils/test_utils.py
Labels: layers, seq2seq, callbacks

#2635 Build against tf2.8
  .github/workflows/release.yml
  CONTRIBUTING.md
  setup.py
  tensorflow_addons/image/tests/color_ops_test.py
  tensorflow_addons/image/tests/transform_ops_test.py
  tensorflow_addons/metrics/tests/matthews_correlation_coefficient_test.py
  tensorflow_addons/metrics/tests/r_square_test.py
  tensorflow_addons/text/tests/crf_test.py
  tensorflow_addons/utils/resource_loader.py
  tensorflow_addons/version.py
  tools/build_dev_container.sh
  tools/docker/build_wheel.Dockerfile
  tools/docker/cpu_tests.Dockerfile
  tools/docker/sanity_check.Dockerfile
  tools/install_deps/pytest.txt
  tools/install_deps/tensorflow-cpu.txt
  tools/install_deps/tensorflow.txt
  tools/run_gpu_tests.sh
Labels: text, image, metrics, callbacks, test-cases, github

#2663 :arrow_up: linting dependencies
  pyproject.toml
  tensorflow_addons/image/filters.py
  tensorflow_addons/losses/metric_learning.py
  tensorflow_addons/metrics/matthews_correlation_coefficient.py
  tensorflow_addons/optimizers/conditional_gradient.py
  tensorflow_addons/optimizers/cyclical_learning_rate.py
  tensorflow_addons/optimizers/tests/conditional_gradient_test.py
  tensorflow_addons/optimizers/tests/cyclical_learning_rate_test.py
  tensorflow_addons/optimizers/tests/weight_decay_optimizers_test.py
  tensorflow_addons/optimizers/tests/yogi_test.py
  tensorflow_addons/rnn/tests/esn_cell_test.py
  tools/install_deps/black.txt
  tools/install_deps/flake8.txt
Labels: image, losses, optimizers, metrics

#2670 :arrow_up: `scikit-learn`
  tensorflow_addons/metrics/tests/matthews_correlation_coefficient_test.py
  tensorflow_addons/metrics/tests/r_square_test.py
  tools/install_deps/pytest.txt
Labels: metrics

#2626 Fix under tested build on macos
  .github/workflows/make_wheel_Linux_x86.sh
  .github/workflows/make_wheel_Windows_x86.sh
  .github/workflows/make_wheel_macOS_x86.sh
  tools/docker/build_wheel.Dockerfile
Labels: github

#2676 Simplify `exclude_from_weight_decay` implementation
  tensorflow_addons/optimizers/tests/weight_decay_optimizers_test.py
  tensorflow_addons/optimizers/weight_decay_optimizers.py
Labels: optimizers

#2678 fix compute_output_shape behavior in normalizations.py
  tensorflow_addons/layers/normalizations.py
  tensorflow_addons/layers/tests/normalizations_test.py
Labels: layers
