Repository tensorflow/addons, pull requests merged in 2022-08, with the labels that each got.

#2739 Fix the Kendalls Tau metric when used in graph mode
  tensorflow_addons/metrics/kendalls_tau.py
  tensorflow_addons/metrics/tests/kendalls_tau_test.py
Labels: metrics

#2741 Add Kendall's Tau-c, Spearman's Rank, Pearson's Correlation metrics
  tensorflow_addons/metrics/__init__.py
  tensorflow_addons/metrics/kendalls_tau.py
  tensorflow_addons/metrics/streaming_correlations.py
  tensorflow_addons/metrics/tests/kendalls_tau_test.py
  tensorflow_addons/metrics/tests/streaming_correlations_test.py
Labels: metrics

#2742 Update code owners for `streaming_correlations.py`
  .github/CODEOWNERS
Labels: github

#2743 Optimization in `SpearmansRank` computation
  tensorflow_addons/metrics/streaming_correlations.py
Labels: metrics

#2722 Use consistent markdown formatting for the AdamW paper
  tensorflow_addons/optimizers/weight_decay_optimizers.py
Labels: optimizers

#2749 Fix wheel building for macos
  .github/workflows/make_wheel_macOS_arm64.sh
  .github/workflows/make_wheel_macOS_x86.sh
Labels: github

#2747 Correlation metrics optimization
  tensorflow_addons/metrics/streaming_correlations.py
Labels: metrics

#2751 Correlation metrics keras2.10 fix
  tensorflow_addons/metrics/tests/streaming_correlations_test.py
Labels: metrics
