Repository tensorflow/addons, pull requests merged in 2022-09, with the labels that each got.

#2744 Build Against TF 2.10
  .github/workflows/make_wheel_Linux_x86.sh
  .github/workflows/make_wheel_Windows_x86.sh
  .github/workflows/make_wheel_macOS_arm64.sh
  .github/workflows/make_wheel_macOS_x86.sh
  .github/workflows/release.yml
  CONTRIBUTING.md
  README.md
  WORKSPACE
  build_deps/build_pip_pkg.sh
  build_deps/tf_dependency/build_defs.bzl.tpl
  build_deps/tf_dependency/tf_configure.bzl
  configure.py
  tensorflow_addons/tensorflow_addons.bzl
  tensorflow_addons/utils/resource_loader.py
  tensorflow_addons/utils/test_utils.py
  tensorflow_addons/version.py
  tools/build_dev_container.sh
  tools/docker/build_wheel.Dockerfile
  tools/docker/cpu_tests.Dockerfile
  tools/install_deps/tensorflow-cpu.txt
  tools/install_deps/tensorflow.txt
  tools/run_gpu_tests.sh
  tools/testing/build_and_run_tests.sh
Labels: build, test-cases, github

#2764 Fix local build with GPU support
  build_deps/toolchains/gpu/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc.tpl
Labels: build

#2765 Replace tensorflow::Status::OK() with tensorflow::OkStatus().
  tensorflow_addons/custom_ops/image/cc/ops/resampler_ops.cc
  tensorflow_addons/custom_ops/layers/cc/kernels/correlation_cost_op.cc
  tensorflow_addons/custom_ops/layers/cc/kernels/correlation_cost_op_gpu.cu.cc
  tensorflow_addons/custom_ops/layers/cc/ops/correlation_cost_op.cc
  tensorflow_addons/custom_ops/layers/cc/ops/embedding_bag_ops.cc
  tensorflow_addons/custom_ops/seq2seq/cc/ops/beam_search_ops.cc
  tensorflow_addons/custom_ops/text/cc/ops/skip_gram_ops.cc
Labels: custom-ops
