Repository tensorflow/addons, pull requests merged in 2022-06, with the labels that each got.

#2721 Update patch releases for breaking protobuf
  .github/workflows/release.yml
  CONTRIBUTING.md
  tools/build_dev_container.sh
  tools/docker/cpu_tests.Dockerfile
  tools/install_deps/tensorflow-cpu.txt
  tools/install_deps/tensorflow.txt
  tools/run_gpu_tests.sh
Labels: github

#2724 Fix delete behavior
  configure.py
  tensorflow_addons/custom_ops/image/cc/kernels/euclidean_distance_transform_op.h
Labels: custom-ops

#2714 Increment MultiOptimizer iterations after each apply_gradients
  tensorflow_addons/optimizers/discriminative_layer_training.py
  tensorflow_addons/optimizers/tests/discriminative_layer_training_test.py
  tools/testing/source_code_test.py
Labels: optimizers, test-cases

#2723 Update patch releases on 0.17
  .github/workflows/release.yml
  CONTRIBUTING.md
  README.md
  tensorflow_addons/image/color_ops.py
  tools/build_dev_container.sh
  tools/docker/cpu_tests.Dockerfile
  tools/install_deps/tensorflow-cpu.txt
  tools/install_deps/tensorflow.txt
  tools/run_gpu_tests.sh
Labels: image, github

#2726 Add Python 3.10 support for `r0.17` of Apple silicon.
  .github/workflows/release.yml
Labels: github

#2706 Point optimizer to tf.keras.optimizer.legacy.Optimizer to be compatib…
  tensorflow_addons/optimizers/__init__.py
  tensorflow_addons/optimizers/adabelief.py
  tensorflow_addons/optimizers/average_wrapper.py
  tensorflow_addons/optimizers/cocob.py
  tensorflow_addons/optimizers/conditional_gradient.py
  tensorflow_addons/optimizers/constants.py
  tensorflow_addons/optimizers/cyclical_learning_rate.py
  tensorflow_addons/optimizers/discriminative_layer_training.py
  tensorflow_addons/optimizers/lamb.py
  tensorflow_addons/optimizers/lazy_adam.py
  tensorflow_addons/optimizers/lookahead.py
  tensorflow_addons/optimizers/moving_average.py
  tensorflow_addons/optimizers/novograd.py
  tensorflow_addons/optimizers/proximal_adagrad.py
  tensorflow_addons/optimizers/rectified_adam.py
  tensorflow_addons/optimizers/tests/standard_test.py
  tensorflow_addons/optimizers/tests/weight_decay_optimizers_test.py
  tensorflow_addons/optimizers/weight_decay_optimizers.py
  tensorflow_addons/optimizers/yogi.py
  tensorflow_addons/utils/types.py
  tools/testing/source_code_test.py
Labels: optimizers, test-cases
