Repository tensorflow/addons, pull requests merged in 2022-04, with the labels that each got.

#2684 Docs: Fix one link to the FlowNet paper
  tensorflow_addons/layers/optical_flow.py
Labels: layers

#2688 Add T=bfloat16 to custom_ops registration
  tensorflow_addons/custom_ops/image/cc/ops/distort_image_ops.cc
  tensorflow_addons/custom_ops/image/cc/ops/image_ops.cc
  tensorflow_addons/custom_ops/image/cc/ops/resampler_ops.cc
  tensorflow_addons/custom_ops/layers/cc/ops/embedding_bag_ops.cc
Labels: custom-ops

#2692 Fix typo in average optimizers callback
  docs/tutorials/average_optimizers_callback.ipynb
Labels: tutorials, documentation

#2695 Only generate ptx for highest compute capability
  build_deps/toolchains/gpu/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc.tpl
Labels: build
