Repository tensorflow/addons, pull requests merged in 2022-01, with the labels that each got.

#2624 exclude_from_weight_decay for AdamW and SGDW
  tensorflow_addons/optimizers/lamb.py
  tensorflow_addons/optimizers/tests/lamb_test.py
  tensorflow_addons/optimizers/tests/weight_decay_optimizers_test.py
  tensorflow_addons/optimizers/utils.py
  tensorflow_addons/optimizers/weight_decay_optimizers.py
Labels: optimizers

#2649 Update hardshrink.py
  tensorflow_addons/activations/hardshrink.py
Labels: documentation, activations

#2642 Fix kwargs in crf_decode_forward
  tensorflow_addons/text/crf.py
  tensorflow_addons/text/tests/crf_test.py
Labels: text
