Repository tensorflow/addons, pull requests merged in 2022-05, with the labels that each got.

#2702 AUTOTUNE 'y_shape'
  tensorflow_addons/metrics/r_square.py
  tensorflow_addons/metrics/tests/r_square_test.py
Labels: metrics

#2705 Failing to restore AdaBelief optimizer from checkpoint
  tensorflow_addons/optimizers/adabelief.py
  tensorflow_addons/optimizers/tests/adabelief_test.py
Labels: optimizers

#2696 Build against TF 2.9
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/make_wheel_Windows_x86.sh
  .github/workflows/release.yml
  CONTRIBUTING.md
  README.md
  WORKSPACE
  build_deps/toolchains/gcc7_manylinux2010-nvcc-cuda11/BUILD
  build_deps/toolchains/gcc7_manylinux2010-nvcc-cuda11/cc_toolchain_config.bzl
  build_deps/toolchains/gcc7_manylinux2010-nvcc-cuda11/clang/bin/crosstool_wrapper_driver_is_not_gcc
  configure.py
  tensorflow_addons/utils/resource_loader.py
  tensorflow_addons/utils/test_utils.py
  tensorflow_addons/version.py
  tools/build_dev_container.sh
  tools/docker/build_wheel.Dockerfile
  tools/docker/cpu_tests.Dockerfile
  tools/install_deps/tensorflow-cpu.txt
  tools/install_deps/tensorflow.txt
  tools/install_so_files.sh
  tools/run_gpu_tests.sh
Labels: build, github
