Repository tensorflow/addons, pull requests merged in 2023-02, with the labels that each got.

#2804 Update embedding_bag.py for save_model in 'tf' mode
  tensorflow_addons/layers/embedding_bag.py
Labels: layers

#2815 Fix Cutout memory leak
  tensorflow_addons/image/cutout_ops.py
Labels: image

#2816 Fix Test Suite
  build_deps/toolchains/gpu/crosstool/BUILD.tpl
  tensorflow_addons/BUILD
  tensorflow_addons/callbacks/tests/tqdm_progress_bar_test.py
  tensorflow_addons/image/tests/connected_components_test.py
  tensorflow_addons/testing/tests/serialization_test.py
  tensorflow_addons/text/tests/crf_test.py
  tools/install_deps/doc_requirements.txt
  tools/install_deps/pytest.txt
Labels: text, image, build, callbacks
