Repository tensorflow/addons, pull requests merged in 2023-03, with the labels that each got.

#2801 Fix MCC formula typo
  tensorflow_addons/metrics/matthews_correlation_coefficient.py
Labels: metrics

#2812 Specify default values explicitly
  tensorflow_addons/image/tests/sparse_image_warp_test.py
Labels: image

#2817 fix wrong hints
  tensorflow_addons/optimizers/average_wrapper.py
  tensorflow_addons/optimizers/lookahead.py
Labels: optimizers
